<template>
  <div class="fadein" v-if="!loading">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ categoriesText }}</h1>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar @componentVoiceCommands="addComponentVoiceCommands" />
      </div>
    </div>
    <div class="search-results"
      v-bind:class="{ 'search-results_ada' : isAda }"
      v-on:create="scrollHandler"
      v-on:update="scrollHandler"
    >
      <ul class="search-results-list">
          <category-card
	          v-for="item in categories"
	          v-bind:item="item"
	          v-bind:key="item.id"
            :isAda="isAda"
            @componentVoiceCommands="addComponentVoiceCommands"
	        ></category-card>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .search-results {
    height: 1150px;
    margin: 0 auto;
    overflow-y: scroll;
    padding-bottom: 75px;
    width: 830px;
  }

  .search-results_ada {
    max-height: 475px;
    padding-bottom: 150px;
  }

  .search-results-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
</style>

<script>
import router from '@/router/router';
import CategoryCard from '@/components/CategoryCard.vue';
import FloorDirectory from '@/components/FloorDirectory.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import SearchCard from '@/components/Search/SearchCard.vue';

export default {
  name: 'categories',
  components: {
    CategoryCard,
    FloorDirectory,
    SearchBar,
    SearchCard,
  },
  data() {
    return {
      loading: true,
      hiddenCategories: [
        'services',
        'food & beverage',
      ],
      hiddenPOIs: [
        'atm',
      ],
      categoriesText: '',
      componentVoiceCommands: [],
    };
  },
  props: {
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    getCategoryPOIs(categoryId) {
      return this.pois.filter((poi) => poi.categories.includes(categoryId));
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  beforeDestroy() {
    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    if (!this.categories || !this.pois) {
      await this.$store.dispatch('appData/GET_ALL_DATA');
    }

    this.loading = false;

    this.categoriesText = await this.getDynamicTranslation('categories');
  },
  computed: {
    categories() {
      const allCategories = this.$store.getters['appData/CATEGORIES'];

      allCategories.forEach((category) => {
        category.pois = this.getCategoryPOIs(category.id);
      });

      return allCategories.filter(
        (category) =>
          category.pois.length > 0
          && !this.hiddenCategories.includes(category.name.toLowerCase()),
      );
    },
    pois() {
      const allPOIs = this.$store.getters['appData/POIS'];

      return allPOIs.filter((poi) => !this.hiddenPOIs.includes(poi.name.toLowerCase()));
    },
  },
};
</script>