<template>
  <div class="fadein">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ categoriesText }}</h1>
      <div class="pageHeader-subtitle">{{ designersText }}</div>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar @componentVoiceCommands="addComponentVoiceCommands" />
      </div>
    </div>
    <div class="search-results"
      v-bind:class="{ 'search-results_ada' : isAda }"
      v-on:create="scrollHandler"
      v-on:update="scrollHandler"
      ref="pageContainer"
    >
      <div class="search-results-title">{{ categoryNameText }}</div>
      <ul class="search-results-list">
        <search-card
          v-for="item in categoryPOIs"
          v-bind:item="item"
          v-bind:key="item.id"
          :isCategoryDesignerCard="true"
          :isAda="isAda"
          @componentVoiceCommands="addComponentVoiceCommands"
        ></search-card>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .search-results {
    height: 1150px;
    margin: 0 auto;
    overflow-y: scroll; 
    padding-bottom: 75px;
    width: 830px;
  }

  .search-results_ada {
    max-height: 450px;
  }

  .search-results-title {
    font-family: 'Gotham-Bold';
    font-size: 38px;
    margin-bottom: 50px; 
    text-align: center;
    text-transform: uppercase;
  }

  .search-results-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';
import FloorDirectory from '@/components/FloorDirectory.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import SearchCard from '@/components/Search/SearchCard.vue';

export default {
  name: 'category-designers',
  components: {
    FloorDirectory,
    SearchBar,
    SearchCard,
  },
  data() {
    return {
      loading: true,
      hiddenPOIs: [
        'atm',
      ],
      designersText: '',
      categoriesText: '',
      categoryNameText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  props : {
    categoryId: {
      type: String,
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    getCategoryLevelString,
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  async created() {
    if (!this.categoryPOIs) {
      await this.$store.dispatch('appData/GET_ALL_DATA');
    }

    this.loading = false;

    this.designersText = await this.getDynamicTranslation('Designers');
    this.categoriesText = await this.getDynamicTranslation('Categories');
    this.categoryNameText = await this.getDynamicTranslation(this.category.name);
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ 'top', 'first' ],
        action: () => {
          this.$refs.pageContainer.scroll(0, 0);
        },
      },
      {
        indexes: [ 'bottom', 'last' ],
        action: () => {
          this.$refs.pageContainer.scroll(0, this.$refs.pageContainer.scrollHeight);
        },
      },
      {
        indexes: [ 'scroll up', 'go up', 'up', 'previous' ],
        action: () => {
          const currentScrollTop = this.$refs.pageContainer.scrollTop;

          const newScrollTop = currentScrollTop === 0 || currentScrollTop < 800 ?
            0 :
            currentScrollTop - 800;

          this.$refs.pageContainer.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'scroll', 'scroll down', 'go down', 'down', 'see more', 'next' ],
        action: () => {
          const currentScrollTop = this.$refs.pageContainer.scrollTop;

          const newScrollTop = currentScrollTop + 800;

          this.$refs.pageContainer.scroll(0, newScrollTop);
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  computed: {
    categoryPOIs() {
      const allPOIs = this.$store.getters['appData/POIS'];

      return allPOIs.filter((poi) => poi.categories.includes(this.categoryId) &&
                                      !this.hiddenPOIs.includes(poi.name.toLowerCase()));
    },
    category() {
      const allCategories = this.$store.getters['appData/CATEGORIES'];

      return allCategories.find((category) => category.id === this.categoryId);
    },
  },
};
</script>