<template>
  <div class="fadein">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ designersText }}</h1>
      <div class="pageHeader-subtitle">{{ categoriesText }}</div>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar @componentVoiceCommands="addComponentVoiceCommands" />
      </div>
    </div>
    <div class="search-results"
      v-bind:class="{ 'search-results_ada' : isAda }"
      v-on:create="scrollHandler"
      v-on:update="scrollHandler"
    >
      <div class="search-results-title">{{ designerName }}</div>
      <ul class="search-results-list">
        <search-card
	          v-for="item in designerCategories"
	          v-bind:item="getDesignerCategoryPOIId(item.id)"
            v-bind:key="getDesignerCategoryPOIId(item.id).id"
            :isDesignerCategoryCard="true"
            :designerName="designerName"
            :category="item"
            :isAda="isAda"
            :pois="pois"
            @componentVoiceCommands="addComponentVoiceCommands"
	        ></search-card>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .search-results {
    margin: 0 auto;
    max-height: 1100px;
    overflow-y: scroll;
    padding-bottom: 75px;
    width: 830px;
  }

  .search-results_ada {
    max-height: 450px;
  }

  .search-results-title {
    font-family: 'Gotham-Bold';
    font-size: 38px;
    margin-bottom: 50px; 
    text-align: center;
    text-transform: uppercase;
  }

  .search-results-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';
import FloorDirectory from '@/components/FloorDirectory.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import SearchCard from '@/components/Search/SearchCard.vue';

export default {
  name: 'designer-categories',
  components: {
    FloorDirectory,
    SearchBar,
    SearchCard,
  },
  data() {
    return {
      loading: true,
      designersText: '',
      categoriesText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  props : {
    designerName: {
      type: String,
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    getCategoryLevelString,
    getDesignerCategoryPOI(categoryId) {
      return this.pois.filter((poi) =>
        poi.categories.includes(categoryId) &&
        poi.name.toLowerCase() === this.designerName.toLowerCase());
    },
    getDesignerCategoryPOIId(categoryId) {
      const poi = this.getDesignerCategoryPOI(categoryId);

      return poi[0];
    },
    viewDetails(item) {
      this.$router.push({
        name: 'wayfinder',
        params: { to: item.id },
      });
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    if (!this.categories) {
      await this.$store.dispatch('appData/GET_ALL_DATA');
    }

    this.loading = false;

    this.designersText = await this.getDynamicTranslation('Designers');
    this.categoriesText = await this.getDynamicTranslation('Categories');
  },
  computed: {
    designerCategories() {
      let categoryIds = [];

      this.designerPOIs.forEach((poi) => {
        categoryIds = categoryIds.concat(poi.categories);
      });

      return this.categories.filter((category) => [...new Set(categoryIds)].includes(category.id));
    },
    designerPOIs() {
      return this.pois.filter((poi) => poi.name && poi.name.toLowerCase() === this.designerName.toLowerCase());
    },
    categories() {
      return this.$store.getters['appData/CATEGORIES'];
    },
    pois() {
      return this.$store.getters['appData/POIS'];
    },
  },
};
</script>