<template>
  <div class="fadein">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ designersText }}</h1>

      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <SearchBar @componentVoiceCommands="addComponentVoiceCommands"/>
        <ul class="filter-byLetter">
          <li
            v-for="letter in alphas"
            v-bind:key="letter"
            v-bind:class="activeLetter === letter ? 'isActive' : ''"
            v-on:click="scrollToLetter($event, letter)">
            {{ letter.toUpperCase() }}
          </li>
        </ul>
      </div>
    </div>
    <div class="pageContainer" 
      v-bind:class="{ 'pageContainer_ada' : isAda }"
      v-on:create="scrollHandler" 
      v-on:update="scrollHandler"
      ref="pageContainer"
    >
      <div class="search-results-title">{{ mostSearchedForText }}</div>
      <ul class="search-results-list">
          <search-card
	          v-for="(item, index) in mostSearchedDesigners"
	          :item="item"
	          :key="index"
            :isDesignerCard="true"
            :isAda="isAda"
            @componentVoiceCommands="addComponentVoiceCommands"
	        ></search-card>
      </ul>

      <div
        class="search-results"
        v-bind:class="letter"
        v-for="letter in alphasWithPOIs"
        v-bind:key="letter">
        <div class="search-results-title">{{ letter.toUpperCase() }}</div>
        <ul class="search-results-list">
          <search-card
	          v-for="(item, index) in uniquePOINames.filter((poiName) => poiName.charAt(0).toLowerCase() === letter.toLowerCase())"
	          v-bind:item="item"
	          v-bind:key="index"
            :isDesignerCard="true"
            :isAda="isAda"
            @componentVoiceCommands="addComponentVoiceCommands"
	        ></search-card>
        </ul>
      </div>

    </div>
  </div>
</template>

<style lang="scss" scoped>
  .pageContainer {
    margin: 0 auto;
    max-height: 1100px;
    overflow-y: scroll;
    padding-bottom: 50px;
    width: 830px;
  }

  .pageContainer_ada {
    max-height: 400px;
    padding-bottom: 120px;
  }

  .search-results-title {
    font-family: 'Gotham-Bold';
    font-size: 38px;
    margin-bottom: 50px; 
    text-align: center;
    text-transform: uppercase;
  }

  .search-results-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

// FilterBy
  .filter-byLetter {
    color: #000;
    direction: ltr;
    display: flex;
    font-family: 'Gotham-Medium';
    font-size: 20px;
    justify-content: space-between;
    margin: 50px auto 0;
    width: 77.777%;

    & > * {
      flex: 1 0 auto;
      text-align: center;
    }

    & .isActive {
      background: transparent url(~@/assets/img/floor-color-bg.png) no-repeat 25% 30% scroll;
      border-radius: 18px;
      color: #fff;
      padding: 5px 0;
      position: relative;
      top: -5px;
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }
</style>

<script>
import { isAlpha } from '@/helpers';
import FloorDirectory from '@/components/FloorDirectory.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import SearchCard from '@/components/Search/SearchCard.vue';
import mostSearchedDesigners from '@/assets/static/mostSearchedDesigners.ts';
import router from '@/router/router';

export default {
  name: 'designers',
  components: {
    FloorDirectory,
    SearchBar,
    SearchCard,
  },
  data() {
    return {
      mostSearchedDesigners,
      hiddenCategories: [
        'services',
        'food & beverage',
      ],
      hiddenPOIs: [],
      activeLetter: '',
      alphas: [
        'a',
        'b',
        'c',
        'd',
        'e',
        'f',
        'g',
        'h',
        'i',
        'j',
        'k',
        'l',
        'm',
        'n',
        'o',
        'p',
        'q',
        'r',
        's',
        't',
        'u',
        'v',
        'w',
        'x',
        'y',
        'z',
      ],
      designersText: '',
      mostSearchedForText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  props: {
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    scrollToLetter(event, letter) {
      if (isAlpha(letter)) {
        this.activeLetter = letter;
        const targetElement = (document.querySelector('.search-results.' + letter.toLowerCase())) ?
          document.querySelector('.search-results.' + letter.toLowerCase()) :
          document.querySelector('.search-results.' + this.findNearestLetter(letter).toLowerCase());

        targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }
    },
    findNearestLetter(letter) {
      return (this.alphasWithPOIs[this.alphas.indexOf(letter.toLowerCase())]) ?
                this.alphasWithPOIs[this.alphas.indexOf(letter.toLowerCase())] :
                this.alphasWithPOIs[this.alphasWithPOIs.length - 1];
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  async created() {
    this.designersText = await this.getDynamicTranslation('Designers');
    this.mostSearchedForText = await this.getDynamicTranslation('Most Searched For');
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ 'the letter *', 'letter *', 'filter *', 'go to letter *', 'go to *', 'scroll to *', 'go to the letter *', 'scroll to the letter *' ],
        smart: true,
        action: (i, wildcard) => {
          if (this.alphas.includes(wildcard.toLowerCase())) {
            this.scrollToLetter(null, wildcard.toLowerCase());
          }
        },
      },
      {
        indexes: [ 'top', 'first' ],
        action: () => {
          this.$refs.pageContainer.scroll(0, 0);
        },
      },
      {
        indexes: [ 'bottom', 'last' ],
        action: () => {
          this.$refs.pageContainer.scroll(0, this.$refs.pageContainer.scrollHeight);
        },
      },
      {
        indexes: [ 'scroll up', 'go up', 'up', 'previous' ],
        action: () => {
          const currentScrollTop = this.$refs.pageContainer.scrollTop;

          const newScrollTop = currentScrollTop === 0 || currentScrollTop < 800 ?
            0 :
            currentScrollTop - 800;

          this.$refs.pageContainer.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'scroll', 'scroll down', 'go down', 'down', 'see more', 'next' ],
        action: () => {
          const currentScrollTop = this.$refs.pageContainer.scrollTop;

          const newScrollTop = currentScrollTop + 800;

          this.$refs.pageContainer.scroll(0, newScrollTop);
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  computed: {
    alphasWithPOIs() {
      return this.alphas.filter((alpha) =>
        (this.pois.filter((poi) => poi.name.substring(0, 1).toLowerCase() === alpha).length) > 0);
    },
    pois() {
      const allPOIs = this.$store.getters['appData/POIS'];

      const categories = this.$store.getters['appData/CATEGORIES'];

      const hiddenCategoryIds = this.hiddenCategories.map(
        (hiddenCategory) =>
          categories.find(
            (category) =>
              category.name.toLowerCase() === hiddenCategory,
          ).id,
      );

      return allPOIs.filter(
        (poi) =>
          !this.hiddenPOIs.includes(poi.name.toLowerCase())
          && poi.categories.filter(
            (category) =>
              hiddenCategoryIds.includes(category).length === -1));
    },
    uniquePOINames() {
      return [...new Set(this.pois.map((poi) => poi.name))];
    },
  },
};
</script>