<template>
  <div class="fadein">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ diningText }}</h1>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar @componentVoiceCommands="addComponentVoiceCommands" />
      </div>
    </div>
    <div class="pageContainer" v-on:create="scrollHandler" v-on:update="scrollHandler">
      <ul class="diningListing" v-bind:class="{ 'diningListing_ada' : isAda }" ref="diningListing">
        <dining-card
          v-for="item in diningPOIs"
          :key="item.id"
          :item="item"
          :isAda="isAda"
          class="diningListing-item"
          @componentVoiceCommands="addComponentVoiceCommands"
        />
      </ul>
      <div class="scrollIndicator">
        <icon-base class="scrollIndicator-icon" :width="60" :height="60" iconColor="black" stroke="transparent"><ScrollArrowIcon /></icon-base>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .diningListing {
    height: 1200px;
    margin: 0 auto;
    overflow-y: scroll;
    padding-bottom: 100px;
    width: 77.777%;
  }

  .diningListing-item {
    margin-bottom: 80px;
  }

  .diningListing-item-img {
    margin-bottom: 30px;
  }

  .diningListing-item-content-title {
    font-family: 'Gotham-Bold';
    font-size: 24px;
    margin-bottom: 5px;
  }

  .diningListing-item-content-level {
    font-family: 'Gotham-Bold';
    font-size: 18px;
    margin-bottom: 30px;
  }

  .diningListing-item-content-description {
    font-family: "Gotham-Light";
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 35px;
  }

  .diningListing-item-content-cta {
    font-family: 'Gotham-Medium';
  }

  .diningListing_ada {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 475px;

    & > * {
      flex: 1 0 50%;
      max-width: calc(50% - 10px);
      overflow: hidden;

      &:nth-child(even) {
        margin-left: 20px;
      }
    }
  }
  
  body[style*="direction: rtl"] .diningListing_ada > *:nth-child(even) {
    margin-left: 0;
  }

  body[style*="direction: rtl"] .diningListing_ada > *:nth-child(odd) {
    margin-left: 20px;
  }

  // Scroll Indicator
  .scrollIndicator {
    bottom: 115px;
    height: 60px;
    left: 50%;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
  }

  .scrollIndicator-icon {
    height: 60px;
    left: 15px;
    position: relative;
    width: 60px;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';
import DiningCard from '@/components/DiningCard.vue';
import FloorDirectory from '@/components/FloorDirectory.vue';
import ScrollArrowIcon from '@/components/Icons/ScrollArrow.vue';
import SearchBar from '@/components/Search/SearchBar.vue';

export default {
  name: 'dining',
  components: {
    DiningCard,
    FloorDirectory,
    ScrollArrowIcon,
    SearchBar,
  },
  data() {
    return {
      diningText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  props: {
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    moveItemToFirstPosition(itemName, arr) {
      return arr.reduce((acc, element) => {
        if (element.name === itemName) {
          return [element, ...acc];
        }
        return [...acc, element];
      }, []);
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    this.diningText = await this.getDynamicTranslation('dining');
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ 'scroll up', 'go up', 'up', 'previous' ],
        action: () => {
          const currentScrollTop = this.$refs.diningListing.scrollTop;

          const newScrollTop = currentScrollTop === 0 || currentScrollTop < 800 ?
            0 :
            currentScrollTop - 800;

          this.$refs.diningListing.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'scroll', 'scroll down', 'go down', 'down', 'see more', 'next' ],
        action: () => {
          const currentScrollTop = this.$refs.diningListing.scrollTop;

          const newScrollTop = currentScrollTop + 800;

          this.$refs.diningListing.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'top' ],
        action: () => {
          this.$refs.diningListing.scroll(0, 0);
        },
      },
      {
        indexes: [ 'bottom' ],
        action: () => {
          this.$refs.diningListing.scroll(0, (this.diningPOIs.length - 1) * 800);
        },
      },
      {
        indexes: [ 'last' ],
        action: () => {
          this.$router.push({
            name: 'wayfinder',
            params: { to: this.diningPOIs[this.diningPOIs.length - 1].id },
          });
        },
      },
      {
        indexes: [ 'first' ],
        action: () => {
          this.$router.push({
            name: 'wayfinder',
            params: { to: this.diningPOIs[0].id },
          });
        },
      },
      {
        indexes: [  'more info', 'this one', 'that one', 'show me this one', 'what is this', 'more details',
                    'directions', 'how do I get', 'find my way', 'instructions', 'show me how to get there',
                    'where is it', 'show me the path' ],
        action: () => {
          const currentScrollTop = this.$refs.diningListing.scrollTop;

          const currentIndex = Math.round(currentScrollTop / 800);

          this.$router.push({
            name: 'wayfinder',
            params: { to: this.diningPOIs[currentIndex].id },
          });
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  computed: {
    diningPOIs() {
      const categories = this.$store.getters['appData/CATEGORIES'];
      const pois = this.$store.getters['appData/POIS'];

      const diningCategory = categories.find((category) => category.name.toLowerCase().includes('food'));

      const diningPOIs = pois.filter((poi) => poi.categories.includes(diningCategory.id));

      let sortedArr = this.moveItemToFirstPosition('Fika', diningPOIs);

      sortedArr = this.moveItemToFirstPosition('Le Chalet', sortedArr);
      sortedArr = this.moveItemToFirstPosition(`L'Avenue`, sortedArr);

      return sortedArr;
    },
  },
};
</script>