<template>
  <div class="fadein">
    <div class="pageHeader">
      <h1 class="h1">{{ levelText }} {{ currentFloorNumber }}</h1>
    </div>
    <FloorNav
      :levels="levels"
      :currentFloorId="currentFloorId"
      :allowedLevelIds="levels.map((level) => level.id)"
      :isAda="isAda"
      @changeFloor="changeFloor"
      @componentVoiceCommands="addComponentVoiceCommands"
    />
    <div class="mapAndOptions-container">
      <venue-map
        :currentFloorId="currentFloorId"
        @componentVoiceCommands="addComponentVoiceCommands"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .pageHeader {
    margin-bottom: 20px;
  }

  .mapAndOptions-container {
    position: relative;
  }

  .mapAndOptions-container /deep/ .map-container {
    margin-top: 0;
  }
</style>

<script>
import numWords from 'num-words';
import { logError, getNumberPosition } from '@/helpers';
import FloorNav from '@/components/Map/FloorNav.vue';
import VenueMap from '@/components/Map/VenueMap.vue';

export default {
  name: 'Floors',
  components: {
    FloorNav,
    VenueMap,
  },
  props: {
    floorId: {
      type: String,
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentFloorId: '5d76b761ff4bdb00110b0a09',
      currentFloorNumber: '',
      levelText: '',
      componentVoiceCommands: [],
    };
  },
  beforeDestroy() {
    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    this.currentFloorId = this.floorId;

    this.levelText = await this.getDynamicTranslation('Level');
  },
  methods: {
    changeFloor(options) {
      this.currentFloorId = options.levelId;
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  computed: {
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];
      const currentLevel = unsortedLevels.find((level) => level.id === this.currentFloorId);
      this.currentFloorNumber = currentLevel.number === -1 ? 'LL' : currentLevel.number + 1;

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
  },
  watch: {
    floorId(newVal) {
      this.currentFloorId = newVal;
    },
  },
};
</script>