<template>
  <div v-if="!loading">
    <div class="content-holder fadein">
      <FloorDirectory :isAda="isAda" />
      <section class="search-container">
        <SearchBar v-bind:hasLanguageSelect="true" @componentVoiceCommands="addComponentVoiceCommands" />
      </section>
      <section class="button-container">
        <ul class="categories-buttons">
          <li class="categories-buttons-btn" v-on:click="$router.push({ path: '/designers' })">
            <div class="categories-buttons-btn-card">
              <icon-base
                class="categories-buttons-btn-card-icon"
                :width="79.4"
                :height="76"
                iconColor="transparent"
                stroke="black"
              >
                <DesignersIcon />
              </icon-base>
              <div class="categories-buttons-btn-card-text">{{ designersText }}</div>
            </div>
          </li>
          <li class="categories-buttons-btn" v-on:click="$router.push({ path: '/categories' })">
            <div class="categories-buttons-btn-card">
              <icon-base
                class="categories-buttons-btn-card-icon"
                :width="82.6"
                :height="55.8"
                iconColor="white"
                stroke="black"
              >
                <CategoriesIcon />
              </icon-base>
              <div class="categories-buttons-btn-card-text">{{ categoriesText }}</div>
            </div>
          </li>
          <li class="categories-buttons-btn" v-on:click="$router.push({ path: '/dining' })">
            <div class="categories-buttons-btn-card">
              <icon-base
                class="categories-buttons-btn-card-icon"
                :width="49.8"
                :height="78.2"
                iconColor="transparent"
                stroke="black"
              >
                <DiningIcon />
              </icon-base>
              <div class="categories-buttons-btn-card-text">{{ diningText }}</div>
            </div>
          </li>
          <li class="categories-buttons-btn categories-buttons-btn_hasChildButtons">
            <ul class="categories-buttons">
              <li class="categories-buttons-btn" @click="goToNearestRestroomsPage">
                <div class="categories-buttons-btn-card">
                  <icon-base
                    class="categories-buttons-btn-card-icon"
                    :width="52.9"
                    :height="44.6"
                    iconColor="transparent"
                    stroke="black"
                  >
                    <RestroomsIcon />
                  </icon-base>
                  <div class="categories-buttons-btn-card-text">{{ restroomsText }}</div>
                </div>
              </li>
              <li class="categories-buttons-btn" @click="goToSaksPickup">
                <div class="categories-buttons-btn-card">
                  <icon-base
                    class="categories-buttons-btn-card-icon"
                    :width="32.3"
                    :height="41.3"
                    iconColor="transparent"
                    stroke="black"
                  >
                    <SaksDotComIcon />
                  </icon-base>
                  <div class="categories-buttons-btn-card-text">{{ saksPickupText }}</div>
                </div>
              </li>
              <li class="categories-buttons-btn" @click="goToCustomerService">
                <div class="categories-buttons-btn-card">
                  <icon-base
                    class="categories-buttons-btn-card-icon"
                    :width="33.8"
                    :height="40.1"
                    iconColor="transparent"
                    stroke="black"
                  >
                    <CustomerServiceIcon />
                  </icon-base>
                  <div class="categories-buttons-btn-card-text">{{ customerServiceText }}</div>
                </div>
              </li>
              <li
                class="categories-buttons-btn"
                v-on:click="$router.push({ path: '/saks-at-your-service' })"
              >
                <div class="categories-buttons-btn-card">
                  <icon-base
                    class="categories-buttons-btn-card-icon"
                    :width="53.4"
                    :height="32.8"
                    iconColor="transparent"
                    stroke="black"
                  >
                    <ServicesAmenitiesIcon />
                  </icon-base>
                  <div class="categories-buttons-btn-card-text">{{ servicesAmenitiesText }}</div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <FloorNav
        v-if="isAda"
        :levels="levels"
        :currentFloorId="kioskLevelId"
        :allowedLevelIds="levels.map((level) => level.id)"
        :isAda="true"
        :isOnHome="true"
        @changeFloor="changeFloor"
        @componentVoiceCommands="addComponentVoiceCommands"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.search-container {
  margin: 60px auto 0;
}

.button-container {
  margin: 0 auto 90px;
  position: relative;
  width: 830px;
  z-index: 2;
}

.categories-buttons {
  align-items: stretch;
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gotham-Medium";
  font-size: 24px;
  justify-content: space-evenly;
  width: 100%;
}

.categories-buttons-btn {
  align-items: center;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
  flex: 1 0 50%;
  height: 240px;
  justify-content: center;
  text-align: center;
  width: 50%;

  // nested buttons are half height.
  & .categories-buttons-btn {
    height: 120px;
  }
}

.categories-buttons-btn:nth-child(odd) {
  border-left: 0;
}

.categories-buttons-btn:nth-child(3),
.categories-buttons-btn:nth-child(4) {
  border-bottom: 0;
}

.categories-buttons-btn-card-icon {
  width: auto;
  stroke-width: 2px;
  margin-bottom: 30px;
}

.categories-buttons-btn-card-text {
  text-transform: uppercase;
}

.categories-buttons-btn-card {
  max-width: 50%;
}

.categories-buttons-btn_hasChildButtons .categories-buttons-btn-card-icon {
  margin-bottom: 10px;
}

.categories-buttons-btn_hasChildButtons .categories-buttons-btn-card {
  font-size: 16px;
}
</style>

<script>
import { Component, Vue } from 'vue-property-decorator';
import { getFirstWord, logTouch, getRoute, getNearestPOI, getNumberPosition } from '@/helpers';
import CategoriesIcon from '@/components/Icons/Categories.vue';
import CustomerServiceIcon from '@/components/Icons/CustomerService.vue';
import DesignersIcon from '@/components/Icons/Designers.vue';
import DiningIcon from '@/components/Icons/Dining.vue';
import Keyboard from '@/components/Keyboard.vue';
import RestroomsIcon from '@/components/Icons/Restrooms.vue';
import SaksDotComIcon from '@/components/Icons/SaksDotCom.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import ServicesAmenitiesIcon from '@/components/Icons/ServicesAmenities.vue';
import FloorDirectory from '@/components/FloorDirectory.vue';
import FloorNav from '@/components/Map/FloorNav.vue';

export default {
  name: 'home',
  components: {
    CategoriesIcon,
    CustomerServiceIcon,
    DesignersIcon,
    DiningIcon,
    Keyboard,
    RestroomsIcon,
    SaksDotComIcon,
    SearchBar,
    ServicesAmenitiesIcon,
    FloorDirectory,
    FloorNav,
  },
  data() {
    return {
      currentFloorNumber: '',
      loading: true,
      levelsWithTranslations: [],
      designersText: '',
      categoriesText: '',
      diningText: '',
      restroomsText: '',
      saksPickupText: '',
      customerServiceText: '',
      servicesAmenitiesText: '',
      timeoutInterval: 0,
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  props: {
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
    kioskLevelId() {
      const navNodes = this.$store.getters['appData/NAV_NODES'];
      const deviceFeatureId = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];

      if (navNodes && navNodes.find) {
        const deviceNavNode = navNodes.find((navNode) => navNode.properties.id === deviceFeatureId);

        const startingNavNode = deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.id ?
          deviceNavNode.properties.id :
          'n_5d7a46f73b1a6949f800000c';

        const startingPointNavNode = navNodes.find((navNode) => navNode.properties.id === startingNavNode);

        return startingPointNavNode ? startingPointNavNode.properties.level : '';
      } else {
        return '';
      }
    },
  },
  methods: {
    adaToggle() {
      this.$store.dispatch('appData/TOGGLE_ADA');
    },
    switchLanguage() {
      this.$store.dispatch('appData/SWITCH_LANGUAGE');
    },
    goToSaksPickup() {
      const pois = this.$store.getters['appData/POIS'];

      const saksPickupPOI = pois.find((poi) => poi.name.toLowerCase() === 'saks.com pickup');

      this.$router.push({
        name: 'wayfinder',
        params: { to: saksPickupPOI.id },
      });
    },
    goToCustomerService() {
      const pois = this.$store.getters['appData/POIS'];

      const customerServicePOI = pois.find((poi) => poi.name.toLowerCase() === 'customer service');

      this.$router.push({
        name: 'wayfinder',
        params: { to: customerServicePOI.id },
      });
    },
    goToNearestRestroomsPage() {
      this.$router.push({
        name: 'nearest-restrooms',
      });
    },
    changeFloor(item) {
      this.$router.push({
        name: 'floors-floor',
        params: { floorId: item.levelId },
      });
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  mounted() {
    this.timeoutInterval = setInterval(() => {
      this.$store.commit('appData/SET_CURRENT_LANGUAGE', 'en');
      this.$store.commit('appData/SET_ADA', false);

      window.artyom.dontObey();
    }, 1000 * 60); // 60 seconds

    this.voiceCommands = [
      {
        indexes: [ 'my location', 'where am i', 'what floor am i on', 'blue dot', 'you are here', 'map' ],
        action: () => {
          const currentLevel = this.levels.find((level) => level.id === this.kioskLevelId);

          if (currentLevel) {
            this.$router.push({
              name: 'floors-floor',
              params: { floorId: currentLevel.id },
            });
          }
        },
      },
      {
        indexes: [ 'designers' ],
        action: () => {
          this.$router.push({ path: '/designers' });
        },
      },
      {
        indexes: [ 'categories' ],
        action: () => {
          this.$router.push({ path: '/categories' });
        },
      },
      {
        indexes: [ 'restrooms', 'restroom', 'bathroom', 'bathrooms' ],
        action: () => {
          this.goToNearestRestroomsPage();
        },
      },
      {
        indexes: [ 'customer service', 'customer', 'help me', 'help', 'helpdesk' ],
        action: () => {
          this.goToCustomerService();
        },
      },
      {
        indexes: [ 'pickup', 'saks.com', 'saks dot com', 'saks', 'pick up' ],
        action: () => {
          this.goToSaksPickup();
        },
      },
      {
        indexes: [ 'categories' ],
        action: () => {
          this.$router.push({ path: '/categories' });
        },
      },
      {
        indexes: [ 'services', 'amenities', 'services and amenities' ],
        action: () => {
          this.$router.push({ path: '/saks-at-your-service' });
        },
      },
      {
        indexes: [ 'dining', 'food', 'restaurants', 'eat food', 'dine' ],
        action: () => {
          this.$router.push({ path: '/dining' });
        },
      },
      {
        indexes: [ 'go to *', 'show me *', 'open *' ],
        smart: true,
        action: (i, wildcard) => {
          switch (wildcard) {
            case 'designers':
              this.$router.push({ path: '/designers' });

              break;
            case 'categories':
              this.$router.push({ path: '/categories' });

              break;
            case 'food':
            case 'restaurants':
            case 'dining':
              this.$router.push({ path: '/dining' });

              break;
            case 'search':
              this.$router.push({ path: '/search' });

              break;
          }
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  async created() {
    if (!this.levels || !this.kioskLevelId) {
      await this.$store.dispatch('appData/GET_ALL_DATA');
    }

    this.loading = false;

    this.levelsWithTranslations = await Promise.all(this.levels.map(async (level) => {
      level.title = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
        'The Vault' :
        getFirstWord(level.name));
      level.subtitle = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
        'Jewelry' :
        level.name.replace(getFirstWord(level.name), ''));

      return level;
    }));

    this.designersText = await this.getDynamicTranslation('Designers');
    this.categoriesText = await this.getDynamicTranslation('Categories');
    this.diningText = await this.getDynamicTranslation('Dining');
    this.restroomsText = await this.getDynamicTranslation('Restrooms');
    this.saksPickupText = await this.getDynamicTranslation('Saks.com Pickup');
    this.customerServiceText = await this.getDynamicTranslation('Customer Service');
    this.servicesAmenitiesText = await this.getDynamicTranslation('Services & Amenities');
  },
  watch: {
    async currentLanguage(newVal) {
      this.levelsWithTranslations = [];
      this.levelsWithTranslations = await Promise.all(this.levels.map(async (level) => {
        level.title = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
          'The Vault' :
          getFirstWord(level.name));
        level.subtitle = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
          'Jewelry' :
          level.name.replace(getFirstWord(level.name), ''));

        return level;
      }));

      this.designersText = await this.getDynamicTranslation('Designers');
      this.categoriesText = await this.getDynamicTranslation('Categories');
      this.diningText = await this.getDynamicTranslation('Dining');
      this.restroomsText = await this.getDynamicTranslation('Restrooms');
      this.saksPickupText = await this.getDynamicTranslation('Saks.com Pickup');
      this.customerServiceText = await this.getDynamicTranslation('Customer Service');
      this.servicesAmenitiesText = await this.getDynamicTranslation('Services & Amenities');
    },
  },
  beforeDestroy() {
    clearInterval(this.timeoutInterval);

    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
};
</script>