<template>
  <div class="fadein">
    <div class="pageHeader">
      <h1 class="h1">{{ restroomsText }}</h1>
    </div>
    
    <FloorNav
      :levels="levels"
      :currentFloorId="currentFloorId"
      :allowedLevelIds="getAllowedLevelIds()"
      @changeFloor="changeFloor"
      @componentVoiceCommands="addComponentVoiceCommands"
    />
    <div class="mapAndOptions-container">
      <venue-map
        :currentFloorId="currentFloorId"
        @componentVoiceCommands="addComponentVoiceCommands"
      />

      <div class="searchResults-container">
        <div class="search-results">
          <ul class="search-results-list">
            <li
              class="search-results-list-item"
              @click="viewDetails(level3WomensRestroom)">
              <div class="search-results-list-item-title">Women's Restroom</div>
              <div class="search-results-list-item-description">{{ `${levelText} 2, 3, 4 & 5` }}</div>
            </li>

            <li
              class="search-results-list-item"
              @click="viewDetails(nearestWomensRestroom)">
              <div class="search-results-list-item-title">Nearest Women's Restroom</div>
              <div class="search-results-list-item-description">{{ `${levelText} 2` }}</div>
            </li>

            <li
              class="search-results-list-item"
              @click="viewDetails(level4MensRestroom)">
              <div class="search-results-list-item-title">Men's Restroom</div>
              <div class="search-results-list-item-description">{{ `${levelText} 2, 4, 6 & 7` }}</div>
            </li>

            <li
              class="search-results-list-item"
              @click="viewDetails(nearestMensRestroom)">
              <div class="search-results-list-item-title">Nearest Men's Restroom</div>
              <div class="search-results-list-item-description">{{ `${levelText} 2` }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
    .mapAndOptions-container {
      position: relative;
    }

    .searchResults-container {
        background: rgba(255, 255, 255, 0.9);
        bottom: 160px;
        height: 300px;
        left: 50%;
        max-width: 1080px;
        padding-top: 40px;
        position: fixed;
        transform: translateX(-50%);
        width: 100%;

        & > * {
          height: 100%;
          overflow-y: scroll;
        }

        & > * > * {
          padding-bottom: 40px;
        }

        &:before {
          content: '';
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
          height: 80px;
          left: 0;
          pointer-events: none;
          position: absolute;
          width: 100%;
          top: -80px;
        }
    }

    .search-results {
        margin: 0 auto;
        width: 830px;
    }

    .search-results-list {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search-results-list-item {
        background: transparent url('../assets/img/arrow.png') no-repeat 90% 50% scroll;
        border-bottom: 1px solid #e6e6e6;
        flex: 1 0 calc(50% - 12px);
        font-family: 'Gotham-Light';
        padding: 20px 60px;
        max-width: 50%;

        &:nth-child(even) {
            margin-left: 12px;
        }
    }

    .search-results-list-item-title {
        font-size: 24px;
        line-height: 1.5;
    }

    .search-results-list-item-location {
        color: #565656;
        font-size: 18px;
    }
</style>

<script>
import { logError } from '@/helpers';
import FloorNav from '@/components/Map/FloorNav.vue';
import VenueMap from '@/components/Map/VenueMap.vue';

export default {
  name: 'nearest-restrooms',
  components: {
    FloorNav,
    VenueMap,
  },
  data() {
    return {
      currentFloorId: '5d76b761ff4bdb00110b0a09',
      restroomsText: '',
      levelText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  methods: {
    changeFloor(options) {
      this.currentFloorId = options.levelId;
    },
    getAllowedLevelIds() {
      return this.allRestroomPOIs.map((poi) => poi.level);
    },
    viewDetails(restroom) {
      this.$router.push({
        name: 'wayfinder-specific',
        params: { to: restroom.id, toNav: restroom.navNode },
      });
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  async created() {
    this.restroomsText = await this.getDynamicTranslation('nearest restrooms');
    this.levelText = await this.getDynamicTranslation('Level');
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ `nearest *` ],
        smart: true,
        action: (i, wildcard) => {
          switch (wildcard) {
            case `women`:
            case `womens`:
            case `women's`:
            case `womens restroom`:
            case `women's restroom`:
              this.viewDetails(this.nearestWomensRestroom);

              break;
            case `men`:
            case `mens`:
            case `men's`:
            case `mens restroom`:
            case `men's restroom`:
              this.viewDetails(this.nearestMensRestroom);

              break;
          }
        },
      },
      {
        indexes: [ `men's restroom`, `men's`, `mens restroom`, `mens`, `men` ],
        action: () => {
          this.viewDetails(this.level4MensRestroom);
        },
      },
      {
        indexes: [ `women's restroom`, `women's`, `womens restroom`, `womens`, `women` ],
        action: () => {
          this.viewDetails(this.level3WomensRestroom);
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  computed: {
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
    mensRestrooms() {
      return this.allRestroomPOIs.filter((poi) =>
        poi.name.toLowerCase().includes('men') &&
        !poi.name.toLowerCase().includes('women'));
    },
    womensRestrooms() {
      return this.allRestroomPOIs.filter((poi) => poi.name.toLowerCase().includes('women'));
    },
    bothRestrooms() {
      return this.allRestroomPOIs.filter((poi) =>
        !poi.name.toLowerCase().includes('men') &&
        !poi.name.toLowerCase().includes('women'));
    },
    nearestMensRestroom() {
      return this.bothRestrooms.find((poi) => poi.level === '5d76b761ff4bdb00110b0a09');
    },
    nearestWomensRestroom() {
      return this.bothRestrooms.find((poi) => poi.level === '5d76b761ff4bdb00110b0a09');
    },
    level4MensRestroom() {
      return this.mensRestrooms.find((poi) => poi.level === '5d76fda0ff4bdb00110b0a0b');
    },
    level3WomensRestroom() {
      return this.womensRestrooms.find((poi) => poi.level === '5d76fd7417eca10011c27a46');
    },
    allRestroomPOIs() {
      const pois = this.$store.getters['appData/POIS'];
      const navNodes = this.$store.getters['appData/NAV_NODES'];

      const restroomPOIs = pois.filter((poi) => poi.name.toLowerCase().includes('restroom'));

      const allRestrooms = [];

      if (restroomPOIs) {
        restroomPOIs.forEach((poi) => {
          if (poi.navNodes) {
            poi.navNodes.forEach((poiNavNode) => {
              const navNodeObject = navNodes.find((navNode) => navNode.properties.id === poiNavNode.navNode);

              allRestrooms.push({
                id: poi.id,
                name: poi.name,
                navNode: poiNavNode.navNode,
                level: navNodeObject.properties.level,
              });
            });
          }
        });
      }

      return allRestrooms;
    },
  },
};
</script>