<template>
  <div class="fadein">
    <div class="pageHeader">
      <h1 class="h1">{{ restroomsText }}</h1>
    </div>
    
    <FloorNav
      v-if="currentLevelRestroomPOIs"
      :levels="levels"
      :currentFloorId="currentFloorId"
      :allowedLevelIds="getAllowedLevelIds()"
      @changeFloor="changeFloor"
      @componentVoiceCommands="addComponentVoiceCommands"
    />
    <div class="mapAndOptions-container">
      <venue-map
        v-if="currentLevelRestroomPOIs.length > 0"
        :currentFloorId="currentFloorId"
        :poiList="currentLevelRestroomPOIs"
        @componentVoiceCommands="addComponentVoiceCommands"
      />

      <div class="searchResults-container" v-if="currentLevelRestroomPOIs">
        <div class="search-results">
          <ul class="search-results-list">
            <li
              class="search-results-list-item"
              v-for="restroom in currentLevelRestroomPOIs"
              :key="restroom.id + restroom.navNode"
              @click="viewDetails(restroom)">
              <div class="search-results-list-item-title">{{ restroom.name }}</div>
              <div class="search-results-list-item-description">{{ getLevelText(restroom.level) }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
    .mapAndOptions-container {
      position: relative;
    }

    .searchResults-container {
        background: rgba(255, 255, 255, 0.9);
        bottom: 160px;
        height: 250px;
        left: 50%;
        max-width: 1080px;
        padding-top: 40px;
        position: fixed;
        transform: translateX(-50%);
        width: 100%;

        & > * {
          height: 100%;
          overflow-y: scroll;
        }

        & > * > * {
          padding-bottom: 40px;
        }

        &:before {
          content: '';
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
          height: 80px;
          left: 0;
          pointer-events: none;
          position: absolute;
          width: 100%;
          top: -80px;
        }
    }

    .search-results {
        margin: 0 auto;
        width: 830px;
    }

    .search-results-list {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search-results-list-item {
        background: transparent url('../assets/img/arrow.png') no-repeat 90% 50% scroll;
        border-bottom: 1px solid #e6e6e6;
        flex: 1 0 calc(50% - 12px);
        font-family: 'Gotham-Light';
        padding: 20px 60px;
        max-width: 50%;

        &:nth-child(even) {
            margin-left: 12px;
        }
    }

    .search-results-list-item-title {
        font-size: 24px;
        line-height: 1.5;
    }

    .search-results-list-item-location {
        color: #565656;
        font-size: 18px;
    }
</style>

<script>
import { logError } from '@/helpers';
import FloorNav from '@/components/Map/FloorNav.vue';
import VenueMap from '@/components/Map/VenueMap.vue';

export default {
  name: 'Restrooms',
  components: {
    FloorNav,
    VenueMap,
  },
  data() {
    return {
      currentFloorId: '5d76b761ff4bdb00110b0a09',
      restroomsText: '',
      lowerLevelText: '',
      levelText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  methods: {
    changeFloor(options) {
      this.currentFloorId = options.levelId;
    },
    getAllowedLevelIds() {
      return this.allRestroomPOIs.map((poi) => poi.level);
    },
    viewDetails(restroom) {
      this.$router.push({
        name: 'wayfinder-specific',
        params: { to: restroom.id, toNav: restroom.navNode },
      });
    },
    getLevelText(levelId) {
      const level = this.levels.find((internalLevel) => internalLevel.id === levelId);

      return (level.number === -1)
        ? this.lowerLevelText
        : `${this.levelText} ${level.number + 1}`;
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  async created() {
    this.restroomsText = await this.getDynamicTranslation('restrooms');
    this.lowerLevelText = await this.getDynamicTranslation('Lower Level');
    this.levelText = await this.getDynamicTranslation('Level');
  },
  mounted() {
    this.voiceCommands = this.currentLevelRestroomPOIs.map((restroom) => {
      const indexes = restroom.name.toLowerCase().includes('women') ?
        [ 'women', 'womens', `women's` ] :
        restroom.name.toLowerCase().includes('men') ?
          [ 'men', 'mens', `men's` ] :
          [ 'restroom', 'restrooms', 'bathroom', 'bathrooms' ];

      return {
        indexes,
        action: () => {
          this.viewDetails(restroom);
        },
      };
    });

    this.addVoiceCommands(this.voiceCommands);
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  computed: {
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
    currentLevelRestroomPOIs() {
      return this.allRestroomPOIs.filter((poi) => poi.level === this.currentFloorId);
    },
    allRestroomPOIs() {
      const pois = this.$store.getters['appData/POIS'];
      const navNodes = this.$store.getters['appData/NAV_NODES'];

      const restroomPOIs = pois.filter((poi) => poi.name.toLowerCase().includes('restroom'));

      const allRestrooms = [];

      if (restroomPOIs) {
        restroomPOIs.forEach((poi) => {
          if (poi.navNodes) {
            poi.navNodes.forEach((poiNavNode) => {
              const navNodeObject = navNodes.find((navNode) => navNode.properties.id === poiNavNode.navNode);

              allRestrooms.push({
                id: poi.id,
                name: poi.name,
                navNode: poiNavNode.navNode,
                level: navNodeObject.properties.level,
              });
            });
          }
        });
      }

      return allRestrooms;
    },
  },
  watch: {
    currentFloorId(newVal, oldVal) {
      if (newVal !== oldVal) {
        const newRestroomList = this.allRestroomPOIs.filter((poi) => poi.level === newVal);

        this.voiceCommands.forEach((voiceCommand) => {
          this.removeVoiceCommand(voiceCommand.indexes);
        });

        this.voiceCommands = newRestroomList.map((restroom) => {
          const indexes = restroom.name.toLowerCase().includes('women') ?
            [ 'women', 'womens', `women's` ] :
            restroom.name.toLowerCase().includes('men') ?
              [ 'men', 'mens', `men's` ] :
              [ 'restroom', 'restrooms', 'bathroom', 'bathrooms' ];

          return {
            indexes,
            action: () => {
              this.viewDetails(restroom);
            },
          };
        });

        this.addVoiceCommands(this.voiceCommands);
      }
    },
  },
};
</script>