<template>
  <div class="fadein">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ saksAtYourServiceText }}</h1>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar @componentVoiceCommands="addComponentVoiceCommands" />
      </div>
    </div>
    <ul class="servicesListing"
      v-bind:class="{ 'servicesListing_ada' : isAda }"
      v-on:create="scrollHandler"
      v-on:update="scrollHandler"
      ref="servicesListing"
    >
      <saks-at-your-service-card
        v-for="item in servicePOIs"
        :key="item.id"
        :item="item"
        :isAda="isAda"
        class="servicesListing-item"
        @componentVoiceCommands="addComponentVoiceCommands"
      />
    </ul>
  </div>
</template>

<style lang="scss" scoped>
  .servicesListing {
    height: 1000px;
    margin: 0 auto;
    overflow-y: scroll;
    padding-bottom: 100px;
    width: 77.777%;
  }

  .servicesListing-item {
    margin-bottom: 95px;
    overflow: hidden;

    // design flips on every other item
    &:nth-child(even) {
      & .servicesListing-item-content {
        float: left;
        padding: 15px 30px 0 0; 
      } 

      & .servicesListing-item-img {
        float: right;
      }      
    }
  }

  .servicesListing-item-img {
    float: left;
    height: 315px;
    overflow: hidden;
    position: relative;
    width: 560px;

    & > * {
      height: 315px;
      position: absolute;
      right: -20px;
      top: 0;
    }
  }

  .servicesListing-item-content {
    float: right;
    padding: 15px 0 0 30px; 
    width: 33.333%;
  }

  .servicesListing-item-content-title {
    font-family: 'Gotham-Bold';
    font-size: 22px;
    margin-bottom: 5px;
  }

  .servicesListing-item-content-level {
    font-family: 'Gotham-Medium';
    margin-bottom: 30px;
  }

  .servicesListing-item-content-description {
    font-family: 'Gotham-Light';
    font-size: 16px;
    margin-bottom: 40px;

    & /deep/ p {
      margin: 0 0 10px 0;
    }

    & /deep/ b {
      font-family: 'Gotham-Medium';
    }

    & /deep/ i {
      font-style: oblique;
    }

    & /deep/ h3 {
      font-family: 'Gotham-Medium';
      margin: 0 0 5px 0;
    }

    & /deep/ h4 {
      font-family: 'Gotham-Medium';
      margin: 0 0 10px 0;
    }

    & /deep/ h5 {
      font-family: 'Gotham-Medium';
      margin: 0 0 5px 0;
    }

    & /deep/ br {
      line-height: 0;
    }
  }

  .servicesListing-item-content-description_fadeout {
    margin-bottom: 20px;
    max-height: 120px;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      bottom: 0;
      height: 50px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .servicesListing_ada {
    max-height: 450px;
    padding-bottom: 170px;

    & .servicesListing-item-img {
      height: 233px;
      width: 415px;

      & > * {
        height: 233px;
      }
    }

    & .servicesListing-item-content {
      width: 50%;
    }
  }
</style>

<script>
import { getColorByIndex, getCategoryLevelString } from '@/helpers';
import FloorDirectory from '@/components/FloorDirectory.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import SaksAtYourServiceCard from '@/components/SaksAtYourServiceCard.vue';

export default {
  name: 'saks-at-your-service',
  components: {
    FloorDirectory,
    SearchBar,
    SaksAtYourServiceCard,
  },
  data() {
    return {
      // tslint:disable-next-line: max-line-length
      defaultDescription: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      defaultImage: 'https://via.placeholder.com/840x427',
      saksAtYourServiceText: '',
      moreInfoText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    this.saksAtYourServiceText = await this.getDynamicTranslation('Saks at Your Service');
    this.moreInfoText = await this.getDynamicTranslation('More Info');
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ 'scroll up', 'go up', 'up', 'previous card', 'previous service', 'previous' ],
        action: () => {
          const currentScrollTop = this.$refs.servicesListing.scrollTop;

          const newScrollTop = currentScrollTop === 0 || currentScrollTop < 400 ?
            0 :
            currentScrollTop - 400;

          this.$refs.servicesListing.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'scroll', 'scroll down', 'go down', 'down', 'see more', 'next card', 'next service', 'next' ],
        action: () => {
          const currentScrollTop = this.$refs.servicesListing.scrollTop;

          const newScrollTop = currentScrollTop + 400;

          this.$refs.servicesListing.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'top' ],
        action: () => {
          this.$refs.servicesListing.scroll(0, 0);
        },
      },
      {
        indexes: [ 'bottom' ],
        action: () => {
          this.$refs.servicesListing.scroll(0, (this.servicePOIs.length - 1) * 400);
        },
      },
      {
        indexes: [ 'last' ],
        action: () => {
          this.$router.push({
            name: 'saks-at-your-service-location',
            params: { locationId: this.servicePOIs[this.servicePOIs.length - 1].id },
          });
        },
      },
      {
        indexes: [ 'first' ],
        action: () => {
          this.$router.push({
            name: 'saks-at-your-service-location',
            params: { locationId: this.servicePOIs[0].id },
          });
        },
      },
      {
        indexes: [ 'more info', 'this one', 'that one', 'show me this one', 'what is this', 'more details' ],
        action: () => {
          const currentScrollTop = this.$refs.servicesListing.scrollTop;

          const currentIndex = Math.round(currentScrollTop / 400);

          this.$router.push({
            name: 'saks-at-your-service-location',
            params: { locationId: this.servicePOIs[currentIndex].id },
          });
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  props: {
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    viewDetails(item) {
      this.$router.push({
        name: 'saks-at-your-service-location',
        params: { locationId: item.id },
      });
    },
    getCategoryLevelString,
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  computed: {
    servicePOIs() {
      const categories = this.$store.getters['appData/CATEGORIES'];
      const pois = this.$store.getters['appData/POIS'];

      const servicesCategory = categories.find((category) => category.name.toLowerCase() === 'services');

      return pois.filter((poi) => poi.categories.includes(servicesCategory.id));
    },
  },
};
</script>
