<template>
  <div class="fadein">
    <FloorDirectory v-if="isAda" />
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ searchText }}</h1>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar :onSearchPage="true" :query="internalQuery" />

        <keyboard @content="keyboardUpdate" :isAda="isAda" />
        <h3 v-if="internalQuery.length > 0 && results.length > 0" class="h3">To start a new voice search say the word "Search"</h3>
      </div>
    </div>
    <div class="pageContainer" 
      v-if="pois && categories" 
      v-on:create="scrollHandler" 
      v-on:update="scrollHandler"
      ref="pageContainer"
    >
	    <div class="search-results" v-bind:class="{ 'search-results_ada' : isAda }">
	      <ul class="search-results-list">
	        <search-card
	          v-for="item in results"
	          v-bind:item="item"
	          v-bind:category="categories.find((category) => category.id === item.categories[0]) || null"
	          v-bind:key="item._id"
            :isAda="ada"
            @componentVoiceCommands="addComponentVoiceCommands"
	        ></search-card>
	      </ul>
        <div class="search-results-noResults" v-if="internalQuery.length !== 0 && results.length <= 0">Just ask any Associate, or visit the International Lounge on the Lower Level</div>
	    </div>
	  </div>
	</div>
</template>

<style lang="scss" scoped>
  .h3 {
    text-align: center;
  }

  .pageHeader_ada {
    margin-top: -40px;
  }

  .search-container_ada {
    margin-top: 40px;
  }

  .search-results {
    height: 900px;
    margin: 0 auto;
    overflow-y: scroll;
    padding-bottom: 40px;
    width: 830px;
  }

  .search-results_ada {
    max-height: 330px;
  }

  .search-results-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 75px;
  }

  .search-results-noResults {
    font-family: 'Gotham-Bold';
    font-size: 20px;
  }
</style>

<script>
import { logTouch, searchFor } from '@/helpers';
import Keyboard from '@/components/Keyboard.vue';
import FloorDirectory from '@/components/FloorDirectory.vue';
import SearchBar from '@/components/Search/SearchBar.vue';
import SearchCard from '@/components/Search/SearchCard.vue';

export default {
  name: 'search',
  components: {
    Keyboard,
    FloorDirectory,
    SearchBar,
    SearchCard,
  },
  data() {
    return {
      internalQuery: '',
      results: [],
      searchText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
      catchAllCommands: [],
    };
  },
  props : {
    query: {
      type: String,
      required: false,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    this.searchText = await this.getDynamicTranslation('Search');
  },
  mounted() {
    this.catchAllCommands = [
      {
        indexes: [ '*' ],
        smart: true,
        action: (i, wildcard) => {
          switch (wildcard) {
            case 'home':
            case 'go home':
            case 'go to home':
            case 'go to the beginning':
              this.$router.push({ path: '/home' });

              break;
            case 'back':
            case 'go back':
            case 'previous page':
              window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/');

              break;
            default:
              const results = searchFor(this.pois, wildcard).results;

              if (results.length > 0) {
                this.catchAllCommands.forEach((voiceCommand) => {
                  this.removeVoiceCommand(voiceCommand.indexes);
                });

                this.internalQuery = wildcard;
              } else {
                this.internalQuery = wildcard;
              }
          }
        },
      },
    ];

    this.voiceCommands = [
      {
        indexes: [ 'search' ],
        action: () => {
          this.addVoiceCommands(this.catchAllCommands);

          this.internalQuery = '';
        },
      },
      {
        indexes: [ 'top', 'first' ],
        action: () => {
          this.$refs.pageContainer.scroll(0, 0);
        },
      },
      {
        indexes: [ 'bottom', 'last' ],
        action: () => {
          this.$refs.pageContainer.scroll(0, this.$refs.pageContainer.scrollHeight);
        },
      },
      {
        indexes: [ 'scroll up', 'go up', 'up', 'previous' ],
        action: () => {
          const currentScrollTop = this.$refs.pageContainer.scrollTop;

          const newScrollTop = currentScrollTop === 0 || currentScrollTop < 800 ?
            0 :
            currentScrollTop - 800;

          this.$refs.pageContainer.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'scroll', 'scroll down', 'go down', 'down', 'see more', 'next' ],
        action: () => {
          const currentScrollTop = this.$refs.pageContainer.scrollTop;

          const newScrollTop = currentScrollTop + 800;

          this.$refs.pageContainer.scroll(0, newScrollTop);
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);

    if (this.query) {
      this.internalQuery = this.query;
    } else {
      this.addVoiceCommands(this.catchAllCommands);
    }

    if (this.internalQuery === '') {
      return;
    }

    if (!this.pois) {
      this.$store.dispatch('appData/GET_APP_DATA').then(() => {
        this.results = this.pois.slice(0, 20);
      });
    } else {
      this.results = this.pois.slice(0, 20);
    }
  },
  computed: {
    pois() {
      const pois = this.$store.getters['appData/POIS'];

      pois.forEach((poi) => {
        const poiCategories = this.categories.filter((category) => poi.categories.includes(category.id));

        const poiCategoriesString = poiCategories.join(' ');

        poi.category_names = poiCategoriesString;
      });

      return pois;
    },
    categories() {
      return this.$store.getters['appData/CATEGORIES'];
    },
    ada() {
      return this.$store.getters['appData/ADA'];
    },
  },
  methods: {
    keyboardUpdate(value) {
      this.internalQuery = (value.length > 16) ? value.slice(0, 16) : value;
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  beforeDestroy() {
    this.catchAllCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    if (this.internalQuery !== '') {
      logTouch({
        device_name: window.initParam,
        touch_type: 'Final Search Item',
        search_item: this.internalQuery,
        num_search_results: this.results.length,
      });
    }
  },
  watch: {
    internalQuery(newVal, oldVal) {
      if (newVal === '') {
          this.results = [];
      } else if (newVal !== oldVal) {
        this.results = searchFor(this.pois, this.internalQuery).results;
      }
    },
    query(newVal) {
      this.internalQuery = newVal;
    },
  },
};
</script>
