<template>
  <div class="fadein">
    <div class="servicesDetail-imageHeader" v-if="isAda">
      <img :src="location.mediaDataURL || defaultImage" alt="">
    </div>
    <div class="pageHeader" v-bind:class="{ 'pageHeader_ada' : isAda }">
      <h1 class="h1">{{ location.name /*nameText*/ }}</h1>
      <div class="search-container" v-bind:class="{ 'search-container_ada' : isAda }">
        <search-bar @componentVoiceCommands="addComponentVoiceCommands" />
      </div>
    </div>
    <ul class="servicesListing"
      v-bind:class="{ 'servicesListing_ada' : isAda }"
      v-on:create="scrollHandler"
      v-on:update="scrollHandler"
      ref="servicesListing"
    >
      <li class="servicesListing-item servicesListing-item_detail">
        <div class="servicesListing-item-img" v-if="!isAda">
          <img :src="location.mediaDataURL || defaultImage" alt="">
        </div>
        <div class="servicesListing-item-level">{{ levelText }}</div>
        <div class="servicesListing-item-content" v-html="descriptionText"></div>
        <div class="servicesListing-item-content-cta">
          <button class="btn btn_inverted" @click="viewDetails(location)">{{ directionsText }}</button>
        </div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
  .servicesListing {
    height: 1100px;
    margin: 0 auto;
    overflow-y: scroll;
    width: 77.777%;
  }

  .servicesListing-item {
    margin-bottom: 95px;
    overflow: hidden;

    // design flips on every other item
    &:nth-child(even) {
      & .servicesListing-item-content {
        float: left;
        padding: 55px 30px 0 0; 
      } 

      & .servicesListing-item-img {
        float: right;
      }      
    }
  }

  .servicesListing-item-img {
    float: left;
    width: 66.666%;
  }

  .servicesListing-item-content {
    float: right;
    font-family: 'Gotham-Light';
    font-size: 16px;
    line-height: 1.5;
    padding: 0 0 0 30px; 
    width: 33.333%;

    & /deep/ p {
      margin: 0 0 15px 0;
    }

    & /deep/ b {
      font-family: 'Gotham-Medium';
    }

    & /deep/ i {
      font-style: oblique;
    }

    & /deep/ h3 {
      font-family: 'Gotham-Medium';
      margin: 0 0 20px 0;
    }

    & /deep/ h4 {
      font-family: 'Gotham-Medium';
      margin: 0 0 10px 0;
    }

    & /deep/ h5 {
      font-family: 'Gotham-Medium';
      margin: 0 0 10px 0;
    }
    
    & /deep/ br {
      line-height: 0;
    }
  }

  .servicesListing-item-content-title {
    font-family: 'Gotham-Bold';
    font-size: 22px;
    margin-bottom: 30px;
  }

  .servicesListing-item-level {
    font-family: 'Gotham-Medium';
    font-size: 20px;
    margin: 55px 0 25px;
  }

  .servicesListing-item-content-description {
    font-family: 'Gotham-Light';
    font-size: 16px;
    margin-bottom: 40px;
  }

  .servicesListing-item_detail {
      & .servicesListing-item-img,
      .servicesListing-item-content {
          float: none;
          width: 100%; 
          padding: 0;
      }

      & .servicesListing-item-content-title {
          margin-bottom: 10px;
      }

      & .servicesListing-item-content-description {
          margin-bottom: 30px;
      }

      & .servicesListing-item-content-cta {
          margin-top: 50px;
      }
  }

  .servicesListing_ada {
    max-height: 370px;
    padding-bottom: 50px;
  }

  .servicesDetail-imageHeader {
    height: 470px;
    margin: 100px auto 170px;
    overflow: hidden;
    width: 840px;
  }
  body[style*="direction: rtl"] .servicesListing {
    direction: rtl;
  }
</style>

<script>
import { getColorByIndex, getCategoryLevelString } from '@/helpers';
import SearchBar from '@/components/Search/SearchBar.vue';

export default {
  name: 'saks-at-your-service-location',
  components: {
    SearchBar,
  },
  props: {
    locationId: {
      type: String,
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      // tslint:disable-next-line: max-line-length
      defaultDescription: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      defaultImage: 'https://via.placeholder.com/840x472',
      directionsText: '',
      nameText: '',
      levelText: '',
      descriptionText: '',
      voiceCommands: [],
      componentVoiceCommands: [],
    };
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ 'scroll up', 'go up', 'up' ],
        action: () => {
          const currentScrollTop = this.$refs.servicesListing.scrollTop;

          const newScrollTop = currentScrollTop === 0 || currentScrollTop < 500 ?
            0 :
            currentScrollTop - 500;

          this.$refs.servicesListing.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'scroll', 'scroll down', 'go down', 'down', 'see more' ],
        action: () => {
          const currentScrollTop = this.$refs.servicesListing.scrollTop;

          const newScrollTop = currentScrollTop + 500;

          this.$refs.servicesListing.scroll(0, newScrollTop);
        },
      },
      {
        indexes: [ 'directions', 'how do I get', 'find my way', 'instructions', 'show me how to get there', 'where is it', 'show me the path' ],
        action: () => {
          this.viewDetails(this.location);
        },
      },
    ];

    this.addVoiceCommands(this.voiceCommands);
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  async created() {
    if (!this.pois) {
      await this.$store.dispatch('appData/GET_ALL_DATA');
    }

    this.loading = false;

    this.directionsText = await this.getDynamicTranslation('directions');
    this.levelText = await this.getDynamicTranslation(getCategoryLevelString([ this.location ]));
    this.nameText = await this.getDynamicTranslation(this.location.name);
    this.descriptionText = await this.getDynamicTranslation(this.location.description || this.defaultDescription);
  },
  methods: {
    viewDetails(item) {
      this.$router.push({
        name: 'wayfinder',
        params: { to: item.id },
      });
    },
    getCategoryLevelString,
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  computed: {
    pois() {
      return this.$store.getters['appData/POIS'];
    },
    location() {
      return this.pois.find((poi) => poi.id === this.locationId);
    },
  },
};
</script>
