<template>
  <div v-if="poi">
    <div class="pageHeader">
      <h1 class="h1" v-if="poi">{{ poi.name }}</h1>
    </div>

    <FloorNav
      v-if="routes && routes[currentRouteType] && routes[currentRouteType].segments"
      :levels="levels"
      :currentFloorId="currentFloorId"
      :allowedLevelIds="getAllowedLevelIds()"
      :isTTP="true"
      :ttpStartingLevel="startingPointFloorId"
      @changeFloor="changeFloor"
    />
    <div class="mapAndOptions-container">
      <venue-map
        v-if="routes && routes[currentRouteType] && routes[currentRouteType].segments"
        :routes="routes"
        :currentFloorId="currentFloorId"
        :currentRouteType="currentRouteType"
        :disableAutoLevelChanger="disableAutoLevelChanger"
        :ttpFacingDirection="facingDirection"
        :ttpStartingLevel="startingPointFloorId"
        :ttpStartingNode="from"
        @changeFloor="changeFloor"
        @toggleAutoLevelChanger="toggleAutoLevelChanger"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .pageHeader {
    height: auto;
    margin: 100px auto;
  }
  
  .mapAndOptions-container {
    position: relative; 
  }

  .map-container {
      height: 100%;
      margin-top: 0;
  }
</style>

<script>
import { logError, getRoute, getNearestPOI } from '@/helpers';
import FloorNav from '@/components/Map/FloorNav.vue';
import VenueMap from '@/components/Map/VenueMap.vue';

export default {
  name: 'wayfinder',
  components: {
    FloorNav,
    VenueMap,
  },
  props: {
    to: {
      type: String,
      required: true,
    },
    from: {
      type: String,
      required: true,
    },
    facingDirection: {
      type: String,
      required: true,
    },
    ada: {
      type: String,
      required: true,
    },
    toNav: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      poi: null,
      startingPointFloorId: null,
      currentFloorId: '5d76a8ba14dfb90011df0969',
      currentRouteType: 'walking',
      disableAutoLevelChanger: false,
    };
  },
  methods: {
    changeFloor(options) {
      this.currentFloorId = options.levelId;

      this.toggleAutoLevelChanger(options.fromFloorNav);
    },
    getAllowedLevelIds() {
      return this.routes && this.routes[this.currentRouteType] && this.routes[this.currentRouteType].segments ?
        this.routes[this.currentRouteType].segments.map((segment) => segment.properties.level) :
        [ this.currentFloorId ];
    },
    toggleAutoLevelChanger(bool) {
      this.disableAutoLevelChanger = bool;
    },
  },
  mounted() {
    this.currentRouteType = this.ada.toString() === 'true'  ? 'wheelchair' : 'walking';

    const thisPOI = this.pois.find((poi) => poi.id === this.to);

    if (!thisPOI) {
      logError(`POI with ID ${this.to} not found`);

      this.$router.push({ name: 'home' });
    }

    this.poi = thisPOI;
  },
  computed: {
    pois() {
      return this.$store.getters['appData/POIS'];
    },
    navNodes() {
      return this.$store.getters['appData/NAV_NODES'];
    },
    routes() {
      const routes = {};

      if (this.poi && this.navNodes) {
        // Is this sufficient? Getting the first space for the POI? Not sure if any POIs have multiple spaces yet
        const targetNavNode = this.toNav || getNearestPOI([ this.poi ]).navNode;

        const startingNavNode = this.navNodes.find((navNode) => navNode.properties.id === this.from);

        this.currentFloorId = startingNavNode.properties.level;
        this.startingPointFloorId = startingNavNode.properties.level;

        routes[this.currentRouteType] = getRoute(this.from, targetNavNode, (this.currentRouteType === 'wheelchair'));

        return routes;
      } else {
        return null;
      }
    },
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
  },
};
</script>
