<template>
  <fragment>
    <div class="pageHeader" v-if="poi">
      <h1 class="h1">{{ poi.name }}</h1>
      <div class="pageHeader-subtitle" v-if="poi.name === 'Customer Service'">{{ customerServiceText }}</div>
      <div class="pageHeader-subtitle" v-if="poi.name === 'Saks.com Pickup'">{{ saksPickupText }}</div>
    </div>
    <FloorNav
      v-if="poi && routes"
      :levels="levels"
      :isTTP="false"
      :isAda="isAda"
      :currentFloorId="currentFloorId"
      :allowedLevelIds="getAllowedLevelIds()"
      @changeFloor="changeFloor"
      @componentVoiceCommands="addComponentVoiceCommands"
    />
    <div class="mapAndOptions-container">
      <div class="wayfinder-controls">
        <WayfinderOptions
          v-if="poi && routes && !isAda"
          :currentRouteType="currentRouteType"
          :isAda="isAda"
          @changeRouteType="changeRouteType"
          @openTTP="toggleTTP"
          @componentVoiceCommands="addComponentVoiceCommands"
        />
        <WayfinderDirections
          v-if="poi && routes"
          :currentRouteType="currentRouteType"
          :numberOfSteps="numberOfSteps"
          :targetLevel="targetLevel"
          :verticalType="getVerticalType()"
          :initialDirection="initialDirection"
          :goThisWayDone="goThisWayDone"
        />
      </div>
      <venue-map 
        v-if="poi && routes"
        :routes="routes"
        :currentFloorId="currentFloorId"
        :currentRouteType="currentRouteType"
        :disableAutoLevelChanger="disableAutoLevelChanger"
        @changeFloor="changeFloor"
        @toggleAutoLevelChanger="toggleAutoLevelChanger"
        @componentVoiceCommands="addComponentVoiceCommands"
      />
      <WayfinderOptions
        v-if="poi && routes && isAda"
        :isAda="isAda"
        :currentRouteType="currentRouteType"
        @changeRouteType="changeRouteType"
        @openTTP="toggleTTP"
        @componentVoiceCommands="addComponentVoiceCommands"
      />
    </div>

    

    <TextDirectionsModal
      v-if="poi && routes && isTextDirectionsModalVisible" 
      :currentRouteType="currentRouteType"
      :poi="poi"
      :isAda="isAda"
      @closeTTP="toggleTTP"
    />
  </fragment>
</template>

<style lang="scss" scoped>
  .mapAndOptions-container {
    position: relative; 
  }

  .wayfinder-controls {
    background: rgba(255, 255, 255, .9);
    height: 223px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 715px;
    z-index: 8; //must be above floorNav

    & > * {
      margin-left: 20px;
    }
  }

  .pageHeader-subtitle {
    font-size: 18px;
    margin-top: 10px;
  }
</style>

<script>
import { logError, getRoute, getNearestPOI, radToDeg, degToRad, getNumberPosition } from '@/helpers';
import FloorNav from '@/components/Map/FloorNav.vue';
import TextDirectionsModal from '@/components/Map/TextDirectionsModal.vue';
import VenueMap from '@/components/Map/VenueMap.vue';
import WayfinderDirections from '@/components/Map/WayfinderDirections.vue';
import WayfinderOptions from '@/components/Map/WayfinderOptions.vue';

export default {
  name: 'wayfinder',
  components: {
    FloorNav,
    TextDirectionsModal,
    VenueMap,
    WayfinderDirections,
    WayfinderOptions,
  },
  props: {
    to: {
      type: String,
      required: true,
    },
    toNav: {
      type: String,
      required: false,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      poi: null,
      currentFloorId: '5d76a8ba14dfb90011df0969',
      currentRouteType: 'walking',
      goThisWayDone: false,
      goThisWayTimeout: 0,
      initialDirection: 0,
      isTextDirectionsModalVisible: false,
      disableAutoLevelChanger: false,
      currentLevelText: '',
      lowerLevelText: '',
      levelText: '',
      customerServiceText: '',
      saksPickupText: '',
      componentVoiceCommands: [],
    };
  },
  methods: {
    changeFloor(options) {
      this.currentFloorId = options.levelId;

      this.toggleAutoLevelChanger(options.fromFloorNav);
    },
    changeRouteType(newType) {
      this.currentRouteType = newType;

      this.initialDirection = this.getRouteDirection();
    },
    toggleTTP() {
      this.isTextDirectionsModalVisible = !this.isTextDirectionsModalVisible;
    },
    getRouteDirection() {
      if (this.routes) {
        const firstSegment = this.routes[this.currentRouteType].segments[0];

        if (firstSegment) {
          const firstCoordinate = firstSegment.geometry.coordinates[0];
          const lastCoordinate = firstSegment.geometry.coordinates[firstSegment.geometry.coordinates.length - 1];

          let initialDirection = radToDeg(Math.atan2( degToRad(lastCoordinate[0]) - degToRad(firstCoordinate[0]),
                                                        degToRad(lastCoordinate[1]) - degToRad(firstCoordinate[1])));

          initialDirection = initialDirection < 0 ? initialDirection + 360 : initialDirection;

          return initialDirection + this.deviceFacingDirection + 33.5;
        }
      } else {
        return 0;
      }
    },
    getAllowedLevelIds() {
      return this.routes[this.currentRouteType].segments.map((segment) => segment.properties.level);
    },
    getVerticalType() {
      const firstRouteSegment = this.routes[this.currentRouteType].segments[0];

      return firstRouteSegment.properties.end;
    },
    toggleAutoLevelChanger(bool) {
      this.disableAutoLevelChanger = bool;
    },
    addComponentVoiceCommands(commands) {
      this.componentVoiceCommands = this.componentVoiceCommands.concat(commands);

      this.addVoiceCommands(commands);
    },
  },
  async created() {
    this.currentLevelText = await this.getDynamicTranslation('Current Level');
    this.lowerLevelText = await this.getDynamicTranslation('Lower Level');
    this.levelText = await this.getDynamicTranslation('Level');
    this.customerServiceText = await this.getDynamicTranslation('Located on Level 1 at the Concierge Desk');
    this.saksPickupText = await this.getDynamicTranslation('Located on Lower Level in the International Lounge');
  },
  beforeDestroy() {
    clearTimeout(this.goThisWayTimeout);

    this.componentVoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  mounted() {
    const thisPOI = this.pois.find((poi) => poi.id === this.to);

    if (!thisPOI) {
      logError(`POI with ID ${this.to} not found`);

      this.$router.push({ name: 'home' });
    }

    this.poi = thisPOI;

    this.goThisWayTimeout = setTimeout(() => {
      this.goThisWayDone = true;
    }, 2000);
  },
  computed: {
    pois() {
      return this.$store.getters['appData/POIS'];
    },
    navNodes() {
      return this.$store.getters['appData/NAV_NODES'];
    },
    spaceFeatures() {
      return this.$store.getters['appData/SPACE_FEATURES'];
    },
    deviceFacingDirection() {
      return this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FACING_DIRECTION`];
    },
    numberOfSteps() {
      return this.routes ? this.routes[this.currentRouteType].steps : 0;
    },
    targetLevel() {
      // tslint:disable-next-line: max-line-length
      const finalSegmentLevelId = this.routes[this.currentRouteType].segments[this.routes[this.currentRouteType].segments.length - 1].properties.level;

      const finalLevel = this.levels.find((level) => level.id === finalSegmentLevelId);

      const navNodes = this.$store.getters['appData/NAV_NODES'];

      const deviceData = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];
      const deviceNavNode = this.navNodes.find((navNode) => navNode.properties.id === deviceData);

      const deviceLevelId = deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.level ?
        deviceNavNode.properties.level :
        '5d76b761ff4bdb00110b0a09';

      return finalLevel.id === deviceLevelId ?
        this.currentLevelText :
        finalLevel.number === -1 ?
          this.lowerLevelText :
          `${this.levelText} ${finalLevel.number === -1 ? 'Lower Level' : finalLevel.number + 1}`;
    },
    routes() {
      const routes = {};

      const deviceFeatureId = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];
      const deviceNavNode = this.navNodes.find((navNode) => navNode.properties.id === deviceFeatureId);

      const startingNavNode = deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.id ?
        deviceNavNode.properties.id :
        'n_5d7a46f73b1a6949f800000c';

      if (this.poi) {
        const targetNavNode = this.toNav || getNearestPOI([ this.poi ], startingNavNode).navNode;

        ['walking', 'wheelchair'].forEach((type) => {

          routes[type] = getRoute(startingNavNode, targetNavNode, (type === 'wheelchair'));

          if (routes[type].path === null) {
            if (this.poi.name === 'Le Chalet') {
              routes[type] = getRoute(startingNavNode, 'n_5d7ba1d43b1a6977f3000376', (type === 'wheelchair'));
            }

            if (routes[type].path === null) {
              logError(`Route not found for ${startingNavNode} -> ${targetNavNode}: ${type}`);

              this.$router.push({ name: 'home' });
            }
          }
        });

        return routes;
      } else {
        return null;
      }
    },
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
  },
  watch: {
    routes(newVal, oldVal) {
      this.initialDirection = this.getRouteDirection();
    },
  },
};
</script>