<template>
  <li
    class="search-results-list-item"
    v-bind:class="{ 'search-results-list-item_ada' : isAda }"
    v-on:click="viewDetails(item.id)"
  >
    <div class="search-results-list-item-title">{{ nameText }}</div>
    <div class="search-results-list-item-location">{{ levelText }}</div>
  </li>
</template>

<style lang="scss" scoped>
  .search-results-list-item {
    background: transparent url('../assets/img/arrow.png') no-repeat 90% 50% scroll;
    border-bottom: 1px solid #e6e6e6;
    flex: 1 0 calc(50% - 12px);
    font-family: 'Gotham-Light';
    padding: 20px 60px;
    max-width: 50%;

    &:nth-child(even) {
      margin-left: 12px;
    }
  }

  .search-results-list-item_ada {
    flex: 1 0 calc(33.333% - 12px);
    margin-left: 12px;
    max-width: 33.333%;
    padding-left: 0;

    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }

  .search-results-list-item-title {
    font-size: 24px;
    line-height: 1.5;
  }

  .search-results-list-item-location {
    color: #565656;
    font-size: 18px;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';

export default {
  name: 'category-card',
  data() {
    return {
      levelText: '',
      nameText: '',
      voiceCommands: [],
    };
  },
  props : {
    item: {
      type: Object,
      required: true,
    },
    itemArray: {
      type: Array,
      required: false,
    },
    categoryName: {
      type: String,
      required: false,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  async created() {
    this.levelText = await this.getDynamicTranslation(this.itemArray ?
      getCategoryLevelString(this.itemArray) :
      getCategoryLevelString(this.item.pois));

    this.nameText = this.categoryName ?
      await this.getDynamicTranslation(this.categoryName) :
      this.itemArray ?
        this.item.name :
        await this.getDynamicTranslation(this.item.name);
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [  this.item.name, `category ${this.item.name}`, `go to ${this.item.name} category`,
                    `go to category ${this.item.name}`, `show me ${this.item.name}`, `go to ${this.item.name}`,
                    `i want ${this.item.name}`, `show ${this.item.name}`, `open ${this.item.name}` ],
        action: () => {
          this.$router.push({ name: 'category-designers', params: { categoryId: this.item.id } });
        },
      },
    ];

    this.$emit('componentVoiceCommands', this.voiceCommands);
  },
  methods: {
    viewDetails(itemId) {
      if (this.categoryName || this.itemArray) {
        this.$router.push({
          name: 'wayfinder',
          params: { to: itemId },
        });
      } else {
        this.$router.push({
          name: 'category-designers',
          params: { categoryId: itemId },
        });
      }
    },
    getCategoryLevelString,
  },
};
</script>