<template>
  <li class="diningListing-item">
    <div class="diningListing-item-img" v-bind:class="{ 'diningListing-item-img_ada' : isAda }">
      <img :src="item.mediaDataURL || defaultImage" alt />
    </div>
    <div class="diningListing-item-content">
      <div class="diningListing-item-content-title">{{ item.name /*nameText*/ }}</div>
      <div class="diningListing-item-content-level">{{ levelText }}</div>
      <div
        class="diningListing-item-content-description"
        v-html="descriptionText"
      ></div>
      <div class="diningListing-item-content-cta">
        <button class="btn btn_inverted" @click="viewDetails(item)">{{ directionsText }}</button>
      </div>
    </div>
  </li>
</template>

<style lang="scss" scoped>
  .diningListing-item {
    margin-bottom: 80px;
  }

  .diningListing-item-img {
    margin-bottom: 30px;
  }

  .diningListing-item-content-title {
    font-family: 'Gotham-Bold';
    font-size: 24px;
    margin-bottom: 5px;
  }

  .diningListing-item-content-level {
    font-family: 'Gotham-Bold';
    font-size: 18px;
    margin-bottom: 30px;
  }

  .diningListing-item-content-description {
    font-family: "Gotham-Light";
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 35px;
  }

  .diningListing-item-content-cta {
    font-family: 'Gotham-Medium';
  }

  
  .diningListing-item-img_ada {
    height: 233px;
    width: 414px;

    & > * {
      height: 233px;
    }
  }
  
  .diningListing-item-content-description {
    font-size: 12px;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';

export default {
  name: 'dining-card',
  data() {
    return {
      // tslint:disable-next-line: max-line-length
      defaultDescription: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      defaultImage: 'https://via.placeholder.com/840x472',
      nameText: '',
      levelText: '',
      descriptionText: '',
      directionsText: '',
      voiceCommands: [],
    };
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  async created() {
    this.directionsText = await this.getDynamicTranslation('directions');
    this.levelText = await this.getDynamicTranslation(getCategoryLevelString([ this.item ]));
    this.nameText = await this.getDynamicTranslation(this.item.name);
    this.descriptionText = await this.getDynamicTranslation(this.item.description || this.defaultDescription);
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [  this.item.name, `go to ${this.item.name}`, `show me ${this.item.name}`,
                    `i want ${this.item.name}`, `show ${this.item.name}`, `open ${this.item.name}` ],
        action: () => {
          this.viewDetails(this.item);
        },
      },
      ...(this.item.id === '5d8b9d7b03554300133ce993' ?
        [{
          indexes: [  'chalet', `go to chalet`, `show me chalet`,
                      `i want chalet`, `show chalet`, `open chalet` ],
          action: () => {
            this.viewDetails(this.item);
          },
        }] :
        []),
      ...(this.item.id === '5d8b9d7a03554300133ce991' ?
        [{
          indexes: [  'pierre', `go to pierre`, `show me pierre`,
                      `i want pierre`, `show pierre`, `open pierre`,
                      'avenue', `go to avenue`, `show me avenue`,
                      `i want avenue`, `show avenue`, `open avenue`,
                      'pierre herme', `go to pierre herme`, `show me pierre herme`,
                      `i want pierre herme`, `show pierre herme`, `open pierre herme`,
                      'herme', `go to herme`, `show me herme`,
                      `i want herme`, `show herme`, `open herme`,
                      `l'avenue`, `go to l'avenue`, `show me l'avenue`,
                      `i want l'avenue`, `show l'avenue`, `open l'avenue` ],
          action: () => {
            this.viewDetails(this.item);
          },
        }] :
        []),
    ];

    this.$emit('componentVoiceCommands', this.voiceCommands);
  },
  methods: {
    viewDetails(item) {
      this.$router.push({
        name: 'wayfinder',
        params: { to: item.id },
      });
    },
  },
};
</script>