<template>
  <li v-on:click="viewDetails(level.id)">
    <div class="floorDirectory-item" v-bind:class="{ 'floorDirectory-item_small': !isHome }">
      <span class="floorDirectory-item-currentFloor" v-if="currentFloor">{{ youAreHereText }}</span>
      <div class="floorDirectory-item-number">{{ levelNumber }}</div>
      <div class="floorDirectory-item-details">
        <span
          class="floorDirectory-item-details-title"
          :class="titleAdditionalClass">{{ level.title }}</span>
        <span class="floorDirectory-item-details-subtitle">{{ level.subtitle }}</span>
      </div>
      <div 
        class="floorNav-item-restroom" 
        v-if="levelRestroomPOIs !== null"
        :class="{ 
          'floorNav-item-restroom_mensOnly' : levelRestroomPOIs.mensRestrooms && !levelRestroomPOIs.womensRestrooms,
          'floorNav-item-restroom_womensOnly' : !levelRestroomPOIs.mensRestrooms && levelRestroomPOIs.womensRestrooms,
         }"
      >
        <icon-base class="floorNav-item-restroom-icon" :width="52.9" :height="43" iconColor="white" stroke="black">
          <RestroomsIcon v-if="levelRestroomPOIs.bothRestrooms || (levelRestroomPOIs.mensRestrooms && levelRestroomPOIs.womensRestrooms)"/>
          <MensRestroomIcon v-else-if="levelRestroomPOIs.mensRestrooms && !levelRestroomPOIs.womensRestrooms"/>
          <WomensRestroomIcon v-else-if="levelRestroomPOIs.womensRestrooms"/>
        </icon-base>
      </div>
    </div>
  </li>
</template>

<style lang="scss" scoped>
  .floorDirectory-item {
    background: transparent url("../assets/img/arrow.png") no-repeat center right
        scroll;
    padding: 14px 0;
    position: relative;
    text-transform: uppercase;
  }

  .floorDirectory-item-currentFloor {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    font-family: "Gotham-Bold";
    font-size: 18px;
    height: 84px;
    left: -116px;
    line-height: 1.3;
    padding-left: 16px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    width: 106px;

    &:after {
      content: "";
      border-bottom: 42px solid transparent;
      border-left: 20px solid #000;
      border-top: 42px solid transparent;
      height: 0;
      position: absolute;
      left: 100%;
      top: 0;
      width: 0;
    }
  }

  .floorDirectory-item-number {
    display: inline-block;
    font-size: 52px;
    margin-right: 15px;
    text-align: center;
    width: 80px;
  }

  .floorDirectory-item-details {
    display: inline-block;
    padding-top: 6px;
    vertical-align: top;
  }

  .floorDirectory-item-details-title {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .floorDirectory-item-details-title_noSubtitle {
    transform: translateY(50%);
  }

  .floorDirectory-item-details-subtitle {
    display: block;
    font-size: 13px;
  }

  .floorDirectory-item_small {
    padding: 7px 0;

    .floorDirectory-item-currentFloor {
      font-size: 14px;
      height: 54px;

      &:after {
        border-bottom-width: 27px;
        border-left-width: 20px;
        border-top-width: 27px;
      }
    }

    .floorDirectory-item-number {
      font-size: 40px;
    }

    .floorDirectory-item-details {
      padding-top: 5px;
    }

    .floorDirectory-item-details-title {
      font-size: 15px;
    }

    .floorDirectory-item-details-subtitle {
      font-size: 10px;
    }
  }

  .floorNav-item-restroom {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .floorNav-item-restroom_mensOnly {
    right: 22px;
  }

  .floorNav-item-restroom_womensOnly {
    right: 41px;
  }

  .floorNav-item-restroom-icon {
    width: 30%;
    margin-left: 30px;
    stroke-width: 2px;
  }

  body[style*="direction: rtl"] .floorNav-item-restroom {
    right: initial;
    left: -30px;
  }

  body[style*="direction: rtl"] .floorDirectory-item-details-title,
  body[style*="direction: rtl"] .floorDirectory-item-details-subtitle {
    line-height: 1;
  }
</style>

<script>
import { getFirstWord } from '@/helpers';
import router from '@/router/router';
import RestroomsIcon from '@/components/Icons/Restrooms.vue';
import MensRestroomIcon from '@/components/Icons/MensRestroom.vue';
import WomensRestroomIcon from '@/components/Icons/WomensRestroom.vue';

export default {
  name: 'floor-directory-item',
  components: {
    router,
    RestroomsIcon,
    MensRestroomIcon,
    WomensRestroomIcon,
  },
  data() {
    return {
      youAreHereText: '',
    };
  },
  props : {
    level: {
      type: Object,
      required: true,
    },
    currentFloor: {
      type: Boolean,
      required: true,
    },
    isHome: {
      type: Boolean,
      default: true,
    },
  },
  async created() {
    this.youAreHereText = await this.getDynamicTranslation('You Are Here');
  },
  methods: {
    viewDetails(levelId) {
      this.$router.push({
        name: 'floors-floor',
        params: { floorId: levelId },
      });
    },
  },
  computed: {
    titleAdditionalClass() {
      return (this.level.name.replace(getFirstWord(this.level.name), '').trim() === '') ?
        'floorDirectory-item-details-title_noSubtitle' :
        '';
    },
    levelNumber() {
      return (this.level.number === -1) ? 'LL' : this.level.number + 1;
    },
    levelRestroomPOIs() {
      const pois = this.$store.getters['appData/POIS'];
      const navNodes = this.$store.getters['appData/NAV_NODES'];

      const restroomPOIs = pois.filter((poi) => poi.name.toLowerCase().includes('restroom'));

      const allRestrooms = [];

      if (restroomPOIs) {
        restroomPOIs.forEach((poi) => {
          if (poi.navNodes) {
            poi.navNodes.forEach((poiNavNode) => {
              const navNodeObject = navNodes.find((navNode) => navNode.properties.id === poiNavNode.navNode);

              if (navNodeObject.properties.level === this.level.id) {
                allRestrooms.push({
                  id: poi.id,
                  name: poi.name,
                  navNode: poiNavNode.navNode,
                  level: navNodeObject.properties.level,
                });
              }
            });
          }
        });
      }

      if (allRestrooms.length > 0) {
        const mensRestrooms = allRestrooms.find((restroom) =>
          restroom.name.toLowerCase().includes('men') &&
          !restroom.name.toLowerCase().includes('women'));

        const womensRestrooms = allRestrooms.find((restroom) =>
          restroom.name.toLowerCase().includes('women'));

        const bothRestrooms = allRestrooms.find((restroom) =>
          !restroom.name.toLowerCase().includes('men') &&
          !restroom.name.toLowerCase().includes('women'));

        return {
          mensRestrooms,
          womensRestrooms,
          bothRestrooms,
        };
      } else {
        return null;
      }
    },
  },
  watch: {
    async currentLanguage(newVal) {
      this.youAreHereText = await this.getDynamicTranslation('You Are Here');
    },
  },
};
</script>