<template>
    <section class="main-section" v-bind:class="{ 'main-section_small' : !isHome }">
        <div class="floorDirectory">
            <ol>
                <floor-directory-item
                    v-for="level in levelsWithTranslations"
                    :level="level"
                    :currentFloor="level.id === kioskLevelId"
                    :key="level.id"
                    :isHome="isHome"
                />
            </ol>
        </div>
    </section>
</template>

<style lang="scss" scoped>
.main-section {
    background: transparent url(~@/assets/img/buildingBG.png) no-repeat center 15px scroll;
    background-size: 125%;
}

.floorDirectory {
    background: #fff;
    border: 2px solid #000;
    font-family: "Gotham-Bold";
    margin: 0 auto;
    padding: 10px 30px;
    width: 670px;

    li {
        border-top: 1px solid #000;

        &:first-child {
            border-top: 0;
        }
    }
}

.main-section_small {
    background-size: 90%;

    & .floorDirectory {
        width: 510px;
        margin-bottom: 110px;
    }
}
</style>

<script>
import { getFirstWord, getNumberPosition } from '@/helpers';
import numWords from 'num-words';
import FloorDirectoryItem from '@/components/FloorDirectoryItem.vue';

export default {
  name: 'FloorDirectory',
  components: {
    FloorDirectoryItem,
  },
  data() {
    return {
      levelsWithTranslations: [],
      voiceCommands: [],
    };
  },
  props: {
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    this.voiceCommands = this.levels.map((level) => {
      const levelNumber = level.number + 1;
      const levelWord = level.number === -1 ?
        'lower level' :
        numWords(levelNumber);
      // const levelTitle = level.title;
      // const levelSubtitle = level.subtitle;

      return {
        indexes: [  /*levelTitle, levelSubtitle,*/
                    `floor ${levelNumber}`, `level ${levelNumber}`,
                    `floor ${levelWord}`, `level ${levelWord}`,
                    `floor ${getNumberPosition(levelWord).word}`, `level ${getNumberPosition(levelWord).word}`,
                    levelWord, levelNumber.toString(), `${getNumberPosition(levelWord).word} floor`, `${getNumberPosition(levelWord).word} level`,
                    `${getNumberPosition(levelWord).num} floor`, `${getNumberPosition(levelWord).num} level`  ],
        action: () => {
          this.$router.push({
            name: 'floors-floor',
            params: { floorId: level.id },
          });
        },
      };
    });

    if (this.isHome && !this.isAda || !this.isHome && this.isAda) {
      this.addVoiceCommands(this.voiceCommands);
    }
  },
  async created() {
    if (!this.levels || !this.kioskLevelId) {
      await this.$store.dispatch('appData/GET_ALL_DATA');
    }

    this.loading = false;

    this.levelsWithTranslations = await Promise.all(this.levels.map(async (level) => {
      level.title = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
        'The Vault' :
        getFirstWord(level.name));
      level.subtitle = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
        'Jewelry' :
        level.name.replace(getFirstWord(level.name), ''));

      return level;
    }));
  },
  computed: {
    isHome() {
      return this.$route.path === '/home';
    },
    levels() {
      const unsortedLevels = this.$store.getters['appData/LEVELS'];

      return unsortedLevels.sort((a, b) => b.number - a.number);
    },
    kioskLevelId() {
      const navNodes = this.$store.getters['appData/NAV_NODES'];
      const deviceFeatureId = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];

      if (navNodes && navNodes.find) {
        const deviceNavNode = navNodes.find((navNode) => navNode.properties.id === deviceFeatureId);

        const startingNavNode = deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.id ?
          deviceNavNode.properties.id :
          'n_5d7a46f73b1a6949f800000c';

        const startingPointNavNode = navNodes.find((navNode) => navNode.properties.id === startingNavNode);

        return startingPointNavNode ? startingPointNavNode.properties.level : '';
      } else {
        return '';
      }
    },
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  watch: {
    async currentLanguage(newVal) {
      this.levelsWithTranslations = [];
      this.levelsWithTranslations = await Promise.all(this.levels.map(async (level) => {
        level.title = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
          'The Vault' :
          getFirstWord(level.name));
        level.subtitle = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
          'Jewelry' :
          level.name.replace(getFirstWord(level.name), ''));

        return level;
      }));
    },
    isAda(newVal, oldVal) {
      this.voiceCommands.forEach((voiceCommand) => {
        this.removeVoiceCommand(voiceCommand.indexes);
      });

      if (newVal && !oldVal && !this.isHome || !newVal && oldVal && this.isHome) {
        this.addVoiceCommands(this.voiceCommands);
      }
    },
    isHome(newVal, oldVal) {
      this.voiceCommands.forEach((voiceCommand) => {
        this.removeVoiceCommand(voiceCommand.indexes);
      });

      if (newVal && !oldVal && !this.isAda || !newVal && oldVal && this.isAda) {
        this.addVoiceCommands(this.voiceCommands);
      }
    },
  },
};
</script>