<template>
  <div class="keyboard fadein" v-bind:class="{ 'keyboard_ada' : isAda }">
    <div 
      v-for="(row, rowIndex) in currentKeyboard"
      :key="row.join('')" 
      :class="'keyboard-row' + ((rowIndex !== currentKeyboard.length - 1) ? ' border-bottom' : '')">
      <div
        v-for="(key, keyIndex) in row"
        :key="key"
        :class="'keyboard-key' + ((keyIndex !== 0) ? ' border-left' : '')"
        :data-key="key"
        v-on:click="keyClick($event, key)">
        <DeleteIcon v-if="key === 'delete'" class="keyboard-key-delete-icon" />
        {{  (key !== 'delete') ?
              (key === 'clear' || key === 'space') ?
                getTranslatedKey(key) :
                key :
              '' }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .keyboard {
      margin: 44px auto;
      display: flex;
      font-size: 35px;
      flex-direction: column;
      align-items: center;
      direction: ltr;
      width: 100%;
      max-width: 1080px;
  }

  .modal-div .keyboard,
  .keyboard.key_phone {
    margin: 100px 0;
  }

  .keyboard-row {
      display: flex;

      &.border-bottom {
        border-bottom: 1px solid #000;
      }
  }

  .keyboard-key {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      font-family: 'Gotham-Bold';
      font-size: 18px;
      height: 75px;
      justify-content: center;
      text-transform: uppercase;
      width: 90px;

      &.border-left {
        border-left: 1px solid #000;
      }
  }

  .modal-div .keyboard-key {
      min-width: 60px;
  }

  .lang_ar .keyboard-key {
      min-width: 60px;
  }

  .key_phone .keyboard-key {
      width: 220px !important;
      height: 150px;
      font-size: 42px;
      margin: 20px 20px 0 20px;
  }

  .keyboard-key.active {
      background-color: #828282;
      color: #fff;
  }

  .keyboard-key[data-key='null'] {
      display: none !important;
  }

  .keyboard-key[data-key='space'],
  .keyboard-key[data-key='clear'] {
      width: 150px;
  }

  .keyboard-key[data-key='search'] {
      width: 120px;
  }
  
  .keyboard-key-delete-icon {
      height: 30px; 
      margin: 0px;
      max-width: 30px;
  }

  .keyboard-key[data-key='delete'] svg path {
      fill: #000;
  }

  .keyboard_ada {
      margin-top: 20px;

      & .keyboard-key {
          height: 59px;
          width: 75px;
      }

      & .keyboard-key[data-key='space'],
      & .keyboard-key[data-key='clear'] {
          width: 120px;
      }
  }
</style>

<script>
import DeleteIcon from '@/assets/icons/gray/Delete.svg';

export default {
  name: 'keyboard',
  components: {
    DeleteIcon,
  },
  props: {
    phone: {
      type: Boolean,
      required: false,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      type: 'abc',
      keyTimeout: 0,
      content: '',
      clearText: '',
      spaceText: '',
      phoneKeys: [
        ['1', '2', '3'],
        ['4', '5', '6'],
        ['7', '8', '9'],
        ['0', 'delete'],
      ],
      abcKeys: [
        ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p'],
        ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l'],
        ['z', 'x', 'c', 'v', 'b', 'n', 'm', 'delete'],
        ['123', 'space', 'clear'],
      ],
      abcNumKeys: [
        ['1', '2', '3'],
        ['4', '5', '6'],
        ['7', '8', '9'],
        ['abc', '0', 'delete'],
      ],
    };
  },
  async created() {
    this.clearText = await this.getDynamicTranslation('clear');
    this.spaceText = await this.getDynamicTranslation('space');
  },
  computed: {
    currentKeyboard() {
      return (this.phone)
        ? this.phoneKeys
        : (this.type === 'abc')
          ? this.abcKeys
          : this.abcNumKeys;
    },
  },
  methods: {
    getTranslatedKey(key) {
      return (key === 'space') ? this.spaceText : this.clearText;
    },
    keyClick(e, key) {
      e.target.classList.add('active');
      this.keyTimeout = setTimeout(() => {
        e.target.classList.remove('active');
      }, 70);

      switch (key) {
        case '123':
          this.type = '123';
          break;

        case 'abc':
          this.type = 'abc';
          break;

        case 'space':
          if (this.content.length > 0 && this.content.slice(-1) !== ' ') {
            this.content += ' ';
          }
          break;

        case 'delete':
          this.content = this.content.slice(0, this.content.length - 1);
          break;

        case 'clear':
          this.content = '';
          break;

        case 'search':
          // this.content = this.content;
          break;

        default:
          this.content += key;
      }
    },
  },
  beforeDestroy() {
    clearTimeout(this.keyTimeout);
  },
  watch: {
    content(newVal) {
      this.$emit('content', newVal);
    },
  },
};
</script>