<template>
  <li class="servicesListing-item" :class="{ 'servicesListing-item_ada': isAda }">
    <div class="servicesListing-item-img">
      <img :src="item.mediaDataURL || defaultImage" alt="">
    </div>
    <div class="servicesListing-item-content">
      <div class="servicesListing-item-content-title">{{ item.name /*nameText*/ }}</div>
      <div class="servicesListing-item-content-level">{{ levelText }}</div>
      <div class="servicesListing-item-content-description servicesListing-item-content-description_fadeout" v-html="descriptionText"></div>
      <div class="servicesListing-item-content-cta">
        <button class="btn btn_inverted" @click="viewDetails(item)">{{ moreInfoText }}</button>
      </div>
    </div>
  </li>
</template>

<style lang="scss" scoped>
  .servicesListing-item {
    margin-bottom: 95px;
    overflow: hidden;

    // design flips on every other item
    &:nth-child(even) {
      & .servicesListing-item-content {
        float: left;
        padding: 15px 30px 0 0; 
      } 

      & .servicesListing-item-img {
        float: right;
      }      
    }
  }

  .servicesListing-item-img {
    float: left;
    height: 315px;
    overflow: hidden;
    position: relative;
    width: 560px;

    & > * {
      height: 315px;
      position: absolute;
      right: -20px;
      top: 0;
    }
  }

  .servicesListing-item-content {
    float: right;
    padding: 15px 0 0 30px; 
    width: 33.333%;
  }

  .servicesListing-item-content-title {
    font-family: 'Gotham-Bold';
    font-size: 22px;
    margin-bottom: 5px;
  }

  .servicesListing-item-content-level {
    font-family: 'Gotham-Medium';
    margin-bottom: 30px;
  }

  .servicesListing-item-content-description {
    font-family: 'Gotham-Light';
    font-size: 16px;
    margin-bottom: 40px;

    & /deep/ p {
      margin: 0 0 10px 0;
    }

    & /deep/ b {
      font-family: 'Gotham-Medium';
    }

    & /deep/ i {
      font-style: oblique;
    }

    & /deep/ h3 {
      font-family: 'Gotham-Medium';
      margin: 0 0 5px 0;
    }

    & /deep/ h4 {
      font-family: 'Gotham-Medium';
      margin: 0 0 10px 0;
    }

    & /deep/ h5 {
      font-family: 'Gotham-Medium';
      margin: 0 0 5px 0;
    }

    & /deep/ br {
      line-height: 0;
    }
  }

  .servicesListing-item-content-description_fadeout {
    margin-bottom: 20px;
    max-height: 120px;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      bottom: 0;
      height: 50px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .servicesListing-item_ada .servicesListing-item-img {
    height: 233px;
    width: 415px;

    & > * {
      height: 233px;
    }
  }

  .servicesListing-item_ada .servicesListing-item-content {
    width: 50%;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';

export default {
  name: 'saks-at-your-service-card',
  data() {
    return {
      // tslint:disable-next-line: max-line-length
      defaultDescription: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      defaultImage: 'https://via.placeholder.com/840x472',
      nameText: '',
      levelText: '',
      descriptionText: '',
      directionsText: '',
      moreInfoText: '',
      voiceCommands: [],
    };
  },
  props : {
    item: {
      type: Object,
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  async created() {
    this.directionsText = await this.getDynamicTranslation('directions');
    this.levelText = await this.getDynamicTranslation(getCategoryLevelString([ this.item ]));
    this.nameText = await this.getDynamicTranslation(this.item.name);
    this.descriptionText = await this.getDynamicTranslation(this.item.description || this.defaultDescription);
    this.moreInfoText = await this.getDynamicTranslation('More Info');
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [  this.item.name, `go to ${this.item.name}`, `show me ${this.item.name}`,
                    `i want ${this.item.name}`, `show ${this.item.name}`, `open ${this.item.name}` ],
        action: () => {
          this.viewDetails(this.item);
        },
      },
    ];

    this.$emit('componentVoiceCommands', this.voiceCommands);
  },
  methods: {
    viewDetails(item) {
      this.$router.push({
        name: 'saks-at-your-service-location',
        params: { locationId: item.id },
      });
    },
  },
};
</script>