<template>
  <div class="searchBar">
    <div class="searchBar-icon">
      <icon-base :width="26.2" :height="26.8" iconColor="black" stroke="white"><MagnifyingGlass /></icon-base>
    </div>
    <div class="searchBar-input" v-on:click="searchPage">
      <div class="faux-input" :class="{ 'faux-input_isActive' : this.onSearchPage && query !== '' }">
        <div class="faux-input-placeholder">{{ searchText }}</div>
        <div class="faux-input-input">{{ this.onSearchPage ? query.toUpperCase() : '' }}</div>
      </div>
    </div>
    <div class="searchBar-languageSelect" v-if="hasLanguageSelect" v-on:click="toggleDropdown" v-bind:class="{ 'searchBar-languageSelect_isOpen': isLanguageSelectDropdownOpen }">
      <div class="searchBar-languageSelect-language">
        <icon-base class="searchBar-languageSelect-language-icon" :width="38.7" :height="40.3" iconColor="black" stroke="white"><LanguageSelectIcon /></icon-base>
      </div>
      <div class="searchBar-languageSelect-dropdown">
        <icon-base class="searchBar-languageSelect-dropdown-icon" :width="18" :height="9" iconColor="white" stroke="black"><ArrowIcon /></icon-base>
      </div>
      <div class="searchBar-languageSelect-optionsFlyout" v-bind:class="{ 'searchBar-languageSelect-optionsFlyout_isVisible': isLanguageSelectDropdownOpen }">
          <ul>
              <li v-on:click="setLanguage('en')">English</li>
              <li v-on:click="setLanguage('zh')"> <!-- Chinese (Simplified) -->
                  <icon-base class="searchBar-languageSelect-optionsFlyout-mandarin-icon" :width="29.8" :height="14.4" iconColor="white" stroke="black"><MandarinIcon /></icon-base>
              </li>
              <li v-on:click="setLanguage('de')">Deutsche</li> <!-- German -->
              <li v-on:click="setLanguage('ar')">العربية</li> <!-- Arabic -->
              <li v-on:click="setLanguage('ru')">Pусский</li> <!-- Russian -->
              <li v-on:click="setLanguage('tl')">ᜏᜒᜃᜅ᜔ ᜆᜄᜎᜓᜄ᜔</li> <!-- Tagalog -->
              <li v-on:click="setLanguage('ko')">한국어</li> <!-- South Korean -->
              <li v-on:click="setLanguage('ja')">日本語</li> <!-- Japanese -->
              <li v-on:click="setLanguage('it')">Italiano</li> <!-- Italian -->
              <li v-on:click="setLanguage('fr')">Français</li> <!-- French -->
              <li v-on:click="setLanguage('es')">Español</li> <!-- Spanish -->
              <li v-on:click="setLanguage('pt')">Português</li> <!-- Portugese -->
          </ul>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ccc;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #ccc;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #ccc;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #ccc;
    }

    .searchBar {
        border: 1px solid #000;
        display: flex;
        font-family: 'Gotham-Light';
        font-size: 20px;
        min-height: 64px;
        justify-content: space-between;
        margin: 0 auto;
        width: 77.777%;

        & > * {
            flex: 1 0 auto;
        }
    }

    .searchBar-icon {
        align-items: center;
        background: #000;
        display: flex;
        justify-content: center;
        max-width: 59px;
        width: 59px;
    }

    .searchBar-input {
        align-items: center;
        display: flex;
        padding: 0 30px;
        width: 635px;

        & > * {
            border: 0;
            font-family: 'Gotham-Light';
            font-size: 20px;
            outline: none;
        }
    }

    .searchBar-languageSelect {
        align-items: center;
        border-left: 1px solid #000;
        display: flex;
        justify-content: flex-end;
        max-width: 141px;
        position: relative;
        width: 141px;

        & > * {
            flex: 1 0 auto;
        }
    }
    
    .searchBar-languageSelect-language {
        margin: 0 15px;
        max-width: 39px;
    }

    .searchBar-languageSelect-dropdown {
        margin: 0 15px;
        max-width: 18px;
    }

    .searchBar-languageSelect-optionsFlyout {
        background: #000;
        border: 1px solid #000;
        bottom: 0;
        color: #fff;
        display: none;
        font-family: 'Gotham-Medium';
        font-size: 14px;
        height: auto;
        position: absolute;
        right: -1px;
        transform: translateY(100%);
        width: 132px;
        z-index: 4;

        &  > * {
            margin: 20px 0;
        }

        &  > * > * {
            padding: 0 30px;
            margin-bottom: 20px;

            &:not(:first-child) {
                border-top: 1px solid #000;
            }
        }
    }

    .searchBar-languageSelect-optionsFlyout_isVisible {
        display: block;
        width: 101%;
    }

    .searchBar-icon svg {
        fill: #000;
        max-height: 50%;
        max-width: 47%;
        stroke: #fff;
        stroke-width: 2px;
    }

    .searchBar-languageSelect-language-icon {
        max-width: 39px;
        stroke-width: 0;
    }

    .searchBar-languageSelect-dropdown-icon {
        max-width: 18px;
        position: relative;
        top: 4px;
        transform: rotate(90deg);
    }

    .searchBar-languageSelect_isOpen .searchBar-languageSelect-dropdown-icon {
        left: -10px;
        top: -5px;
        transform: rotate(-90deg);
    }

    .searchBar-languageSelect-optionsFlyout-mandarin-icon {
        max-width: 30px;
        stroke-width: 0;
    }
    
    body[style*="direction: rtl"] .searchBar-languageSelect {
      border-left: 0;
      border-right: 1px solid #000;
    }

    .faux-input-placeholder {
        color: #808285;
    }

    .faux-input-input {
        color: #000;
    }

    .faux-input_isActive .faux-input-placeholder {
        display: none;
    }
</style>

<script>
import { logTouch, setLanguage } from '@/helpers';
import ArrowIcon from '@/components/Icons/Arrow.vue';
import LanguageSelectIcon from '@/components/Icons/LanguageSelect.vue';
import MandarinIcon from '@/components/Icons/MandarinLanguage.vue';
import MagnifyingGlass from '@/components/Icons/MagnifyingGlass.vue';

export default {
  name: 'search-bar',
  components: {
    ArrowIcon,
    LanguageSelectIcon,
    MagnifyingGlass,
    MandarinIcon,
  },
  props: {
    onSearchPage: {
      type: Boolean,
      required: false,
    },
    query: {
      type: String,
      required: false,
      default: '',
    },
    hasLanguageSelect: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
        isLanguageSelectDropdownOpen: false,
        searchText: '',
        voiceCommands: [],
        languageChoiceCommands: [],
        nonSearchPageCommands: [],
        languageDropdownCommands: [],
    };
  },
  async created() {
    this.searchText = await this.getDynamicTranslation('Search');
  },
  mounted() {
    this.nonSearchPageCommands.push({
      indexes: [ 'search' ],
      action: () => {
          this.$router.push({ path: '/search' });
      },
    });

    this.languageDropdownCommands.push({
        indexes: [  'show available languages', 'languages', 'what languages are there',
                    'different language', 'different languages', 'language', 'change language' ],
        action: () => {
            this.isLanguageSelectDropdownOpen = true;
        },
    });

    if (!this.onSearchPage) {
      this.addVoiceCommands(this.nonSearchPageCommands);
    }

    if (this.hasLanguageSelect) {
      this.addVoiceCommands(this.languageDropdownCommands);
    }

    this.languageChoiceCommands = [
      {
        indexes: [ 'english' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('en');
        },
      },
      {
        indexes: [ 'spanish' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('es');
        },
      },
      {
        indexes: [ 'chinese' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('zh');
        },
      },
      {
        indexes: [ 'german' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('de');
        },
      },
      {
        indexes: [ 'arabic' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('ar');
        },
      },
      {
        indexes: [ 'russian' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('ru');
        },
      },
      {
        indexes: [ 'tagalog' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('tl');
        },
      },
      {
        indexes: [ 'south korean', 'korean' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('ko');
        },
      },
      {
        indexes: [ 'japanese' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('ja');
        },
      },
      {
        indexes: [ 'italian' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('it');
        },
      },
      {
        indexes: [ 'french' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('fr');
        },
      },
      {
        indexes: [ 'portugese' ],
        action: () => {
          this.isLanguageSelectDropdownOpen = false;

          setLanguage('pt');
        },
      },
    ];
  },
  methods: {
    searchPage() {
      if (!this.onSearchPage) {
        this.$router.push({ path: '/search' });
      }
    },
    toggleDropdown() {
        this.isLanguageSelectDropdownOpen = !this.isLanguageSelectDropdownOpen;
    },
    setLanguage(languageCode) {
        this.$store.commit('appData/SET_CURRENT_LANGUAGE', languageCode);

        logTouch({
          device_name: window.initParam,
          touch_type: 'Language Switch',
          raw_data: {
            lang: languageCode,
          },
        });
    },
  },
  beforeDestroy() {
    this.nonSearchPageCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.languageDropdownCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.languageChoiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  watch: {
    async currentLanguage(newVal) {
      this.searchText = await this.getDynamicTranslation('Search');
    },
    isLanguageSelectDropdownOpen(newVal, oldVal) {
      if (newVal && !oldVal) {
        this.addVoiceCommands(this.languageChoiceCommands);
      } else if (!newVal && oldVal) {
        this.languageChoiceCommands.forEach((voiceCommand) => {
          this.removeVoiceCommand(voiceCommand.indexes);
        });
      }
    },
    onSearchPage(newVal, oldVal) {
      if (!newVal && oldVal) {
        this.addVoiceCommands(this.nonSearchPageCommands);
      } else if (newVal && !oldVal) {
        this.nonSearchPageCommands.forEach((voiceCommand) => {
          this.removeVoiceCommand(voiceCommand.indexes);
        });
      }
    },
    hasLanguageSelect(newVal, oldVal) {
      if (newVal && !oldVal) {
        this.addVoiceCommands(this.languageDropdownCommands);
      } else if (!newVal && oldVal) {
        this.languageDropdownCommands.forEach((voiceCommand) => {
          this.removeVoiceCommand(voiceCommand.indexes);
        });
      }
    },
  },
};
</script>