<template>
  <li 
    class="search-results-list-item"
    v-bind:class="{ 'search-results-list-item_ada' : isAda }"
    v-on:click="viewDetails(item.id)"
    v-if="isCategoryDesignerCard"
  >
    <div class="search-results-list-item-title">{{ nameText }}</div>
    <div class="search-results-list-item-description">{{ levelText }}</div>
  </li>
  <li 
    class="search-results-list-item"
    v-bind:class="{ 'search-results-list-item_ada' : isAda }"
    v-on:click="viewDetails(item)"
    v-else-if="isDesignerCard"
  >
    <div class="search-results-list-item-title">{{ nameText }}</div>
  </li>
  <li 
    class="search-results-list-item"
    v-bind:class="{ 'search-results-list-item_ada' : isAda }"
    v-on:click="viewDetails(item.id)"
    v-else-if="isDesignerCategoryCard"
  >
    <div class="search-results-list-item-title">{{ nameText }}</div>
    <div class="search-results-list-item-location">{{ levelText }}</div>
  </li>
  <li 
    class="search-results-list-item"
    v-bind:class="{ 'search-results-list-item_ada' : isAda }"
    v-on:click="viewDetails(item.id)"
    v-else
  >
    <div class="search-results-list-item-title">{{ nameText }}</div>
    <div class="search-results-list-item-description">{{ levelText }}</div>
  </li>
</template>

<style lang="scss" scoped>
  .search-results-list-item {
    background: transparent url('../../assets/img/arrow.png') no-repeat 90% 50% scroll;
    border-bottom: 1px solid #e6e6e6;
    flex: 1 0 calc(50% - 12px);
    font-family: 'Gotham-Light';
    padding: 20px 60px;
    max-width: 50%;

    &:nth-child(even) {
      margin-left: 12px;
    }
  }

  .search-results-list-item_ada {
    flex: 1 0 calc(33.333% - 12px);
    margin-left: 12px;
    max-width: 33.333%;
    padding-left: 0;

    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }

  .search-results-list-item-title {
    font-size: 24px;
    line-height: 1.5;
  }

  .search-results-list-item-location {
    color: #565656;
    font-size: 18px;
  }
</style>

<script>
import { getCategoryLevelString } from '@/helpers';
import router from '@/router/router';

export default {
  name: 'search-card',
  props : {
    item: {
      type: [Object, String],
      required: true,
    },
    pois: {
      type: Array,
      default: null,
    },
    category: {
      type: Object,
      default: null,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
    isCategoryDesignerCard: {
      type: Boolean,
      default: false,
    },
    isDesignerCard: {
      type: Boolean,
      default: false,
    },
    isDesignerCategoryCard: {
      type: Boolean,
      default: false,
    },
    designerName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      levelText: '',
      nameText: '',
      voiceCommands: [],
    };
  },
  mounted() {
    if (this.isDesignerCard) {
      this.voiceCommands = [
        {
          indexes: [  this.item, `designer ${this.item}`, `go to ${this.item} designer`,
                      `go to designer ${this.item}`, `show me ${this.item}`, `go to ${this.item}`,
                      `i want ${this.item}`, `show ${this.item}`, `open ${this.item}` ],
          action: () => {
            this.$router.push({ name: 'designer-categories', params: { designerName: this.item } });
          },
        },
      ];
    } else if (this.isDesignerCategoryCard) {
      this.voiceCommands = [
        {
          indexes: [  this.category.name, `category ${this.category.name}`, `go to ${this.category.name} category`,
                      `go to category ${this.category.name}`, `show me ${this.category.name}`, `go to ${this.category.name}`,
                      `i want ${this.category.name}`, `show ${this.category.name}`, `open ${this.category.name}`,
                      this.levelText, `${this.item.name} ${this.levelText}` ],
          action: () => {
            this.$router.push({ name: 'wayfinder', params: { to: this.item.id } });
          },
        },
      ];
    } else if (this.isCategoryDesignerCard) {
      this.voiceCommands = [
        {
          indexes: [  this.item.name, `designer ${this.item.name}`, `go to ${this.item.name} designer`,
                      `go to designer ${this.item.name}`, `show me ${this.item.name}`, `go to ${this.item.name}`,
                      `i want ${this.item.name}`, `show ${this.item.name}`, `open ${this.item.name}` ],
          action: () => {
            this.$router.push({ name: 'wayfinder', params: { to: this.item.id } });
          },
        },
      ];
    } else {
      const allCommands = [
        {
          indexes: [  this.item.name, `designer ${this.item.name}`, `go to ${this.item.name} designer`,
                      `go to designer ${this.item.name}`, `show me ${this.item.name}`, `go to ${this.item.name}`,
                      `i want ${this.item.name}`, `show ${this.item.name}`, `open ${this.item.name}` ],
          action: () => {
            this.$router.push({ name: 'wayfinder', params: { to: this.item.id } });
          },
        },
      ];

      if (this.category) {
        allCommands.push({
          indexes: [  this.category.name, `category ${this.category.name}`, `go to ${this.category.name} category`,
                      `go to category ${this.category.name}`, `show me ${this.category.name}`, `go to ${this.category.name}`,
                      `i want ${this.category.name}`, `show ${this.category.name}`, `open ${this.category.name}` ],
          action: () => {
            this.$router.push({ name: 'wayfinder', params: { to: this.item.id } });
          },
        });
      }

      this.voiceCommands = allCommands;
    }

    this.$emit('componentVoiceCommands', this.voiceCommands);
  },
  async created() {
    if (!this.isDesignerCard) {
      this.levelText = await this.getDynamicTranslation(getCategoryLevelString([ this.item ]));
    }

    const categoryName = await this.getDynamicTranslation(this.category ? this.category.name : '');

    this.nameText = this.isDesignerCard
      ? this.item
      : `${this.item.name}${this.category ? ' - ' + categoryName : ''}`;
  },
  methods: {
    getCategoryLevelString,
    viewDetails(id) {
      if (this.isCategoryCard) {
        router.push({ name: 'category-designers', params: { categoryId: id } });
      } else if (this.isDesignerCard) {
        router.push({ name: 'designer-categories', params: { designerName: id } });
      } else if (this.isDesignerCategoryCard) {
        this.$router.push({
          name: 'wayfinder',
          params: { to: id },
        });
      } else {
        router.push({ path: `/wayfinder/${id}` });
      }
    },
  },
};
</script>