<template>
  <header class="fadein header headerSplit" :style="{ '--voiceControlCircleColor': voiceControlCircleColor }">
    <div class="logo" v-on:touchstart="logoTouchStart" v-on:touchend="logoTouchEnd" v-on:click="$router.push({ path: '/home' })">
        <icon-base :width="250" :height="41.547"><saks-logo /></icon-base>
    </div>
    <div class="date-time">
      <ul class="hList">
        <li><span class="circle"></span></li>
        <li>{{ currentDate }}</li>
        <li>{{ currentTime }}</li>
        <li>{{ getClosingText() }}</li>
      </ul>
    </div>
  </header>
</template>

<style lang="scss" scoped>
  .header {
    background: #fff;
    height: 249px;
    margin: 0 auto;
    max-width: 1080px;
    padding: 85px 100px 120px;
    width: 100%;
  }

  .circle:before {
    content: ' \25CF';
    color: var(--voiceControlCircleColor);
  }

  .headerSplit {
    direction: ltr;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .date-time {
    direction: ltr;
    font-family: 'Gotham-Light';
    font-size: 20px;
    white-space: nowrap;
  }
  
  .logo {
    min-width: 250px;
  }
</style>

<script>
import { formatTimeAndDate } from '@/helpers';
import SaksLogo from '@/components/Icons/Saks Logo.vue';
import Timeout from '@/components/Theme/Timeout.vue';

export default {
  name: 'app-header',
  components: {
    SaksLogo,
    Timeout,
  },
  data() {
    return {
      adminInterval: 0,
      adminCount: 0,
      dateTimeInterval: 0,
      currentTime: '',
      currentDate: '',
      closedText: '',
      closesAtText: '',
      voiceControlActive: false,
      voiceControlInterval: 0,
    };
  },
  computed: {
    online() {
      return this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/ONLINE_STATUS`];
    },
    todayClosingTime() {
      const storeHours = this.$store.getters['appData/STORE_HOURS'];

      const todaysDate = new Date();

      const todaysDateString = todaysDate.toISOString().slice(0, 10);

      const todaysClosingTimeEntry =
        storeHours.find((storeHourEntry) => storeHourEntry.dates.includes(todaysDateString));

      if (todaysClosingTimeEntry) {
        return todaysClosingTimeEntry.closing_time;
      } else {
        const todaysDayOfWeek = todaysDate.getDay();

        return (todaysDayOfWeek === 0) ? '7:00 PM' : '8:30 PM';
      }
    },
    voiceControlCircleColor() {
      return this.voiceControlActive ? 'red' : 'grey';
    },
  },
  async created() {
    this.voiceControlInterval = setInterval(() => {
      this.voiceControlActive = window.artyom.isObeying();
    }, 500); // 0.5 seconds

    this.closedText = await this.getDynamicTranslation('CLOSED');
    this.closesAtText = await this.getDynamicTranslation('Closes at');
  },
  mounted() {
    this.setDateTime();

    this.dateTimeInterval = setInterval(() => {
        this.setDateTime();
    }, 5 * 1000); // Five seconds
  },
  methods: {
    getClosingText() {
      return (this.todayClosingTime.toUpperCase() === 'CLOSED') ?
        this.closedText :
        `${this.closesAtText} ${this.todayClosingTime}`;
    },
    setDateTime() {
      const dateTime = formatTimeAndDate(new Date());

      this.currentTime = dateTime.time;
      this.currentDate = dateTime.date;
    },
    logoTouchStart() {
      this.adminCount = 0;

      this.adminInterval = setInterval(() => {
        this.adminCount++;
        if (this.adminCount > 5) {
            clearInterval(this.adminInterval);
            this.adminCount = 0;

            this.goAdmin();
        }
      }, 1000);
    },
    logoTouchEnd() {
      clearInterval(this.adminInterval);
      this.adminCount = 0;
    },
    goAdmin() {
      // this.$router.push(
      //   {
      //     path: '/admin',
      //   },
      // );
    },
  },
  beforeDestroy() {
    clearInterval(this.dateTimeInterval);
    clearInterval(this.voiceControlInterval);
  },
  watch: {
    async currentLanguage(newVal) {
      this.closedText = await this.getDynamicTranslation('CLOSED');
      this.closesAtText = await this.getDynamicTranslation('Closes at');
    },
  },
};
</script>