<template>
  <div class="overlay" v-if="current <= continueTime && current > 0" id="timeout" v-on:click="reset">
      <div class="timer">
          <div class="countdown-container">
              <div id="halfclip" class="countdown-halfClip">
                  <div class="countdown-halfCircle countdown-halfCircle_clipped">
                  </div>
              </div>
              <div class="countdown-halfCircle countdown-halfCircle_fixed">
              </div>
              <div class="countdown-circleOutline">
                  <div class="countdown-circleOutline-timerCount">{{ current }}</div>
              </div>
          </div>
          <div class="timer-actions">
              <!-- TODO: Add reset timer click action -->
              <button class="btn btn_onOverlay" v-on:click="reset">{{ continueText }}</button>
              <button class="btn btn_onOverlay_inverted" v-on:click="resetAndHome">{{ startOverText }}</button>
          </div>
      </div>
  </div>
</template>

<style lang="scss" scoped>
    .overlay {
        background: rgba(0, 0, 0, .8);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .timer {
        left: 50%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

    .timer-actions {
        display: block;
        margin: 0 auto;
        width: 220px;

        & > * {
            display: block;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .countdown-container {
        animation: colors 4s infinite;
        height: 250px;
        margin: 0 auto 50px;
        position: relative;
        width: 250px;
    }

    .countdown-halfClip {
        width: 50%;
        height: 100%;
        right: 0px;
        position: absolute;
        overflow: hidden;
        transform-origin: left center;
        animation: cliprotate 16s steps(2) infinite;
        -webkit-animation: cliprotate 16s steps(2) infinite;
    }

    .countdown-halfCircle {
        border: solid 10px transparent;
        border-left-color: #fff;
        border-top-color: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        height: 100%;
        right: 0;
        position: absolute;

        &.countdown-halfCircle_clipped {
            animation: rotate 8s linear infinite;
            -webkit-animation: rotate 8s linear infinite;
            width: 200%;
        }
        &.countdown-halfCircle_fixed {
            animation: showfixed 16s steps(2) infinite;
            -webkit-animation: showfixed 16s linear infinite;
            transform: rotate(135deg);  
            width: 100%;
        }
    }

    .countdown-circleOutline {
        border: 1px solid #fff;
        border-radius: 50%;
        height: 240px;
        left: 5px;
        margin: 5px;
        position: relative;
        text-align: center;
        top: 5px;
        width: 240px;
    }

    .countdown-circleOutline-timerCount {
        color: #fff;
        font-family: 'Gotham-Bold';
        font-size: 65px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @-webkit-keyframes cliprotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    @keyframes cliprotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }


    @-webkit-keyframes rotate {
        0% {transform: rotate(-45deg);}
        100% {transform: rotate(135deg);}
    }

    @keyframes rotate {
        0% {transform: rotate(-45deg);}
        100% {transform: rotate(135deg);}
    }

    @-webkit-keyframes showfixed {
        0% {opacity: 0;}
        49.9% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 1;}
    }
</style>

<script>
import { logGenericTouch, newSession } from '@/helpers';
import CloseIcon from '@/components/Icons/Close.vue';
import DeleteButtonIcon from '@/components/Icons/DeleteButton.vue';
import PhoneIcon from '@/components/Icons/Phone.vue';
import router from '@/router/router';

export default {
  name: 'timeout',
  data() {
    return {
        start: 60,
        continueTime: 15,
        current: 60,
        timeoutInterval: 0,
        noTimeoutRoutes: [
          'splash',
          'home',
          'maintenance',
        ],
        continueText: '',
        startOverText: '',
        voiceCommands: [],
    };
  },
  async created() {
    this.voiceCommands = [
        {
            indexes: [ 'continue', 'cancel', 'keep using', 'close' ],
            action: () => {
                this.reset();
            },
        },
        {
            indexes: [ 'start over', 'reset' ],
            action: () => {
                this.resetAndHome();
            },
        },
    ];

    this.continueText = await this.getDynamicTranslation('Continue');
    this.startOverText = await this.getDynamicTranslation('Start Over');
  },
  methods: {
    reset() {
        if (this.$router.currentRoute.name !== 'home' && this.current <= this.continueTime) {
            this.voiceCommands.forEach((voiceCommand) => {
                this.removeVoiceCommand(voiceCommand.indexes);
            });
        }

        this.current = this.start;
    },
    resetAndHome() {
        this.voiceCommands.forEach((voiceCommand) => {
            this.removeVoiceCommand(voiceCommand.indexes);
        });

        this.reset();

        this.$store.commit('appData/SET_ADA', false);
        this.$store.commit('appData/SET_CURRENT_LANGUAGE', 'en');

        newSession();

        window.artyom.dontObey();

        this.$router.push(
            {
                path: '/home',
            },
        );
    },
    resetAndLogGenericTouch(e) {
        this.voiceCommands.forEach((voiceCommand) => {
            this.removeVoiceCommand(voiceCommand.indexes);
        });

        this.reset();

        logGenericTouch(e);
    },
  },
  computed: {
    noTimeout() {
        return ('no_timeout' in this.$route.query || // If no_timeout query parameter is set
            this.noTimeoutRoutes.includes(this.$route.name)); // If we are on the splash or maintenance pages
    },
  },
  mounted() {
    this.$root.$on('reset_timeout', () => {
        this.reset();
    });

    document.body.addEventListener('click', this.resetAndLogGenericTouch);
    window.onclick = () => this.reset();
    window.ontouchstart = () => this.reset();
    window.ontouchend = () => this.reset();
    window.ontouchmove = () => this.reset();

    this.timeoutInterval = setInterval(() => {
      if (this.noTimeout) {
        this.reset();
      } else {
        this.current--;
        if (this.current <= 0) {
          this.resetAndHome();
        }
      }
    }, 1000); // One second
  },
  beforeDestroy() {
    clearInterval(this.timeoutInterval);

    this.voiceCommands.forEach((voiceCommand) => {
        this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  watch: {
    current(newVal) {
        if (this.$router.currentRoute.name !== 'home' && newVal === this.continueTime) {
            this.addVoiceCommands(this.voiceCommands);
        }
    },
  },
};
</script>
