<template>
    <g>
        <path class="cls-1" d="M9.66,6.15V33.52A2.44,2.44,0,0,0,12.1,36H32.73a2.44,2.44,0,0,0,2.44-2.44V6.15M18.61,36A9.67,9.67,0,0,0,9.66,27m25.51,0a9.67,9.67,0,0,0-9,9"/>
        <path class="cls-1" d="M44.08,8.07V4.24A3.49,3.49,0,0,0,40.59.75H4.24A3.49,3.49,0,0,0,.75,4.24V8.07"/>
        <line class="cls-1" x1="5.46" y1="6.15" x2="39.37" y2="6.15"/>
        <path class="cls-1" d="M22.41,8.28A7.72,7.72,0,1,0,30.13,16,7.72,7.72,0,0,0,22.41,8.28Z"/>
        <line class="cls-1" x1="26.74" y1="15.97" x2="27.69" y2="15.97"/>
        <path class="cls-1" d="M20.11,14a2.07,2.07,0,0,0-2,2,2,2,0,0,0,2,2c1.44,0,1.93-1,2.39-2s.91-2,2.22-2a2,2,0,0,1,2,1.73s0,.2,0,.31,0,.3,0,.3a2,2,0,0,1-2,1.73"/>
        <line class="cls-1" x1="18.14" y1="16.02" x2="17.14" y2="16.02"/>
    </g>   
</template>