<template>
    <g>
        <rect class="cls-1" x="27.33" y="25.86" width="56.02" height="27.6" rx="2.7"/>
        <path class="cls-2" d="M83.35,40.76c-6.61,3.12-16.7,5.11-28,5.11s-21.41-2-28-5.12"/>
        <path class="cls-1" d="M1.92,56.57S2,39.81,1.69,38.06s-1.35-4-.77-7.7S4.4,21.42,4.3,17.94,3.07,2.5,3.07,2.5,27.32.76,27.16.75,28.35,11.54,29,14.22s3.55,12.84,4.83,17.14,2.49,10.33,5.89,13,14.85,7.22,15.55,8.69a4.74,4.74,0,0,1,.38,2.82l-.24.66H28.75c-5.9,0-7.32-7.79-13.39-12.52s-9.67-5.2-9.67-5.2L5.17,56.57Z"/>
        <line class="cls-2" x1="5.69" y1="38.85" x2="1.69" y2="38.06"/>
        <circle class="cls-2" cx="55.34" cy="38.66" r="2.13"/>
    </g>
</template>