<template>
    <g>
        <line class="cls-1" x1="0.75" y1="20.76" x2="21.03" y2="20.76"/>
        <circle class="cls-1" cx="10.92" cy="4" r="3.25"/>
        <polygon class="cls-1" points="29.63 11.42 34.59 32.13 24.66 32.13 29.63 11.42"/>
        <circle class="cls-1" cx="29.63" cy="4" r="3.25"/>
        <polygon class="cls-1" points="7.53 20.76 5.96 11.42 15.88 11.42 14.31 20.76 7.53 20.76"/>
        <line class="cls-1" x1="29.63" y1="40.88" x2="29.63" y2="32.13"/>
    </g>
</template>