<template>
    <g>
        <polygon points="10.82 0 49.74 0 49.74 38.75 10.82 38.75 0 19.38 10.82 0"/>
        <polyline class="cls-1" points="22.73 13.47 28.64 19.38 22.73 25.28"/>
        <polyline class="cls-1" points="34.54 13.47 28.64 19.38 34.54 25.28"/>
    </g>
</template>