<template>
    <g>
        <path class="cls-1" d="M78.48,76.77h-76A1.71,1.71,0,0,1,.75,75l3.6-53.77a1.72,1.72,0,0,1,1.71-1.6H74.88a1.71,1.71,0,0,1,1.7,1.6L80.18,75A1.7,1.7,0,0,1,78.48,76.77Z"/>
        <path class="cls-1" d="M29.21,25.92V12.56A11.82,11.82,0,0,1,41,.75h0A11.81,11.81,0,0,1,52.84,12.56V25.92"/>
        <line class="cls-1" x1="1.69" y1="60.94" x2="79.25" y2="60.94"/>
        <rect class="cls-1" x="26.3" y="37.32" width="28.34" height="8.1"/>
    </g>
</template>