<template>
    <g>
        <path class="cls-1" d="M44.16,22.32V2A1.25,1.25,0,0,0,42.91.75h-6A1.25,1.25,0,0,0,35.69,2V22.32a10.62,10.62,0,0,0-6.42,9.77V77.24a1.66,1.66,0,0,0,1.67,1.66h18a1.66,1.66,0,0,0,1.67-1.66V32.09A10.55,10.55,0,0,0,44.16,22.32Z"/>
        <line class="cls-2" x1="35.69" y1="5.36" x2="44.16" y2="5.36"/>
        <line class="cls-1" x1="5.97" y1="78.9" x2="17.97" y2="78.9"/>
        <line class="cls-1" x1="11.97" y1="78.9" x2="11.97" y2="59.83"/>
        <path class="cls-1" d="M23.19,47.57a11.22,11.22,0,0,1-22.44,0"/>
        <polygon class="cls-1" points="20.86 29.02 3.08 29.02 0.75 47.57 23.19 47.57 20.86 29.02"/>
    </g>
</template>