<template>
    <g>
        <path d="M35.94,0a35.95,35.95,0,1,0,36,35.94A36,36,0,0,0,35.94,0Zm0,70.89a34.95,34.95,0,1,1,35-34.95A35,35,0,0,1,35.94,70.89Z"/>
        <path d="M37,22h0L35.94,20.9,34.9,22h0L21.19,35.65a1.48,1.48,0,1,0,2.09,2.1L34.46,26.57V48.89a1.48,1.48,0,1,0,3,0V26.57L48.61,37.75a1.44,1.44,0,0,0,1,.43,1.48,1.48,0,0,0,1.05-2.53Z"/>
    </g>
</template>