<template>
    <g>
        <polyline class="cls-1" points="65.6 47.59 34.88 78.31 4.17 47.59"/>
        <path class="cls-1" d="M99.47,69.52V36.58A32.42,32.42,0,0,0,67.05,4.17h0A32.41,32.41,0,0,0,34.64,36.58V77.75"/>
    </g>
</template>