<template>
  <g class="fullbodyHolder" style="opacity: 1;">
    <g class="fullbodyHolder2">
      <circle cx="11" cy="14" r="16" class="walkingBG"></circle>
      <g class="fullbody">
        <circle cx="13" cy="5.2" r="1.9" class="head"></circle>
        <path
          d="M9.4,14.1l1.1-4.8c0.2-0.8,0.9-1.3,1.7-1.1h0c0.8,0.2,1.3,0.9,1.1,1.7l-1.1,4.8c-0.2,0.8-0.9,1.3-1.7,1.1l0,0 C9.7,15.6,9.2,14.9,9.4,14.1z"
          class="body"
        ></path>
        <g class="arm1">
          <path
            d="M12.4,9.7l-2.9,2.4c-0.4,0.3-0.9,0.3-1.2-0.1l0,0c-0.3-0.4-0.3-0.9,0.1-1.2l2.9-2.4c0.4-0.3,0.9-0.3,1.2,0.1 l0,0C12.8,8.9,12.8,9.4,12.4,9.7z"
            class="bicep1"
          ></path>
          <path
            d="M9.6,11.7l-0.8,3.8c-0.1,0.4-0.5,0.7-0.9,0.6h0c-0.4-0.1-0.7-0.5-0.6-0.9l0.8-3.8C8.2,11,8.6,10.7,9,10.8h0 C9.4,10.9,9.7,11.3,9.6,11.7z"
            class="forearm1"
          ></path>
        </g>
        <g class="arm2">
          <path
            d="M12.7,8.7l1.6,3.4c0.2,0.4,0,0.9-0.4,1.2l0,0c-0.4,0.2-0.9,0-1.2-0.4l-1.6-3.4c-0.2-0.4,0-0.9,0.4-1.2l0,0 C12,8.1,12.5,8.3,12.7,8.7z"
            class="bicep2"
          ></path>
          <path
            d="M13.9,11.9l3.6,1.7c0.4,0.2,0.6,0.6,0.4,1l0,0c-0.2,0.4-0.6,0.6-1,0.4l-3.6-1.7c-0.4-0.2-0.6-0.6-0.4-1v0 C13.1,11.9,13.5,11.8,13.9,11.9z"
            class="forearm2"
          ></path>
        </g>
        <g class="leg1">
          <path
            d="M11.4,15.4l-1.1,4.2c-0.1,0.5-0.6,0.7-1.1,0.6h0c-0.5-0.1-0.7-0.6-0.6-1.1l1.1-4.2c0.1-0.5,0.6-0.7,1.1-0.6l0,0 C11.2,14.4,11.5,14.9,11.4,15.4z"
            class="thigh1"
          ></path>
          <path
            d="M10,20l-2.5,3.5c-0.3,0.4-0.8,0.5-1.2,0.2l0,0c-0.4-0.3-0.5-0.8-0.2-1.2L8.5,19c0.3-0.4,0.8-0.5,1.2-0.2h0 C10.1,19.1,10.2,19.6,10,20z"
            class="foot1"
          ></path>
        </g>
        <g class="leg2">
          <path
            d="M11.4,14.7l2.4,3.6c0.3,0.4,0.2,0.9-0.2,1.2l0,0c-0.4,0.3-0.9,0.2-1.2-0.2l-2.4-3.6c-0.3-0.4-0.2-0.9,0.2-1.2 l0,0C10.6,14.2,11.1,14.3,11.4,14.7z"
            class="thigh2"
          ></path>
          <path
            d="M14,18.7l2.4,3.6c0.3,0.4,0.2,0.9-0.2,1.2v0c-0.4,0.3-0.9,0.2-1.2-0.2l-2.4-3.6c-0.3-0.4-0.2-0.9,0.2-1.2h0 C13.2,18.2,13.8,18.3,14,18.7z"
            class="foot2"
          ></path>
        </g>
      </g>
    </g>
  </g>
</template>
