<template>
  <g class="fullbodyHolder2">
    <circle cx="11" cy="14" r="16" class="walkingBG"></circle>
    <g class="wheelchair-ada">
      <g class="wheels-ada">
        <path
          d="M144.7,362.1c33.5-26,75.7-41.3,121.3-41.1c108.6,0.6,196.2,89.1,195.7,197.7c-0.2,45.9-16.1,88-42.6,121.3 l-50.2-51.3l-174-175.5L144.7,362.1z M368.9,588.7c14-20.1,22.3-44.6,22.4-71c0.4-69.4-55.6-126-125-126.3 c-26.5-0.1-51,7.9-71.4,21.8L368.9,588.7z"
        ></path>
        <path
          d="M386.1,672.7c-33.4,26.1-75.4,41.7-121.1,41.7c-108.6,0-196.7-88.1-196.7-196.7c0-45.9,15.7-88,42-121.5 l50.4,51l174.9,174.6L386.1,672.7z M160.7,447.2c-13.9,20.2-22,44.7-22,71.1c0,69.4,56.3,125.7,125.7,125.7 c26.5,0,51-8.2,71.2-22.1L160.7,447.2z"
        ></path>
      </g>
      <path
        d="M229.8,324.1l6.3,37.7l5.3,31.8C284.5,384,330,399,359,433l82.6-1.9c0,0,8.6-59.8-57.2-69.7 c-22-3.3-37.9-28.4-60.9-33.9C277.7,316.5,229.8,324.1,229.8,324.1z"
      ></path>
      <g class="upperbody-ada">
        <path
          d="M479,265.1l-96,110.2c-22.4,25.3-61.4,27.6-86.7,5.2l-47.8-42.4c-8.8-7.8-9.6-21.4-1.8-30.2l77.2-81.5 c40.4-45.6,106.4-52.4,152-12l0,0C490.7,227.6,492.1,250.3,479,265.1z"
        ></path>
        <path
          d="M491.4,196.3c35.5,0,64.3-28.8,64.3-64.3c0-35.5-28.8-64.3-64.3-64.3c-35.5,0-64.3,28.8-64.3,64.3 C427.1,167.5,455.9,196.3,491.4,196.3z"
          class="head-ada"
        ></path>
        <g class="upperarms-ada">
          <path
            d="M388.1,249.5l-132.2-78c-18.1-10.7-24.2-34.2-13.5-52.4l0,0c10.7-18.1,34.2-24.2,52.4-13.5l132.2,78 c18.1,10.7,24.2,34.2,13.5,52.4l0,0C429.8,254.1,406.3,260.2,388.1,249.5z"
          ></path>
          <path
            d="M294,168.4l-83.9,73.3c-15.9,13.9-40.2,12.2-54.1-3.6l0,0c-13.9-15.9-12.2-40.2,3.6-54.1l83.9-73.3 c15.9-13.9,40.2-12.2,54.1,3.6l0,0C311.5,130.2,309.9,154.5,294,168.4z"
            class="forearms-ada"
          ></path>
        </g>
      </g>
      <g class="legs-ada">
        <path
          d="M479.8,583.4l17-197.3c1.8-21,20.5-36.7,41.5-34.9h0c21,1.8,36.7,20.5,34.9,41.5l-17,197.3 c-1.8,21-20.5,36.7-41.5,34.9h0C493.7,623,478,604.4,479.8,583.4z"
        ></path>
        <path
          d="M537.3,426.3L404,432.9c-21,1-38.8-15.1-39.8-36.1v0c-1-20.9,15.1-38.8,36.1-39.8l133.4-6.7 c21-1,38.8,15.1,39.8,36.1l0,0C574.4,407.4,558.3,425.3,537.3,426.3z"
        ></path>
      </g>
    </g>
  </g>
</template>
