<template>
    <g>
        <polygon points="17.56 9.03 11.42 9.03 11.42 6.15 16.79 6.15 16.79 4.47 11.42 4.47 11.42 1.68 17.48 1.68 17.48 0 9.54 0 9.54 10.71 17.56 10.71 17.56 9.03"/>
        <polygon points="21.64 3.09 27.55 10.71 29.13 10.71 29.13 0 27.27 0 27.27 7.41 21.53 0 19.79 0 19.79 10.71 21.64 10.71 21.64 3.09"/>
        <path d="M31.13,29.79h2.62v-1.5H28V26h-1.5v2.33H20.7v1.5h2.61a10.83,10.83,0,0,0,2.82,5.48,19.3,19.3,0,0,1-5.67,3.29L20.93,40a20.29,20.29,0,0,0,6.29-3.66A20.41,20.41,0,0,0,33.51,40L34,38.56a19.3,19.3,0,0,1-5.67-3.29A10.83,10.83,0,0,0,31.13,29.79Zm-1.53,0a9.4,9.4,0,0,1-2.38,4.44,9.48,9.48,0,0,1-2.38-4.44Z"/>
        <path d="M11.86,26h-1.5v2.1H4.17v8h6.19v4.23h1.5V36.08h6.2v-8h-6.2ZM5.67,34.58v-5h4.69v5Zm10.89-5v5h-4.7v-5Z"/>
        <rect y="17.5" width="38.66" height="1.5"/>
    </g>
</template>