<template>
    <g>
        <path d="M27,3.83h2.61V2.33H23.81V0h-1.5V2.33H16.53v1.5h2.61A10.91,10.91,0,0,0,22,9.31,19.19,19.19,0,0,1,16.3,12.6L16.76,14a20.28,20.28,0,0,0,6.3-3.66A20.18,20.18,0,0,0,29.35,14l.47-1.43a19,19,0,0,1-5.67-3.29A10.91,10.91,0,0,0,27,3.83Zm-1.53,0a9.41,9.41,0,0,1-2.39,4.44,9.48,9.48,0,0,1-2.38-4.44Z"/>
        <path d="M7.7,0H6.2V2.1H0v8H6.2v4.23H7.7V10.12h6.19v-8H7.7ZM1.5,8.62v-5H6.2v5Zm10.89-5v5H7.7v-5Z"/>
    </g>
</template>