<template>
    <g>
        <path class="cls-1" d="M27.21,0H1A1,1,0,0,0,0,1V46.62a1,1,0,0,0,1,1h26.2a1,1,0,0,0,1-1V1A1,1,0,0,0,27.21,0ZM17.14,45.67H11.09a1,1,0,1,1,0-1.9h6.05a1,1,0,1,1,0,1.9Zm8.06-4.76a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V3.81a1,1,0,0,1,1-1H24.19a1,1,0,0,1,1,1Z"/>
    </g>
</template>