<template>
    <g>
        <polygon class="cls-1" points="5.71 43.16 0.75 13.7 10.68 13.7 5.71 43.16"/>
        <circle class="cls-1" cx="5.71" cy="6.28" r="3.25"/>
        <polygon class="cls-1" points="48.7 13.7 53.67 34.41 43.74 34.41 48.7 13.7"/>
        <circle class="cls-1" cx="48.71" cy="6.28" r="3.25"/>
        <line class="cls-1" x1="48.71" y1="43.15" x2="48.71" y2="34.41"/>
        <line class="cls-1" x1="26.41" y1="0.75" x2="26.41" y2="45.31"/>
    </g>
</template>