<template>
    <g>
        <rect class="cls-1" x="0.75" y="10.96" width="32.28" height="31.07"/>
        <path class="cls-1" d="M16.89.75h0a9.33,9.33,0,0,1,9.33,9.33V11a0,0,0,0,1,0,0H7.56a0,0,0,0,1,0,0v-.88A9.33,9.33,0,0,1,16.89.75Z"/>
    </g>
</template>