<template>
    <g>
        <path class="arrow-3" d="M15.46,32.65.59,21.34A1.5,1.5,0,0,1,2.41,19l13.05,9.93L28.51,19a1.5,1.5,0,1,1,1.82,2.39Z"/>
        <path class="arrow-1" d="M15.46,14,.59,2.69A1.49,1.49,0,0,1,.31.59,1.49,1.49,0,0,1,2.41.31l13.05,9.93L28.51.31a1.5,1.5,0,1,1,1.82,2.38Z"/>
        <path class="arrow-2" d="M15.46,23.33.59,12A1.5,1.5,0,0,1,2.41,9.63l13.05,9.93L28.51,9.63A1.5,1.5,0,1,1,30.33,12Z"/>
    </g>
</template>


<style lang="scss" scoped>
    .arrow-1 {
        // fill: rgba(0, 0, 0, .1);
        opacity: .1;
    }

    .arrow-2 {
        // fill: rgba(0, 0, 0, .2);
        opacity: .2;
    }
    
    .arrow-3 {
        // fill: rgba(0, 0, 0, .4);
        opacity: .4;
    }
</style>

<script>
    export default {
        name: 'Floor1',
        props: {
            color: {
                type: String,
                default: 'inactive',
            },
        },
    };
</script>