<template>
    <g>
        <line class="cls-1" x1="0.75" y1="33.53" x2="54.12" y2="33.53"/>
        <line class="cls-1" x1="27.43" y1="33.53" x2="27.43" y2="28.18"/>
        <path class="cls-1" d="M51.58,28.18H3.28a24.15,24.15,0,0,1,48.3,0Z"/>
        <line class="cls-1" x1="27.43" y1="4.03" x2="27.43" y2="0.75"/>
        <line class="cls-1" x1="24.27" y1="0.75" x2="30.6" y2="0.75"/>
    </g>
</template>