<template>
    <g>
        <path d="M3.82,28.33A3.8,3.8,0,0,1,0,24.86a3.75,3.75,0,0,1,3-4,.91.91,0,0,0,.79-.7,5.63,5.63,0,0,1,1.28-2.05L21.12,1.17A3.29,3.29,0,0,1,23.54,0,2.63,2.63,0,0,1,26,1.64a2.54,2.54,0,0,1-.56,2.87c-.31.32-.62.65-1,1A1.09,1.09,0,0,1,23,4c.29-.32.61-.62.92-.92A.46.46,0,0,0,24,2.38a.49.49,0,0,0-.65-.16,1.39,1.39,0,0,0-.54.39c-1.05,1.11-2.09,2.23-3.16,3.32a1.44,1.44,0,0,0-.34.93c-.43,3.19-.83,6.39-1.28,9.58a5.11,5.11,0,0,1-4.91,4.28c-2.21,0-4.42,0-6.63,0-.23,0-.53-.13-.66.24s.19.41.36.54a3.81,3.81,0,0,1-2.32,6.82Zm1.61-3.8a1.61,1.61,0,0,0-1.6-1.63,1.63,1.63,0,1,0,0,3.26A1.6,1.6,0,0,0,5.43,24.53Z"/>
        <path d="M17.42,20.73a3.8,3.8,0,1,1-3.82,3.8A3.78,3.78,0,0,1,17.42,20.73ZM19,24.5a1.62,1.62,0,0,0-1.63-1.6,1.65,1.65,0,0,0-1.63,1.63,1.67,1.67,0,0,0,1.62,1.63A1.63,1.63,0,0,0,19,24.5Z"/>
        <path d="M13.35,1.87a3.29,3.29,0,0,1,3.07,2.19.55.55,0,0,1-.13.65Q14.7,6.35,13.14,8a.68.68,0,0,1-.85.19,3.26,3.26,0,0,1,1.06-6.35Z"/>
        <path d="M7.78,13.66c-1.42,1.5-2.79,3-4.21,4.42a1.62,1.62,0,0,1-2.31-2.26c1-1.11,2.05-2.21,3.11-3.28a1.57,1.57,0,0,1,2.12-.08C6.92,12.82,7.32,13.22,7.78,13.66Z"/>
    </g>
</template>