<template>
    <g>
        <circle class="cls-1" cx="8.6" cy="2.41" r="2.41"/>
        <path class="cls-1" d="M1.1,12.76c.67-.11,3.35-.58,3.5-.63s0,0,.05-.08S7,7,7.27,6.78A4.23,4.23,0,0,1,9,5.58a2.62,2.62,0,0,1,1.77.17s4.38,2.51,4.67,2.65a1.8,1.8,0,0,1,.54.66l2,3.85a1.28,1.28,0,0,1,.26.77,1.24,1.24,0,0,1-2.44.28L14,10.35l-1.19-.67c.08.26,1.18,5.6,1.18,5.6l1.11,6.32,3.89,4.69a1.43,1.43,0,1,1-2.14,1.87L12.16,22.7a1.86,1.86,0,0,1-.54-1c-.06-.3-.7-4.16-.7-4.16L7.24,21.23v6.48h0a1.44,1.44,0,0,1-2.87,0h0v-.17c0-1,0-5.9,0-7s.4-1.51.5-1.62S8.4,15.14,8.4,15.14l-.76-3.66s-1,1.92-1.08,2.13a1.3,1.3,0,0,1-.74.67c-.33.08-4.41.9-4.41.9h0l-.18,0a1.22,1.22,0,0,1-.12-2.43Z"/>
    </g>
</template>