<template>
    <g>
        <path d="M21.66,12.85a1.66,1.66,0,0,0-1.3-.5l-5.87.32L17.72,9a2,2,0,0,0,.42-1.85,1.72,1.72,0,0,0-.76-1.06L9.66,1.59a1.68,1.68,0,0,0-2,.2L3.93,5.15A1.68,1.68,0,1,0,6.17,7.66L9,5.12l2.37,1.37L7.22,11.23a8.58,8.58,0,0,0-4.51,2.23l2.18,2.18a5.49,5.49,0,0,1,3.72-1.45,5.54,5.54,0,0,1,4.1,9.26l2.17,2.18a8.64,8.64,0,0,0,1.47-9.69l2.27-.12-.55,6.78a1.67,1.67,0,0,0,1.54,1.81h.14a1.68,1.68,0,0,0,1.67-1.55l.71-8.71A1.68,1.68,0,0,0,21.66,12.85Z"/>
        <path d="M18.54,5.64a2.82,2.82,0,1,0-2.82-2.82A2.82,2.82,0,0,0,18.54,5.64Z"/>
        <path d="M8.61,25.27A5.54,5.54,0,0,1,4,16.63l-2.2-2.2A8.61,8.61,0,0,0,13.92,26.51l-2.2-2.2A5.48,5.48,0,0,1,8.61,25.27Z"/>
    </g>
</template>