<template>
    <g>
        <polygon class="cls-1" points="48.7 13.7 53.67 34.41 43.74 34.41 48.7 13.7"/>
        <circle class="cls-1" cx="48.71" cy="6.28" r="3.25"/>
        <line class="cls-1" x1="48.71" y1="43.15" x2="48.71" y2="34.41"/>
    </g>
</template>