<template>
  <fragment id="app" v-if="!onSplash">
    <Header v-if="showHeader" />
    <main class="main-container fadein">
      <router-view :isAda="ada" />
      <div class="adaToggle-container">
        <div class="adaToggle">
          <div 
            class="adaToggle-btn"
            :class="{ 'adaToggle-btn_isActive' : ada }"
            v-on:click="adaToggle"
          >
            <div class="adaToggle-btn-icon">
              <icon-base class="icon" :width="40" :height="40" :iconColor="ada ? 'white' : 'black'" stroke="transparent"><WheelchairIcon /></icon-base>
            </div>
            <div class="adaToggle-btn-arrow"></div>
          </div>
        </div>
      </div>
    </main>
    <Timeout />
    <Footer :showFooterButtons="showFooterButtons" :showQuickNav="showQuickNav" :isAda="ada" />
  </fragment>
  <fragment id="app" v-else>
    <router-view />
  </fragment>
</template>

<style lang="scss">
  .main-container {
    position: relative;
  }

  .adaToggle-container {
    bottom: 57px;
    direction: ltr;
    height: 72px;
    pointer-events: none;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 2;
  }

  .adaToggle {
    margin: 0 auto;
    position: relative;
    width: 1080px;
  }

  .adaToggle-btn {
    align-items: center;
    border: 1px solid #000;
    border-radius: 35px 0 0 35px;
    border-right: 0;
    display: flex;
    height: 70px;
    justify-content: center;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;

    & > * {
      flex: 1 0 auto;
    }
  }

  .adaToggle-btn-icon {
    left: 20px;
    position: relative;
    top: 6px;
  }

  .adaToggle-btn-arrow {

    &:before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #000;
      content: '';
      height: 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
    }
  }

  .adaToggle-btn_isActive .adaToggle-btn-arrow:before {
      border-bottom: 10px solid #fff;
      border-top: 0;
  }

  .adaToggle-btn_isActive {
    background: #000;
  }
</style>

<script>
import { Route } from 'vue-router';
import { logTouch, newSession } from '@/helpers';
import Footer from '@/components/Theme/Footer.vue';
import Header from '@/components/Theme/Header.vue';
import Timeout from '@/components/Theme/Timeout.vue';
import WheelchairIcon from '@/components/Icons/Wheelchair.vue';

export default {
  name: 'theme',
  components: {
    Footer,
    Header,
    Timeout,
    WheelchairIcon,
  },
  computed: {
    showHeader() {
      return this.$route.path !== '/splash';
    },
    showFooterButtons() {
      return this.$route.path !== '/home' && this.$route.path !== '/splash';
    },
    showQuickNav() {
      return this.$route.path === '/saks-at-your-service';
    },
    onSplash() {
      return this.$route.path === '/splash';
    },
    showNav() {
      return this.$route.path !== '/home' && this.$route.path !== '/splash' && this.$route.path !== '/maintenance';
    },
    showMTNumber() {
      return this.$route.path.includes('transit-schedules');
    },
    zeroPadding() {
      return this.$route.path === '/home' || this.$route.path === '/splash';
    },
    ada() {
      return this.$store.getters['appData/ADA'];
    },
  },
  methods: {
    adaToggle() {
      this.$store.dispatch('appData/TOGGLE_ADA');
    },
  },
  mounted() {
    this.$store.commit('appData/SET_CURRENT_LANGUAGE', 'en');
  },
  watch: {
    $route(newVal) {
      logTouch({
        device_name: window.initParam,
        touch_type: 'Navigation',
        page_name: newVal.fullPath + window.location.search,
      });

      if (newVal.fullPath === '/home') {
        newSession();
      }
    },
  },
};
</script>