/* Colors
black: #000;
*/

* {
    box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
	width: 0;
    background-color: transparent;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loading {
    height: 10vh;
    background: #fff;
    padding: 5vh;
    margin: 17vh auto;
    width: 10vh;
	transition: background 1s ease
}

.loading-balls, .loading-balls:before, .loading-balls:after {
	border-radius: 50%;
	background-color: #333;
	width: 1vh;
	height: 1vh;
	transform-origin: center center;
	display: inline-block;
}
.loading-balls {
	position: relative;
	background: #333;
	top: 1.5vh;
    left: 4.2vh;
	opacity: 1;
	animation: spScaleAlpha 1s infinite linear;
}
.loading-balls:before, .loading-balls:after {
	content: '';
	position: relative;
	opacity: 0.25;
}
.loading-balls:before {
	left: 2vh;
	top: 0;
	-webkit-animation: spScaleAlphaBefore 1s infinite linear;
	animation: spScaleAlphaBefore 1s infinite linear;
}
.loading-balls:after {
	left: -2vh;
	top: -1vh;
	-webkit-animation: spScaleAlphaAfter 1s infinite linear;
	animation: spScaleAlphaAfter 1s infinite linear;
}
@keyframes spScaleAlpha {
	0% { opacity: 1; }
	33% {  opacity: 0.25; }
	66% { opacity: 0.25; }
	100% {  opacity: 1; }
}
@keyframes spScaleAlphaBefore {
	0% { opacity: 0.25; }
	33% { opacity: 1; }
	66% { opacity: 0.25; }
}
@keyframes spScaleAlphaAfter {
	33% { opacity: 0.25; }
	66% { opacity: 1; }
	100% { opacity: 0.25; }
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:  #6d6e71;
}

.scroll-div.attractions-search::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6d6e71;
}

.scroll-div.metro-transit::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d19348;
}

.scroll-div.search::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6d6e71;
}

.scroll-div.events::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6d6e71;
}


*:focus{
  outline: none;
}

/*****FONTS*****/
@font-face {
	font-family: 'Gotham-Black';
	src: url(~@/assets/fonts/Gotham-Black.otf);
}
@font-face {
	font-family: 'Gotham-Light';
	src: url(~@/assets/fonts/Gotham-Light.otf);
}
@font-face {
	font-family: 'Gotham-Book';
	src: url(~@/assets/fonts/Gotham-Book.otf);
}

@font-face {
	font-family: 'Gotham-Medium';
	src: url(~@/assets/fonts/Gotham-Medium.otf);
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url(~@/assets/fonts/Gotham-Bold.otf);
}

body, html {
	width: 1080px;
	height: 1920px;
	margin: auto;
	font-family: 'Gotham-Light';
	color: #000;
    background: #fff;
    touch-action: none;
}

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Gotham-Bold';
    margin: 0;
    text-transform: uppercase;
}

.h1 {
    font-size: 62px;
    margin: 0 auto;
    max-width: 760px;
    position: relative;
    text-align: center;
    z-index: 6;
}

.pageHeader-subtitle {
    font-family: 'Gotham-Medium';
    font-size: 24px;
    text-align: center;
}

/* Buttons */

.btn {
    background: #000;
    color: #fff;
    font-family: 'Gotham-Bold';
    font-size: 20px;
    padding: 25px;
    text-transform: uppercase;
}

.btn:disabled {
    opacity: .5;
}

.btn_inverted {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    padding: 18px 40px;
}

.btn_onOverlay {
    background: #fff;
    color: #000;
    padding: 18px 40px;
}

.btn_onOverlay_inverted {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 18px 40px;
}

/* hList - creates a horizontal list with  */

.hList {
    display: flex;
    justify-content: flex-end;
}

.hList li + li {
    border-left: 1px solid #000;
    margin-left: 20px;
    padding-left: 20px;
}

.pageHeader {
    background: #fff;
    max-width: 1080px;
    width: 100%;
    max-width: 1080px;
}

.search-container {
    margin: 110px auto;
    position: relative;
    z-index: 3;
}

.search-container_ada {
    margin-bottom: 40px;
}

.fadein {
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* map animations */
.geodude-container {
    transition: top 0.5s linear, left 0.5s linear;
    opacity: 1;
}
.geodude-container.temporaryStop {
    transition: none;
}
.geodude-container.flip {
    transform: scale(-1, 1);
}
.geodude-container svg {
    width: 30px;
    height: 30px;
    overflow: visible;
}
.geodude-overlay {
    transition: opacity 500ms;
}
.fullbodyHolder {
    transition: opacity .5s;
}

.fullbody,
.arm1,
.arm2,
.leg1,
.leg2,
.foot1,
.foot2 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.fullbody path, .fullbody circle {
	fill: #000;
}

.wheelchair-ada path, .wheelchair-ada circle {
	fill: #000;
}

.mapButtons .fullbody path, .mapButtons .fullbody circle {
    fill: #000;
}

.mapButtons .fullbody,
.mapButtons .arm1,
.mapButtons .arm2,
.mapButtons .leg1,
.mapButtons .foot1,
.mapButtons .leg2,
.mapButtons .foot2 {
	animation: none;
}

.walkingBG {
	fill: #fff;
}

.arm1 {
	transform-origin: 12px 10px;
}

.arm2 {
    transform-origin: 12px 10px;
}

.leg1 {
    transform-origin: 12px 14px;
}

.foot1 {
    transform-origin: 9px 20px;
}

.leg2 {
    transform-origin: 12px 14px;
}

.foot2 {
    transform-origin: 13px 19px;
}

.fullbody {
    animation-name: fullbody;
}

.flipGuy .fullbody {
    animation-name: fullbody2;
}

.arm1 {
    animation-name: arm1;
}

.arm2 {
    animation-name: arm2;
}

.leg1 {
    animation-name: leg1;
}

.foot1 {
    animation-name: foot1;
}

.leg2 {
    animation-name: leg2;
}

.foot2 {
    animation-name: foot2;
}

@keyframes fullbody {
    0%   {transform: translateY(0px);}
    16.666%   {transform: translateY(1px);}
    33.333%   {transform: translateY(-1px);}
    50%   {transform: translateY(0px);}
    66.666%   {transform: translateY(1px);}
    83.333%   {transform: translateY(-1px);}
    100%   {transform: translateY(0px);}
}

@keyframes fullbody2 {
    0%   {transform: translateY(0px) scale(-1,1) translateX(-22px);}
    16.666%   {transform: translateY(1px) scale(-1,1) translateX(-22px);}
    33.333%   {transform: translateY(-1px) scale(-1,1) translateX(-22px);}
    50%   {transform: translateY(0px) scale(-1,1) translateX(-22px);}
    66.666%   {transform: translateY(1px) scale(-1,1) translateX(-22px);}
    83.333%   {transform: translateY(-1px) scale(-1,1) translateX(-22px);}
    100%   {transform: translateY(0px) scale(-1,1) translateX(-22px);}
}

@keyframes arm1 {
    0%   {transform: rotate(12deg);}
    50%   {transform: rotate(-77deg);}
    100%   {transform: rotate(12deg);}
}

@keyframes arm2 {
    0%   {transform: rotate(0deg);}
    50%   {transform: rotate(89deg);}
    100%   {transform: rotate(0deg);}
}

@keyframes leg1 {
    0%   {transform: rotate(3deg);}
    16.666%   {transform: rotate(-4deg);}
    33.333%   {transform: rotate(-70deg);}
    50%   {transform: rotate(-46deg);}
    66.666%   {transform: rotate(-46deg);}
    83.333%   {transform: rotate(7deg);}
    100%   {transform: rotate(3deg);}
}

@keyframes foot1 {
    0%   {transform: rotate(9deg);}
    16.666%   {transform: rotate(29deg);}
    33.333%   {transform: rotate(79deg);}
    50%   {transform: rotate(-20deg);}
    66.666%   {transform: rotate(58deg);}
    83.333%   {transform: rotate(-20deg);}
    100%   {transform: rotate(9deg);}
}

@keyframes leg2 {
    0%   {transform: rotate(0deg);}
    16.666%   {transform: rotate(0deg);}
    33.333%   {transform: rotate(52deg);}
    50%   {transform: rotate(51deg);}
    66.666%   {transform: rotate(56deg);}
    83.333%   {transform: rotate(-5deg);}
    100%   {transform: rotate(0deg);}
}

@keyframes foot2 {
    0%   {transform: rotate(0deg);}
    16.666%   {transform: rotate(81deg);}
    33.333%   {transform: rotate(1deg);}
    50%   {transform: rotate(25deg);}
    66.666%   {transform: rotate(45deg);}
    83.333%   {transform: rotate(96deg);}
    100%   {transform: rotate(0deg);}
}

.wheelchair-ada {
    transform: scale(.03) translate(40px, 53px);
}

.flipGuy .wheelchair-ada {
    transform: scale(-1,1) scale(.03) translate(-700px, 53px);
}

.wheels-ada,
.upperarms-ada,
.upperbody-ada,
.forearms-ada,
.head-ada {
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.wheels-ada {
	animation-timing-function: linear;
	animation-name: wheels-ada;
    transform-origin: 257px 511px;
}

.upperarms-ada {
	animation-timing-function: ease;
	animation-name: upperarms-ada;
	transform-origin: 44% 20%;
    transform-origin: 484px 292px;
}

.upperbody-ada {
	animation-timing-function: ease;
	animation-name: upperbody-ada;
    transform-origin: 195px 208px;
}

.forearms-ada {
	animation-timing-function: ease;
	animation-name: forearms-ada;
    transform-origin: 298px 188px;
}

.head-ada {
	animation-timing-function: ease;
}

@keyframes wheels-ada {
	0%   {transform: rotate(0deg);}
	100%   {transform: rotate(360deg);}
}

@keyframes upperbody-ada {
	0%   {transform: rotate(0deg);}
	50%   {transform: rotate(-20deg);}
	100%   {transform: rotate(0deg);}
}

@keyframes upperarms-ada {
	0%   {transform: rotate(0deg);}
	50%   {transform: rotate(-40deg);}
	100%   {transform: rotate(0deg);}
}

@keyframes forearms-ada {
	0%   {transform: rotate(0deg);}
	50%   {transform: rotate(-50deg);}
	100%   {transform: rotate(0deg);}
}

@keyframes head-ada {
	0%   {transform: rotate(0deg);}
	50%   {transform: rotate(20deg);}
	100%   {transform: rotate(0deg);}
}