<template>
  <div id="app">
    <div class="header">
        <icon-base :width="250" :height="41.547" class="logo"><saks-logo /></icon-base>
    </div>
    <main class="main-container fadein">
      <router-view v-if="loaded" />
    </main>
  </div>
</template>

<style lang="scss">
.header {
    height: 180px;
}

.logo {
    left: 50%;
    max-width: 35%;
    position: relative;
    top: 60px;
    transform: translateX(-50%);
}
</style>

<script>
import SaksLogo from '@/components/Icons/Saks Logo.vue';

export default {
  name: 'theme',
  components: {
    SaksLogo,
  },
  computed: {
    loaded() {
      return this.$store.getters['appData/LOADED'];
    },
  },
};
</script>