<template>
  <div 
    class="floorNav" 
    :class="{ 'floorNav_mobile' : isTTP }"
    v-if="!isAda"
  >
    <ol>
      <li
        v-for="level in levelsWithTranslations"
        v-bind:key="level.id"
        v-on:click="changeFloor(level)"
        :class="{ 'floorNav_removeBorder': (currentFloorId === level.id) }">
        <div
          class="floorNav-item"
          :class="{
            'floorNav-item_isActive': (currentFloorId === level.id),
            'floorNav-item_youAreHere': (deviceLevelId === level.id),
            'floorNav-item_allowedLevel': (allowedLevelIds && allowedLevelIds.includes(level.id)),
            'floorNav-item_notAllowedLevel': (allowedLevelIds && !allowedLevelIds.includes(level.id)),
           }">
          <div class="floorNav-item-number">{{ level.number === -1 ? 'LL' : level.number + 1 }}</div>
          <div class="floorNav-item-details">
            <div class="floorNav-item-details-title">{{ level.title }}</div>
            <div class="floorNav-item-details-subtitle">{{ level.subtitle }}</div>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <div class="floorNav floorNav_ada" v-bind:class="{ 'floorNav_home': isOnHome }" v-else>
    <ol class="floorNav_left">
      <li
        v-for="level in levelsWithTranslations.slice(5, 11)"
        v-bind:key="level.id"
        v-on:click="changeFloor(level)"
        :class="{ 'floorNav_removeBorder': (currentFloorId === level.id) }">
        <div
          class="floorNav-item"
          :class="{
            'floorNav-item_isActive': (currentFloorId === level.id),
            'floorNav-item_youAreHere': (deviceLevelId === level.id),
            'floorNav-item_allowedLevel': (allowedLevelIds && allowedLevelIds.includes(level.id)),
            'floorNav-item_notAllowedLevel': (allowedLevelIds && !allowedLevelIds.includes(level.id)),
           }">
          <div class="floorNav-item-number">{{ level.number === -1 ? 'LL' : level.number + 1 }}</div>
          <div class="floorNav-item-details">
            <div class="floorNav-item-details-title">{{ level.title }}</div>
            <div class="floorNav-item-details-subtitle">{{ level.subtitle }}</div>
          </div>
        </div>
      </li>
    </ol>
    <ol class="floorNav_right">
      <li
        v-for="level in levelsWithTranslations.slice(0, 5)"
        v-bind:key="level.id"
        v-on:click="changeFloor(level)"
        :class="{ 'floorNav_removeBorder': (currentFloorId === level.id) }">
        <div
          class="floorNav-item"
          :class="{
            'floorNav-item_isActive': (currentFloorId === level.id),
            'floorNav-item_youAreHere': (deviceLevelId === level.id),
            'floorNav-item_allowedLevel': (allowedLevelIds && allowedLevelIds.includes(level.id)),
            'floorNav-item_notAllowedLevel': (allowedLevelIds && !allowedLevelIds.includes(level.id)),
           }">
          <div class="floorNav-item-number">{{ level.number === -1 ? 'LL' : level.number + 1 }}</div>
          <div class="floorNav-item-details">
            <div class="floorNav-item-details-title">{{ level.title }}</div>
            <div class="floorNav-item-details-subtitle">{{ level.subtitle }}</div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</template>


<style lang="scss" scoped>
    .floorNav {
        direction: ltr;
        height: auto;
        left: 0;
        position: fixed;
        top: 367px;
        width: 155px;
        z-index: 5;

        & > * {
          width: 170px;
        }

        & > * > * {
          background: rgba(255, 255, 255, .95);
          border-right: 2px solid #000;

          &:first-child {
            border-top: 2px solid #000;
            border-radius: 0 5px 0 0;

            & .floorNav-item {
              border-radius: 0 5px 0 0;
            }

            & .floorNav-item.floorNav-item_isActive {
              border-radius: 0;
            }
          }

          &:last-child {
            border-bottom: 2px solid #000;
            border-radius: 0 0 5px 0;
            
            & .floorNav-item {
              border-radius: 0 0 5px 0;
            }

            & .floorNav-item.floorNav-item_isActive {
              border-radius: 0;
            }
          }
          
          &.floorNav_removeBorder {
            border: 0 !important;
          }
        }

        & > * > *:not(:first-child) {
            border-top: 2px solid #000;
        }
    }

    .floorNav-item {
        background: #fff;
        padding: 23px 5px 22px 50px;
    }

    .floorNav-item-number {
        font-family: 'Gotham-Medium';
        font-size: 33px;
    }
    
    .floorNav-item-details {
        text-transform: uppercase;
    }
    
    .floorNav-item-details-title {
        font-family: 'Gotham-Bold';
        font-size: 12px;
    }
    
    .floorNav-item-details-subtitle {
        font-family: 'Gotham-Light';
        font-size: 8px;
    }

    .floorNav-item_allowedLevel {
        opacity: 1;
    }

    .floorNav-item_notAllowedLevel {
        opacity: 0.3;
    }

    .floorNav-item_youAreHere {
        background: transparent url('../../assets/img/floor-color-bg.png') no-repeat left -1px scroll;
        background-size: cover;
        color: #fff;
    }

    .floorNav-item_isActive {
        background: #000;
        color: #fff;
        height: 175px;
        padding-left: 30px;
        position: relative;
        width: 170px;

        &:after {
            content: '';
            border-bottom: 87px solid transparent;
            border-left: 36px solid #000;
            border-top: 87px solid transparent;
            height: 0;
            left: 100%;
            position: absolute;
            top: 0;
            width: 0;
        }

        & .floorNav-item-details {
            position: absolute;
        }

        & .floorNav-item-number {
            font-size: 71px;
        }
        
        & .floorNav-item-details-title {
            font-size: 22px;
        }
        
        & .floorNav-item-details-subtitle {
            font-size: 14px;
        }
    }

    .floorNav_mobile {
        border-bottom: 25px solid #e6e6e6;
        bottom: 0;
        padding: 0 150px;
        top: auto;
        width: 100%;

        &:before {
            content: '';
            background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 30px, rgba(255,255,255,1));
            height: 130px;
            left: 0;
            pointer-events: none;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: -1;
        }

        & > * {
            align-items: flex-end;
            border: 0;
            display: flex;
            flex: 1 0 auto;
            justify-content: center;
        }  

        & > * > * {
            background: transparent;
            border-right: 0;
            flex: 1 0 auto;
            text-align: center;

            &:first-child {
              border-top: 0;
              border-radius: 0;
            }

        }

        & > * > *:not(:first-child) {
            border: 0;
            border-left: 1px solid #e6e6e6;
        }

        & .floorNav-item {
            color: #000;
            padding: 30px 20px;
        }

        & .floorNav-item_youAreHere {
            background: none;
            color: #000;
        }

        & .floorNav-item-number {
            font-family: 'Gotham-Medium';
            font-size: 36px;
        }

        & .floorNav-item-details {
            display: none;
        }

        & .floorNav-item_isActive {
            background: #000;
            bottom: -25px;
            color: #fff;
            height: 275px;
            position: relative;
            padding: 20px 25px;
            width: 200px;

            &:after {
                display: none;
            }

            &:before {
                content: '';
                border-left: 100px solid transparent;
                border-bottom: 50px solid #000;
                border-right: 100px solid transparent;
                bottom: 100%;
                height: 0;
                left: 0;
                position: absolute;
                width: 0;
            }

            & .floorNav-item-details {
                display: block;
                font-family: 'Gotham-Bold';
                position: static;
            }

            & .floorNav-item-number {
                font-size: 100px;
            }
            
            & .floorNav-item-details-title {
                font-size: 26px;
            }
            
            & .floorNav-item-details-subtitle {
                font-size: 18px;
            }
        }

        & .floorNav-item_notAllowedLevel {
            opacity: 0.3;
        }        
    }

    // ADA
    .floorNav_ada {
      position: static;

      & .floorNav-item {
        padding: 13px 5px 12px 25px;
      }

      & .floorNav-item-details-subtitle {
        display: none;
      }
    }

    .floorNav_left {
      position: fixed;
      left: 0;
      top: 1277px;
      width: 110px;
      z-index: 7;

      & .floorNav-item_isActive {
        height: 145px;
        width: 170px;

        &:after {
          border-bottom-width: 72px;
          border-top-width: 72px;
        }
      }
    }

    .floorNav_right {
      position: fixed;
      right: 0;
      top: 1277px;
      width: 110px;
      z-index: 7;

      & > * {
        border-right: 0;
        border-left: 2px solid #000;

        &:first-child {
          border-top: 2px solid #000;
          border-radius: 5px 0 0 0;

          & .floorNav-item {
            border-radius: 5px 0 0 0;
          }
        }

        &:last-child {
          border-bottom: 2px solid #000;
          border-radius: 0 0 0 5px;
          
          & .floorNav-item {
            border-radius: 0 0 0 5px;
          }
        }
      }

      & .floorNav-item_isActive {
        height: 145px;
        width: 170px;
        left: -60px;

        &:after {
            display: none;
        }

        &:before {
            content: '';
            border-bottom: 72px solid transparent;
            border-right: 36px solid #000;
            border-top: 72px solid transparent;
            bottom: 0;
            height: 0;
            position: absolute;
            right: 100%;
            width: 0;
        }
      }
    }

    // Home ADA
    .floorNav_home.floorNav_ada {
      & .floorNav-item {
        padding: 10px 5px 10px 15px;
      }

      & .floorNav-item-details-subtitle,
      & .floorNav-item-details-title {
        display: none;
      }

      & .floorNav-item_isActive .floorNav-item-number {
        font-size: 50px;
      }
    }

    .floorNav_home .floorNav_left {
      width: 70px;

      & .floorNav-item_isActive {
        align-items: center;
        display: flex;
        height: 95px;
        justify-content: center;
        width: 100%;

        &:after {
          border-bottom-width: 47px;
          border-top-width: 47px;
        }
      }
    }

    .floorNav_home .floorNav_right {
      width: 70px;

      & .floorNav-item_isActive {
        align-items: center;
        display: flex;
        height: 95px;
        justify-content: center;
        left: 0;
        width: 100%;

        &:before {
          border-bottom-width: 47px;
          border-top-width: 47px;
        }
      }
    }

</style>

<script>
import { getFirstWord, getNumberPosition } from '@/helpers';
import numWords from 'num-words';

export default {
  name: 'floor-nav',
  data() {
    return {
      levelsWithTranslations: [],
      voiceCommands: [],
    };
  },
  mounted() {
    this.voiceCommands = this.levels.map((level) => {
      const levelNumber = level.number + 1;
      const levelWord = level.number === -1 ?
        'lower level' :
        numWords(levelNumber);
      // const levelTitle = level.title;
      // const levelSubtitle = level.subtitle;

      return {
        indexes: [  /*levelTitle, levelSubtitle,*/
                    `floor ${levelNumber}`, `level ${levelNumber}`,
                    `floor ${levelWord}`, `level ${levelWord}`,
                    `floor ${getNumberPosition(levelWord).word}`, `level ${getNumberPosition(levelWord).word}`,
                    levelWord, levelNumber.toString(), `${getNumberPosition(levelWord).word} floor`, `${getNumberPosition(levelWord).word} level`,
                    `${getNumberPosition(levelWord).num} floor`, `${getNumberPosition(levelWord).num} level`  ],
        action: () => {
          this.changeFloor(level);
        },
      };
    });

    this.$emit('componentVoiceCommands', this.voiceCommands);
  },
  async created() {
    this.levelsWithTranslations = await Promise.all(this.levels.map(async (level) => {
      level.title = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
        'The Vault' :
        getFirstWord(level.name));
      level.subtitle = await this.getDynamicTranslation(level.name === 'The Vault Jewelry' ?
        'Jewelry' :
        level.name.replace(getFirstWord(level.name), ''));

      return level;
    }));
  },
  props: {
    levels: {
      type: Array,
      required: true,
    },
    currentFloorId: {
      type: String,
      required: true,
    },
    allowedLevelIds: {
      type: Array,
      required: true,
    },
    isTTP: {
      type: Boolean,
      default: false,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
    isOnHome: {
      type: Boolean,
      default: false,
    },
    ttpStartingLevel: {
      type: String,
      required: false,
    },
  },
  methods: {
    changeFloor(level) {
      if (this.allowedLevelIds.includes(level.id)) {
        this.$emit('changeFloor', { levelId: level.id, fromFloorNav: true });
      }
    },
    getFirstWord,
  },
  computed: {
    deviceLevelId() {
      const navNodes = this.$store.getters['appData/NAV_NODES'];

      const deviceData = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];
      const deviceNavNode = navNodes.find((navNode) => navNode.properties.id === deviceData);

      if (this.ttpStartingLevel) {
        return this.ttpStartingLevel;
      } else {
        return deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.level ?
          deviceNavNode.properties.level :
          '5d76b761ff4bdb00110b0a09';
      }
    },
  },
};
</script>