<template>
  <fragment>
    <div>
        <div class="modal" v-bind:class="{ 'modal_ada' : isAda }">
            <div class="modal-close" v-on:click="closeTTP()">
                <icon-base class="modal-close-icon" :width="25" :height="25" iconColor="white" stroke="black"><CloseIcon /></icon-base>
            </div>
            <div class="modal-title">{{ poi.name }}</div>
            <div class="modal-body">
                <input 
                    class="modal-body-phoneInput" 
                    type="tel" 
                    :placeholder="phoneNumberText" 
                    v-model="phoneNumber"
                    readonly
                >
                <ol class="modal-body-phonePad">
                    <li v-on:click="addNumber('1')">1</li>
                    <li v-on:click="addNumber('2')">2</li>
                    <li v-on:click="addNumber('3')">3</li>
                    <li v-on:click="addNumber('4')">4</li>
                    <li v-on:click="addNumber('5')">5</li>
                    <li v-on:click="addNumber('6')">6</li>
                    <li v-on:click="addNumber('7')">7</li>
                    <li v-on:click="addNumber('8')">8</li>
                    <li v-on:click="addNumber('9')">9</li>
                    <li v-on:click="addNumber('0')">0</li>
                    <li v-on:click="removeNumber()">
                        <icon-base class="modal-body-phonePad-delete-icon" :width="49.7" :height="38.8" iconColor="black" stroke="white"><DeleteButtonIcon /></icon-base>
                    </li>
                </ol>
            </div>
            <div class="modal-action">
                <button class="btn modal-action-btn" :disabled="!isValidPhone" @click="sendTTP"><icon-base class="modal-action-btn-icon" :width="28.2" :height="47.6" iconColor="white" stroke="black"><PhoneIcon /></icon-base> {{ textMeDirectionsText }}</button>
            </div>
        </div>
    </div>
    <div class="modal-container modal-container_isVisible" v-on:click="closeTTP()"></div>
  </fragment>
</template>

<style lang="scss" scoped>
    .modal-container {
        background: rgba(0, 0, 0, .8);
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 8;

        &.modal-container_isVisible {
            display: block;
        }
    }

    .modal {
        background: #fff;
        left: 50%;
        margin: 0 auto;
        padding: 50px;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 840px;
        z-index: 9;
    }

    .modal-close {
        height: 30px;
        position: absolute;
        right: 50px;
        top: 50px;
        width: 30px;
    }

    .modal-title {
        font-family: 'Gotham-Bold';
        font-size: 58px;
        margin: 170px 0;
    }

    .modal-body-phoneInput {
        border: 1px solid #000;
        font-family: 'Gotham-Light';
        font-size: 38px;
        padding: 30px;
        text-align: center;
    }

    .modal-body-phonePad {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 60px auto 150px;
        width: 415px;

        & > * {
            border-left: 1px solid #000;
            border-top: 1px solid #000;
            font-family: 'Gotham-Bold';
            font-size: 48px;
            flex: 1 0 33.333%;
            padding: 48px 45px 42px;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                border-top: 0;
            }

            &:nth-child(3n+1) {
                border-left: 0;
            }
        }
    }

    .modal-action {
        display: flex;
        justify-content: center;
    }

    .modal-action-btn {
        align-items: center;
        display: flex;
        font-family: 'Gotham-Bold';
        font-size: 20px;
        flex: 1 0 auto;
        justify-content: center;
        max-width: 540px;
        text-transform: uppercase;
    }

    .modal-close-icon {
        max-width: 25px;
        stroke-width: 2px;
    }

    .modal-body-phonePad-delete-icon {
        max-width: 49.7px;
        stroke-width: 2px;
    }

    .modal-action-btn-icon {
        margin-right: 30px;
        max-width: 28.2px;
    }

    .modal_ada {
      bottom: 25px;
      top: initial;
      transform: translate(-50%, 0);

      & .modal-body-phonePad {
        margin: 50px auto;

        & > * {
          padding: 20px 45px 20px
        }
      }

      & .modal-title {
        margin: 150px 0;
      }
    }
</style>

<script>
import axios from 'axios';
import numWords from 'num-words';
import { logError, logTouch } from '../../helpers';
import CloseIcon from '@/components/Icons/Close.vue';
import DeleteButtonIcon from '@/components/Icons/DeleteButton.vue';
import PhoneIcon from '@/components/Icons/Phone.vue';

export default {
  name: 'text-directions-modal',
  components: {
    CloseIcon,
    DeleteButtonIcon,
    PhoneIcon,
  },
  data() {
    return {
      phoneNumber: '',
      textMeDirectionsText: '',
      phoneNumberText: '',
      voiceCommands: [],
      catchAllCommands: [],
    };
  },
  props: {
    poi: {
      type: Object,
      required: true,
    },
    currentRouteType: {
      type: String,
      validator: (val) => ['walking', 'wheelchair'].includes(val),
      required: true,
    },
    isAda: {
      type: Boolean,
      default: false,
    },
  },
  async created() {
    this.textMeDirectionsText = await this.getDynamicTranslation('Send');
    this.phoneNumberText = await this.getDynamicTranslation('Phone Number');
  },
  mounted() {
    const numbers = [ '1', '2', '3', '4', '5', '6', '7', '8', '9', '0' ];

    this.catchAllCommands = [
      {
        indexes: [ '*' ],
        smart: true,
        action: (i, wildcard) => {
          if (numbers.includes(wildcard)) {
            this.addNumber(wildcard);
          } else {
            switch (wildcard) {
              case 'delete':
              case 'backspace':
                this.removeNumber();

                break;
              case 'close':
              case 'cancel':
              case 'nevermind':
              case 'exit':
                this.closeTTP();

                break;
              default:
                wildcard.replace(/\D/g, '').substring(0, 10).split('').forEach((num) => this.addNumber(num));
            }
          }
        },
      },
    ];

    this.addVoiceCommands(this.catchAllCommands);

    this.voiceCommands = [
      {
        indexes: [  'send', 'confirm', 'send it to me',
                    'send me directions', 'send my directions' ],
        action: () => {
          this.sendTTP();
        },
      },
    ];
  },
  methods: {
    addNumber(phone) {
      if ((this.phoneNumber.length === 10 &&
            this.phoneNumber.slice(0, 1) !== '1' &&
            this.phoneNumber.slice(0, 2) !== '86') ||
          (this.phoneNumber.length === 11 && this.phoneNumber.slice(0, 1) === '1') ||
          (this.phoneNumber.length === 13 && this.phoneNumber.slice(0, 2) === '86')) {
        return;
      }

      this.phoneNumber += phone;
    },
    removeNumber() {
      if (this.phoneNumber.length <= 0) {
        return;
      }

      this.phoneNumber = this.phoneNumber.slice(0, -1);
    },
    closeTTP() {
      this.$emit('closeTTP');
    },
    async sendTTP(e) {
      if (this.isValidPhone) {
        if (e) {
          e.target.context = '...';
        }

        const navNodes = this.$store.getters['appData/NAV_NODES'];

        const deviceFeatureId = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];
        const deviceNavNode = navNodes.find((navNode) => navNode.properties.id === deviceFeatureId);

        const startingNavNode = deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.id ?
          deviceNavNode.properties.id :
          'n_5d7a46f73b1a6949f800000c';

        const deviceCommunityId = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/COMMUNITY_ID`];
        const deviceAppVersionName = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/APP_VERSION_NAME`];

        const postData = {
          phone_number: this.phoneNumber.length === 10 ? `+1${this.phoneNumber}` : `+${this.phoneNumber}`,
          facing_direction: this.deviceFacingDirection,
          starting_feature_id: startingNavNode,
          ending_feature_id: this.poi.id,
          ending_nav_node: this.$route.params.toNav || null,
          ada: (this.currentRouteType === 'wheelchair'),
          community_id: deviceCommunityId,
          app_version_name: deviceAppVersionName,
        };

        const postHeaders = {
          headers: {
            'X-Api-Key': process.env.VUE_APP_API_KEY,
          },
        };

        try {
          await axios.post(
            process.env.VUE_APP_API_URL + 'texttophone/saks',
            postData,
            postHeaders,
          );

          logTouch({
            device_name: window.initParam,
            touch_type: 'Text-To-Phone',
            ttp_type: 0,
            ttp_tenant_name: this.poi.name,
            tenant_name: this.poi.name,
            raw_data: {
              store_id: this.poi.id,
            },
          });

          this.closeTTP();
        } catch (e) {
          logError(e);

          this.closeTTP();
        }
      }
    },
  },
  computed: {
    isValidPhone() {
      return (this.phoneNumber.length === 10 || this.phoneNumber.length === 11 || this.phoneNumber.length === 13);
    },
    deviceFacingDirection() {
      return this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FACING_DIRECTION`];
    },
  },
  beforeDestroy() {
    this.voiceCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });

    this.catchAllCommands.forEach((voiceCommand) => {
      this.removeVoiceCommand(voiceCommand.indexes);
    });
  },
  watch: {
    phoneNumber(newVal) {
      if ((newVal.length === 10 &&
            newVal.slice(0, 1) !== '1' &&
            newVal.slice(0, 2) !== '86') ||
          (newVal.length === 11 && newVal.slice(0, 1) === '1') ||
          (newVal.length === 13 && newVal.slice(0, 2) === '86')) {
        this.catchAllCommands.forEach((voiceCommand) => {
          this.removeVoiceCommand(voiceCommand.indexes);
        });

        this.addVoiceCommands(this.voiceCommands);
      } else {
        this.addVoiceCommands(this.catchAllCommands);
      }
    },
  },
};
</script>