<template>
  <fragment>
    <div class="map-container">
      <vl-map
        :controls="{zoom: false, attribution: false, rotation: false}"
        @singleclick="onMapSingleClick"
        @movestart="onMapMoveStart"
        @moveend="onMapMoveEnd"
        @pointermove="resetTimeout"
        @doubleclick="resetTimeout"
        ref='map'
      >
        <vl-view
          :max-zoom="maxZoom"
          :min-zoom="minZoom"
          :zoom="currentZoom"
          :center="center"
          :extent="extent"
          :rotation="rotation"
          :enable-rotation="false"
          projection="EPSG:3857"
          ref='view'
        ></vl-view>

        <vl-overlay
          v-if="showGeodude && geodudePosition"
          :auto-pan="false"
          positioning="center-center"
          :position="stopGeodude ? convertProjection(geodudeOverridePosition) : convertProjection(geodudePosition)"
        >
          <template>
            <div class="geodude-overlay">
              <icon-base iconColor="white">
                <geodude-walking v-if="currentRouteType === 'walking'"></geodude-walking>
                <geodude-wheelchair v-else></geodude-wheelchair>
              </icon-base>
            </div>
          </template>
        </vl-overlay>

        <vl-layer-vector :z-index="1">
          <vl-source-vector projection="EPSG:4326" :features="features">
          </vl-source-vector>

          <vl-style-func :factory="styleFuncFactoryProp" />
        </vl-layer-vector>
      </vl-map>
    </div>
  </fragment>
</template>

<style lang='scss'>
@import '~@express-image-digital/vuelayers/lib/style.css';
.go-this-way svg {
    margin-bottom: 20px;
    transition: transform 0.4s, width 1s ease-in-out;
    width: 80px !important;
}
.nav-info.large .go-this-way svg {
    width: 300px !important;
}
.button svg {
    height: 100%;
}

.ol-control {
    display: none !important;
}

.map-container {
    height: 75%;
    margin-top: 50px;

    &:before {
      content: '';
      background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      height: 80px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: -2px;
      width: 100%;
      z-index: 1;
    }
}
</style>

<script>
import Vue from 'vue';
import VueLayers from '@express-image-digital/vuelayers';
import Style from 'ol/style/Style';
import Stroke from 'ol/style/Stroke';
import Fill from 'ol/style/Fill';
import Text from 'ol/style/Text';
import Icon from 'ol/style/Icon';
import Circle from 'ol/style/Circle';
import Point from 'ol/geom/Point';
import PinchRotate from 'ol/interaction/PinchRotate';
import GeodudeWalking from '@/components/Icons/GeodudeWalking.vue';
import GeodudeWheelchair from '@/components/Icons/GeodudeWheelchair.vue';
import { degToRad, radToDeg, stringDivider, getSlope, getLargestLine, getCenter, distanceBetween } from '@/helpers';
import proj4 from 'proj4';
import axios from 'axios';

import walkingactive from '@/assets/icons/white/walkingactive.svg';
import walking_3 from '@/assets/icons/white/walking-3.svg';
import walking_2 from '@/assets/icons/white/walking-2.svg';
import walking_1 from '@/assets/icons/white/walking-1.svg';
import walking1 from '@/assets/icons/white/walking1.svg';
import walking2 from '@/assets/icons/white/walking2.svg';
import walking3 from '@/assets/icons/white/walking3.svg';

import wheelchairactive from '@/assets/icons/white/wheelchairactive.svg';
import wheelchair_3 from '@/assets/icons/white/wheelchair-3.svg';
import wheelchair_2 from '@/assets/icons/white/wheelchair-2.svg';
import wheelchair_1 from '@/assets/icons/white/wheelchair-1.svg';
import wheelchair1 from '@/assets/icons/white/wheelchair1.svg';
import wheelchair2 from '@/assets/icons/white/wheelchair2.svg';
import wheelchair3 from '@/assets/icons/white/wheelchair3.svg';

Vue.use(VueLayers);

export default {
  name: 'venue-map',
  components: {
    GeodudeWalking,
    GeodudeWheelchair,
    walkingactive,
    walking_3,
    walking_2,
    walking_1,
    walking1,
    walking2,
    walking3,
    wheelchairactive,
    wheelchair_3,
    wheelchair_2,
    wheelchair_1,
    wheelchair1,
    wheelchair2,
    wheelchair3,
  },
  props: {
    routes: {
      type: Object,
      default: null,
    },
    poiList: {
      type: Array,
      default: null,
    },
    place: {
      type: Object,
      default: null,
    },
    currentRouteType: {
      type: String,
      validator: (val) => ['walking', 'wheelchair'].includes(val),
      required: false,
    },
    currentFloorId: {
      type: String,
      required: true,
    },
    disableAutoLevelChanger: {
      type: Boolean,
      required: false,
    },
    ttpFacingDirection: {
      type: String,
      required: false,
    },
    ttpStartingLevel: {
      type: String,
      required: false,
    },
    ttpStartingNode: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      routeTypes: [
        'walking',
        'wheelchair',
      ],
      voiceCommands: [],
      targetLevel: 1,
      goThisWayDone: false,
      goThisWayIconStyle: 'transform: rotate(0deg)',
      showGeodude: true,
      activeSegmentIndex: 0,
      ttpOpen: false,
      phoneNumber: '',
      minZoom: 19.788328221837684,
      maxZoom: 24,
      secondsOnCurrentLevel: 0,
      levelChangerOverride: false,
      coordIndex: 0,
      features: [],
      currentZoom: 19.788328221837684,
      center: [
        -8235045.602045703,
        4976705.209223094,
      ],
      extent: [
        -8234650,
        4976250,
        -8235250,
        4976750,
      ],
      levelTimeout: 0,
      iconFeatureTypes: [
        'elevator',
        'escalator',
        'route_start',
        'route_transparent',
        'route_end',
      ],
      stopGeodude: false,
      geodudeOverridePosition: null,
      goThisWayTimeout: 0,
      mapInteractionTimeout: 0,
      geodudeResetTimeout: 0,
      goBackToFirstLevelTimeout: 0,
      levelZooms: {
        '5d76a8ba14dfb90011df0969': 20.68215048412483,
        '5d76b6b314dfb90011df096a': 19.788328221837684,
        '5d76b761ff4bdb00110b0a09': 20.006710659464215,
        '5d76fd7417eca10011c27a46': 20.006710659464216,
        '5d76fda0ff4bdb00110b0a0b': 20.006710659464217,
        '5d76fe24ff4bdb00110b0a0c': 20.006710659464218,
        '5d76fe5a17eca10011c27a47': 20.006710659464219,
        '5d76fec114dfb90011df096b': 20.006710659464214,
        '5d76fef51c60e70011ae9423': 20.006710659464213,
        '5d77001e34a4c70012280c86': 20.006710659464212,
        '5d77024f17eca10011c27a48': 20.68215048412483,
      },
      levelCenters: {
        '5d76a8ba14dfb90011df0969': [
          -8235062.082281913,
          4976715.224268381,
        ],
        '5d76b6b314dfb90011df096a': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76b761ff4bdb00110b0a09': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76fd7417eca10011c27a46': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76fda0ff4bdb00110b0a0b': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76fe24ff4bdb00110b0a0c': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76fe5a17eca10011c27a47': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76fec114dfb90011df096b': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d76fef51c60e70011ae9423': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d77001e34a4c70012280c86': [
          -8235045.602045703,
          4976705.209223094,
        ],
        '5d77024f17eca10011c27a48': [
          -8235045.602045703,
          4976705.209223094,
        ],
      },
    };
  },
  created() {
    if (!this.routes) {
      this.showGeodude = false;
    }

    if (!this.poiList) {
      const newLevel = this.routes
        ? this.routes[this.currentRouteType].segments[0].properties.level
        : this.poiList && !this.somePOIsOnLevel(this.deviceLevelId)
        ? this.poiList[0].level
        : this.deviceLevelId;

      this.changeFloor(newLevel);

      this.currentZoom = this.levelZooms[newLevel];
      this.center = this.levelCenters[newLevel];
    }

    this.updateFeatures();
  },
  mounted() {
    this.voiceCommands = [
      {
        indexes: [ 'zoom in', 'bigger', 'make the map bigger' ],
        action: () => {
          this.currentZoom += 0.5;
        },
      },
      {
        indexes: [ 'zoom out', 'smaller', 'make the map smaller' ],
        action: () => {
          this.currentZoom -= 0.5;
        },
      },
    ];

    this.$emit('componentVoiceCommands', this.voiceCommands);

    if (this.routes) {
      this.goThisWayTimeout = setTimeout(() => {
        this.goThisWayDone = true;

        this.moveGeodude();
      }, 3000);
    }

    this.mapInteractionTimeout = setTimeout(() => {
      if (this.mapObject) {
        const interactions = this.mapObject.getInteractions().getArray();

        const pinchRotateInteraction = interactions.find((interaction) => interaction instanceof PinchRotate);

        pinchRotateInteraction.setActive(false);
      }
    }, 1000);
  },
  methods: {
    resetTimeout() {
      this.$root.$emit('reset_timeout');
    },
    styleFuncFactory() {
      const cache = {};

      return (feature, resolution) => {
        // build styles based on feature state
        const vm = this;

        const styleObject = {};

        const fill = {};
        const stroke = {};

        let noThing = false;
        let noType = false;

        switch (feature.values_.thing) {
          case 'base':
            if (vm.currentFloorId === '5d76b6b314dfb90011df096a') {
              fill.color = '#3a3a3a';
              stroke.color = '#f1f1f1';
              stroke.width = 3;
            } else {
              return [];
            }

            styleObject.zIndex = 1;

            break;
          case 'level_overview':
            fill.color = '#f1f1f1';
            stroke.color = '#747474';
            stroke.width = 4;

            styleObject.zIndex = 3;

            break;
          case 'wall':
            fill.color = '#3a3a3a';
            stroke.color = '#747474';
            stroke.width = 7;

            styleObject.zIndex = 2;

            break;
          case 'innards':
            if (feature.values_.layer === 'Non Public') {
              fill.color = '#bfbfbf';
              stroke.color = '#747474';
              stroke.width = 4;

              styleObject.zIndex = 4;
            } else if (feature.values_.layer === 'Polygon' || feature.values_.layer === 'Kiosk') {
              fill.color = '#ededed';
              stroke.color = '#9c9c9c';
              stroke.width = 3;

              const poiText = vm.getPOIText(feature);
              const textSize = (poiText.length >= 60) ? 10 : 12;

              styleObject.text = new Text({
                textAlign: 'center',
                textBaseline: 'middle',
                font: `${textSize}px Gotham-book`,
                text: vm.getPOIText(feature),
                offsetX: 0,
                offsetY: 0,
                placement: 'point',
                overflow: false,
                rotation: 0,
                rotateWithView: false,
                fill: new Fill({
                  color: '#000',
                }),
                stroke: new Stroke({
                  color: '#333',
                  width: 1,
                }),
              });

              styleObject.zIndex = 4;
            } else if (feature.values_.layer === 'Restroom') {
              const poiText = vm.getPOIText(feature);

              const iconPath = poiText.includes('WOMEN') ?
                'womens-restroom-for-map.png' :
                poiText.includes('MEN') ?
                  'mens-restroom-for-map.png' :
                  'restroom-for-map.png';

              styleObject.image = new Icon({
                anchor: [ 0.5, 0.5 ],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                rorateWithView: false,
                scale: 1,
                src: require(`@/assets/mapIcons/${iconPath}`),
                opacity: 1,
              });

              styleObject.geometry = (internalFeature) => {
                const currentCorrdinates = this.convertPolygon(internalFeature.getGeometry().getCoordinates(), false);

                const center = getCenter(currentCorrdinates[0]);

                return new Point(this.convertProjection(center));
              };

              styleObject.zIndex = 5;
            } else {
              return [];
            }

            break;
          default:
            noThing = true;

            switch (feature.values_.type) {
              case 'path':
                stroke.color = '#fff';
                stroke.width = 5;
                stroke.lineDash = [ 4, 10 ];

                styleObject.zIndex = 6;

                break;
              default:
                noType = true;
            }
        }

        const noIcons = [
          'Escalator 5',
          'Escalator 6',
          'Escalator 7',
          'Escalator 9',
          'Escalator 10',
          'Escalator 11',
          'Escalator 12',
          'Escalator 20',
        ];

        if (vm.currentFloorId === '5d76b6b314dfb90011df096a') {
          noIcons.push('Escalator 3');
          noIcons.push('Escalator 4');
        }

        if (vm.isIconFeature(feature.values_.type) && !noIcons.includes(feature.values_.name)) {
          styleObject.image = new Icon({
            anchor: [ 0.5, 0.5 ],
            anchorXUnits: 'fraction',
            anchorYUnits: 'fraction',
            rorateWithView: false,
            scale: ['route_end', 'route_start', 'route_transparent'].includes(feature.values_.type) ? 0.75 : 1,
            src: vm.getIconSrc(feature.values_.type),
            opacity: feature.values_.type === 'route_transparent' ? 0.5 : 1,
          });

          styleObject.zIndex = 7;
        } else if (feature.values_.type === 'street') {
          const featureNameLower = feature.values_.name.toLowerCase();

          styleObject.text = new Text({
            textAlign: 'center',
            textBaseline: 'middle',
            font: `35px Gotham-book`,
            text: featureNameLower === '5th avenue' ? '5TH\nAVENUE' : feature.values_.name.toUpperCase(),
            offsetX: 0,
            offsetY: 0,
            placement: 'point',
            overflow: false,
            // rotation: feature.values_.name.toLowerCase() === '5th avenue' ? -1.075 : 0.5,
            rotateWithView: false,
            fill: new Fill({
              color: '#ffffff',
            }),
          });

          styleObject.zIndex = 15;
        } else if (noThing && noType) {
          return [];
        } else {
          if (!['path'].includes(feature.values_.type) && feature.values_.layer !== 'Restroom') {
            styleObject.fill = new Fill(fill);
          }

          styleObject.stroke = new Stroke(stroke);
        }

        const styles = [
          new Style(styleObject),
        ];

        // style function always return array of Style instances
        return styles;
      };
    },
    getPOIText(feature) {
      const spaceId = feature.values_.id;

      if (spaceId === '5d8a700d243aaf6aab000335') {
        return stringDivider('ADVANCED CONTEMPORARY', 10, '\n');
      }

      if (spaceId === '5d8bbdd1243aaf4abf0001bf' || spaceId === '5d8bbdb6243aaf4abf0001be') {
        return stringDivider('EVENINGWEAR', 10, '\n');
      }

      if (spaceId === '5d7a83b23b1a695e430000a2') {
        return stringDivider(`WOMEN'S SHOES`, 10, '\n');
      }

      const poiArray = this.pois.filter((internalPoi) => internalPoi.spaces.includes(spaceId));

      let poiText = '';

      poiArray.forEach((poi, index, arr) => {
        if (index === 0 && arr.length === 1) {
          poiText += poi.name.toUpperCase();
        } else if (index === arr.length - 1) {
          poiText += poi.name.toUpperCase();
        } else {
          poiText += `${poi.name.toUpperCase()} & `;
        }
      });

      return (poiText.length >= 60) ?
        stringDivider(poiText, 20, '\n') :
          (poiText.length >= 10) ?
            stringDivider(poiText, 10, '\n') :
            poiText;
    },
    changeFloor(levelId) {
      this.$emit('changeFloor', { levelId, fromFloorNav: false });
    },
    toggleAutoLevelChanger(bool) {
      this.$emit('toggleAutoLevelChanger', bool);
    },
    onMapSingleClick(evt) {
      console.log(evt);
      this.resetTimeout();

      const map = evt.map;

      map.forEachFeatureAtPixel(evt.pixel, (feature, layer) => {
        console.log(feature.getProperties());
      });
    },
    onMapMoveStart() {
      if (this.showGeodude) {
        this.stopGeodude = true;
        this.geodudeOverridePosition = this.geodudePosition;

        const elements = document.getElementsByClassName('ol-overlay-container');

        const containerElement = elements[0] || null;

        if (containerElement) {
          containerElement.classList.add('temporaryStop');
        }
      }
    },
    onMapMoveEnd() {
      if (this.showGeodude) {
        this.stopGeodude = false;
        this.geodudeOverridePosition = null;

        this.moveGeodude();

        const elements = document.getElementsByClassName('ol-overlay-container');

        const containerElement = elements[0] || null;

        if (containerElement) {
          containerElement.classList.remove('temporaryStop');
        }
      }
    },
    convertProjection(coords, normal = true) {
      if (coords && Array.isArray(coords[0])) {
        const convertedCoords = coords.map((coordSet) => {
          if (normal) {
            return proj4('EPSG:4326', 'EPSG:3857', coordSet);
          } else {
            return proj4('EPSG:3857', 'EPSG:4326', coordSet);
          }
        });

        return convertedCoords;
      } else {
        if (normal) {
          return proj4('EPSG:4326', 'EPSG:3857', coords);
        } else {
          return proj4('EPSG:3857', 'EPSG:4326', coords);
        }
      }
    },
    convertPolygon(coords, normal = true) {
      const newCoords = coords.map((coordsArray) => coordsArray.map((coord) => this.convertProjection(coord, normal)));

      return newCoords;
    },
    isIconFeature(featureType) {
      return this.iconFeatureTypes.includes(featureType);
    },
    getIconSrc(featureType) {
      switch (featureType) {
        case 'elevator':
          return require('@/assets/mapIcons/elevator_for_map.png');
          break;
        case 'escalator':
          return require('@/assets/mapIcons/escalator_for_map.png');
          break;
        case 'route_start':
          return require('@/assets/mapIcons/you-are-here.png');
          break;
        case 'route_transparent':
          return require('@/assets/mapIcons/you-are-here.png');
          break;
        case 'route_end':
          return require('@/assets/mapIcons/end-pin.png');
          break;
        default:
          return '';
      }
    },
    somePOIsOnLevel(level) {
      return (
        this.poiList &&
        this.poiList.some((poi) => poi.level === level)
      ) ? true : false;
    },
    validateCoordinates(coords) {
      if (coords && Array.isArray(coords[0])) {
        coords.forEach((coord) => {
          if (isNaN(coord[0]) || isNaN(coord[1])) {
            return false;
          }
        });
      } else if (coords && (isNaN(coords[0]) || isNaN(coords[1]))) {
        return false;
      }

      return true;
    },
    resetGeodude() {
      this.secondsOnCurrentLevel = 0;
      this.coordIndex = 0;

      this.toggleAutoLevelChanger(false);

      this.levelChangerOverride = true;

      this.showGeodude = true;

      this.moveGeodude();
    },
    moveGeodude(dontRecenter = false) {
      if (this.goThisWayDone) {
        if (this.disableAutoLevelChanger && this.levelChangerOverride) {
          this.levelChangerOverride = false;
        } else if (this.disableAutoLevelChanger) {
          this.showGeodude = false;
          return;
        } else if (this.stopGeodude) {
          return;
        }

        const elements = document.getElementsByClassName('ol-overlay-container');

        const containerElement = elements[0] || null;

        if (containerElement) {
          containerElement.classList.add('geodude-container');
        }

        if (
          this.secondsOnCurrentLevel > 4 &&
          (this.activeSegment === undefined ||
            this.coordIndex >= this.activeSegment.geometry.coordinates.length)
        ) {
          // Going to next level
          this.showGeodude = false;

          let nextSegmentIndex = this.activeSegmentIndex + 1;

          let nextSegment = this.routes[this.currentRouteType].segments[
            nextSegmentIndex
          ];

          if (nextSegment === undefined) {
            nextSegmentIndex = 0;
            nextSegment = this.routes[this.currentRouteType].segments[0];
          }

          const nextLevel = nextSegment.properties.level;

          if (this.routes[this.currentRouteType].segments.length > 1) {
            this.changeFloor(nextLevel);

            this.geodudeResetTimeout = setTimeout(() => {
              this.resetGeodude();
            }, 1000);
          } else {
            if (!dontRecenter) {
              if (this.$refs.view) {
                this.center = this.$refs.view.$view.getCenter();
              }
            }

            this.coordIndex = 0;

            this.goBackToFirstLevelTimeout = setTimeout(() => {
              this.showGeodude = true;

              this.moveGeodude();
            }, 1000);
          }

          return;
        } else {
          // Going to next position on current level.

          const atLastPoint = this.activeSegment.geometry.coordinates[this.coordIndex + 1] === undefined;

          let ms = atLastPoint ? 500 : (distanceBetween(
            this.activeSegment.geometry.coordinates[this.coordIndex],
            this.activeSegment.geometry.coordinates[this.coordIndex + 1],
          ) * 50000000);

          const minMS = 500;
          const maxMS = 1000;

          // console.log('MS',this.activeSegment)

          ms = (ms < minMS) ? minMS : (ms > maxMS) ? maxMS : ms;

          const seconds = (ms / 1000);

          if (containerElement) {
            containerElement.style.transition = `top ${seconds}s linear, left ${seconds}s linear`;
          }

          clearTimeout(this.levelTimeout);
          this.levelTimeout = setTimeout(() => {
            if (!dontRecenter) {
              if (this.$refs.view) {
                this.center = this.$refs.view.$view.getCenter();
              }
            }

            if (this.activeSegment && ((this.coordIndex + 1) < this.activeSegment.geometry.coordinates.length)) {
              const currentCoordinate = this.geodudePosition;
              const nextCoordinate = this.activeSegment.geometry.coordinates[this.coordIndex + 1];

              if (containerElement) {
                const currentDirection = this.deviceFacingDirection +
                  radToDeg(Math.atan2(nextCoordinate[1] - currentCoordinate[1],
                                      nextCoordinate[0] - currentCoordinate[0])) +
                  90;

                const isMovingLeft = currentDirection < 45 || currentDirection > 225;

                if (isMovingLeft) {
                  containerElement.classList.remove('flip');
                } else {
                  containerElement.classList.add('flip');
                }
              }
            }

            this.coordIndex++;

            this.secondsOnCurrentLevel += seconds;

            this.moveGeodude();
          }, ms);
        }
      }
    },
    updateFeatures() {
      let features = [];

      features = features.concat(this.buildingFeatures.map((feature) => {
          feature.properties.thing = 'base';
          return feature;
        }),
        this.levelFeatures.filter((feature) =>
                                  feature.properties.level === this.currentFloorId).map((feature) => {
          feature.properties.thing = 'level_overview';
          return feature;
        }),
        this.obstructionFeatures.filter((feature) =>
                                        feature.properties.level === this.currentFloorId).map((feature) => {
          feature.properties.thing = 'wall';
          return feature;
        }),
        this.spaceFeatures.filter((feature) =>
                                  feature.properties.level === this.currentFloorId).map((feature) => {
          feature.properties.randomInt = Math.floor(Math.random() * 100000);
          feature.properties.thing = 'innards';
          return feature;
        }),
        this.connectionFeatures.filter((feature) =>
                                        feature.properties.level === this.currentFloorId).map((feature) => {
          feature.properties.thing = 'connection';
          return feature;
        }),
      );

      if (this.currentFloorId === '5d76b6b314dfb90011df096a') {
        features = features.concat(
          [
            {
              name: '5th Avenue',
              coordinates: [-73.977353, 40.7581912],
            },
            {
              name: '50th Street',
              coordinates: [-73.9766038, 40.7582535],
            },
            {
              name: '49th Street',
              coordinates: [-73.9770112, 40.7576786],
            },
          ].map((item) => ({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: item.coordinates,
            },
            properties: {
              type: 'street',
              name: item.name,
            },
          })),
        );
      }

      if (this.routes) {
        const activeSegments = this.routes[this.currentRouteType].segments.filter(
          (segment) => segment.properties.level === this.currentFloorId,
        );

        // This will always set the active segment to the first segment on the active floor. If there
        // are any routes with more than one segment on a floor, the geodude will never reach the
        // subsequent segments on that floor.
        this.activeSegmentIndex = this.routes[this.currentRouteType].segments.indexOf(
          activeSegments[0],
        );

        if (this.activeSegmentIndex < 0) {
          this.activeSegmentIndex = 0;
        }

        features = features.concat(
          activeSegments,

          // Create a geojson Point for each elevator/escalator/route_start/route_end
          activeSegments.reduce((accum, segment) => {
            ['start', 'end'].forEach((spot) => {
              const coord =
                spot === 'start'
                  ? segment.geometry.coordinates[0]
                  : segment.geometry.coordinates[
                      segment.geometry.coordinates.length - 1
                    ];

              if (
                ['elevator', 'escalator', 'route_start', 'route_end'].includes(
                  segment.properties[spot],
                )
              ) {
                accum.push({
                  type: 'Feature',
                  geometry: {
                    type: 'Point',
                    coordinates: coord,
                  },
                  properties: {
                    type: segment.properties[spot],
                  },
                });
              }
            });

            return accum;
          }, []),
        );
      }

      if (!this.routes) {
        const startingPointNavNode = this.navNodes.find((navNode) => navNode.properties.id === this.deviceFeatureId);

        if (startingPointNavNode.properties.level === this.currentFloorId) {
          features.push({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: startingPointNavNode.geometry.coordinates,
            },
            properties: {
              type: 'route_start',
            },
          });
        }
      }

      const validatedFeatures = features.filter((feature) => this.validateCoordinates(feature.geometry.coordinates));

      this.features = validatedFeatures;
    },
  },
  computed: {
    styleFuncFactoryProp() {
      return this.styleFuncFactory;
    },
    deviceLevelId() {
      const deviceData = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];
      const deviceNavNode = this.navNodes.find((navNode) => navNode.properties.id === deviceData);

      if (this.ttpStartingLevel) {
        return this.ttpStartingLevel;
      } else {
        return deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.level ?
          deviceNavNode.properties.level :
          '5d76b761ff4bdb00110b0a09';
      }
    },
    levelList() {
      return this.levels.map((level) => level.number).sort();
    },
    levels() {
      return this.$store.getters['appData/LEVELS'];
    },
    geodudePosition() {
      return this.routes ? this.activeSegment.geometry.coordinates[this.coordIndex] : null;
    },
    activeRoute() {
      return this.routes ? this.routes[this.currentRouteType] : null;
    },
    mapObject() {
      return this.$refs.map.$map;
    },
    activeSegment() {
      return this.routes ? this.activeRoute.segments[this.activeSegmentIndex] : null;
    },
    deviceFeatureId() {
      const deviceData = this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FEATURE_ID`];
      const deviceNavNode = this.navNodes.find((navNode) => navNode.properties.id === deviceData);

      if (this.ttpStartingNode) {
        return this.ttpStartingNode;
      } else {
        return deviceNavNode && deviceNavNode.properties && deviceNavNode.properties.id ?
          deviceNavNode.properties.id :
          'n_5d7a46f73b1a6949f800000c';
      }
    },
    deviceFacingDirection() {
      return this.ttpFacingDirection || this.$store.getters[`${process.env.VUE_APP_FALLBACK_DEVICE_ID}/FACING_DIRECTION`];
    },
    navNodes() {
      return this.$store.getters['appData/NAV_NODES'];
    },
    buildingFeatures() {
      return this.$store.getters['appData/BUILDING_FEATURES'];
    },
    levelFeatures() {
      return this.$store.getters['appData/LEVEL_FEATURES'];
    },
    connectionFeatures() {
      return this.$store.getters['appData/CONNECTION_FEATURES'];
    },
    obstructionFeatures() {
      return this.$store.getters['appData/OBSTRUCTION_FEATURES'];
    },
    spaceFeatures() {
      return this.$store.getters['appData/SPACE_FEATURES'];
    },
    pois() {
      return this.$store.getters['appData/POIS'];
    },
    rotation() {
      return degToRad(this.deviceFacingDirection + 33.5);
    },
  },
  watch: {
    currentFloorId(newVal, oldVal) {
      this.updateFeatures();

      this.currentZoom = this.levelZooms[newVal];
      this.center = this.levelCenters[newVal];
    },
    currentRouteType() {
      this.updateFeatures();
      this.resetGeodude();

      const newLevel = this.routes
        ? this.routes[this.currentRouteType].segments[0].properties.level
        : this.poiList && !this.somePOIsOnLevel(this.deviceLevelId)
        ? this.poiList[0].level
        : this.deviceLevelId;

      if (this.currentFloorId !== newLevel) {
        this.changeFloor(newLevel);
      }
    },
  },
  beforeDestroy() {
    clearTimeout(this.levelTimeout);
    clearTimeout(this.goThisWayTimeout);
    clearTimeout(this.mapInteractionTimeout);
    clearTimeout(this.geodudeResetTimeout);
    clearTimeout(this.goBackToFirstLevelTimeout);
  },
};
</script>