<template>
    <fragment>
        <div class="wayfinder-directions" v-bind:class="{ 'wayfinder-directions_fullscreen': !goThisWayDone }">
            <div class="wayfindingCard">
                <div class="wayfindingCard-bd">
                    <div class="wayfindingCard-bd-indicator" :style="arrowStyle">
                        <icon-base class="wayfindingCard-bd-indicator-icon wayfindingCard-bd-indicator-icon_arrow" :width="76.9" :height="72.7" iconColor="black" stroke="black"><DirectionArrowIcon /></icon-base>
                        <icon-base class="wayfindingCard-bd-indicator-icon wayfindingCard-bd-indicator-icon_behind" :width="95.3" :height="74.1" iconColor="transparent" stroke="black"><DirectionBehindIcon /></icon-base>
                    </div>
                    <div class="wayfindingCard-bd-directionContent" v-html="getDirectionText()"></div>
                    <div class="wayfindingCard-bd-destinationFloor">{{ destinationIsOnText }} {{ targetLevel }}</div>
                    <div class="wayfindingCard-bd-timeToDestination" v-if="goThisWayDone">{{ timeToDestination }} {{ minutesToDestinationText }}</div>
                </div>
            </div>
        </div>
    </fragment>
</template>

<style lang="scss" scoped>
    .wayfinder-directions {
        height: 163px;
        position: absolute;
        left: 20px;
        top: 20px;
        transform: scale(1);
        transition: all .5s;
        width: 300px;

        &.wayfinder-directions_fullscreen {
            background: #fff;
            height: 640px;
            top: 0;
            left: 0;
            position: absolute;
            transform: translate(-1%, 39%) scale(3);
            width: 362px;
            z-index: 6;
        }
    }

    .wayfindingCard-bd {
        position: absolute;
        left: 50%;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .wayfindingCard-bd-indicator {
        height: 71px;
        margin: 0 auto 20px;
        position: relative;
        width: 71px;

        & .wayfindingCard-bd-indicator-icon_behind {
            display: none;
        }

        &.wayfindingCard-bd-indicator_behind {
            & .wayfindingCard-bd-indicator-icon {
                max-width: 27px;
                left: calc(50% - 11px);
                top: calc(50% - 6px);
            }

            & .wayfindingCard-bd-indicator-icon_arrow {
                display: none;
            }

            & .wayfindingCard-bd-indicator-icon_behind {
                display: block;
            }
        }
    }

    .wayfindingCard-bd-directionContent {
        font-family: 'Gotham-Bold';
        font-size: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .wayfindingCard-bd-destinationFloor {
        font-family: 'Gotham-Medium';
        font-size: 15px;
        margin: 0 auto;
    }

    .wayfindingCard-bd-timeToDestination {
        font-size: 12px;
        margin-top: 5px;
    }
</style>

<script>
import DirectionArrowIcon from '@/components/Icons/DirectionArrow.vue';
import DirectionBehindIcon from '@/components/Icons/DirectionBehind.vue';

export default {
  name: 'wayfinder-directions',
  components: {
      DirectionArrowIcon,
      DirectionBehindIcon,
  },
  data() {
    return {
      averageMetersPerStep: 0.8,
      averageWalkingMetersPerMinute: 100,
      averageWheelchairMetersPerMinute: 65,
      elevatorText: '',
      escalatorText: '',
      thisWayText: '',
      destinationIsOnText: '',
      minutesToDestinationText: '',
      goText: '',
    };
  },
  async created() {
    this.elevatorText = await this.getDynamicTranslation('elevator');
    this.escalatorText = await this.getDynamicTranslation('escalator');
    this.thisWayText = await this.getDynamicTranslation('this way');
    this.destinationIsOnText = await this.getDynamicTranslation('Destination is on');
    this.minutesToDestinationText = await this.getDynamicTranslation('minutes to destination');
    this.goText = await this.getDynamicTranslation('Go');
  },
  props: {
    targetLevel: {
      type: String,
      required: true,
    },
    verticalType: {
      type: String,
      validator: (val) => ['escalator', 'elevator', 'route_end'].includes(val),
      required: false,
    },
    numberOfSteps: {
      type: Number,
      required: true,
    },
    currentRouteType: {
      type: String,
      validator: (val) => ['walking', 'wheelchair'].includes(val),
      required: true,
    },
    initialDirection: {
      type: Number,
      required: true,
    },
    goThisWayDone: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    getDirectionText() {
      switch (this.verticalType) {
        case 'elevator':
          return `${this.elevatorText} <br>${this.thisWayText}`;
          break;
        case 'escalator':
          return `${this.escalatorText} <br>${this.thisWayText}`;
          break;
        default:
          return `${this.goText} <br>${this.thisWayText}`;
      }
    },
  },
  computed: {
    timeToDestination() {
      const distanceInMeters = Math.abs(this.numberOfSteps) * this.averageMetersPerStep;

      return (this.currentRouteType === 'walking') ?
        Math.ceil(distanceInMeters / this.averageWalkingMetersPerMinute) + 1 :
        Math.ceil(distanceInMeters / this.averageWheelchairMetersPerMinute) + 1;
    },
    arrowStyle() {
      return `transform: rotate(${this.initialDirection}deg);`;
    },
  },
};
</script>