<template>
    <div class="wayfinder-options" v-bind:class="{ 'wayfinder-options_ada' : isAda }">
        <div class="wayfinder-options-modeOfTravel">
            <div
              @click="changeRouteType('walking')"
              class="wayfinder-options-modeOfTravel-walk"
              :class="(currentRouteType === 'walking') ? 'wayfinder-options-modeOfTravel_isSelected' : ''">
                <icon-base class="wayfinder-options-modeOfTravel-walk-icon" :width="19.4" :height="25" iconColor="black" stroke="white"><WalkingManIcon /></icon-base>
            </div>
            <div
              @click="changeRouteType('wheelchair')"
              class="wayfinder-options-modeOfTravel-wheels"
              :class="(currentRouteType === 'wheelchair') ? 'wayfinder-options-modeOfTravel_isSelected' : ''">
                <icon-base class="wayfinder-options-modeOfTravel-wheels-chair-icon" :width="22.1" :height="28.3" iconColor="black" stroke="white"><WheelchairIcon /></icon-base>
                <icon-base class="wayfinder-options-modeOfTravel-wheels-plus-icon" :width="7.9" :height="8.1" iconColor="black" stroke="white"><PlusIcon /></icon-base>
                <icon-base class="wayfinder-options-modeOfTravel-wheels-stroller-icon" :width="26.3" :height="28.3" iconColor="black" stroke="white"><StrollerIcon /></icon-base>
            </div>
        </div>
        <div @click="openTTP" class="wayfinder-options-textDirections">
            <icon-base class="wayfinder-options-textDirections-icon" :width="14" :height="25" iconColor="black" stroke="white"><PhoneIcon /></icon-base>
            <span>{{ textMeDirectionsText }}</span>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .wayfinder-options {
        background-color: white;
        border: 1px solid #000;
        opacity: 0.95;
        position: absolute;
        right: 90px;
        top: 25px;
        width: 263px;
        z-index: 5;

        & > *:first-child {
            border-bottom: 1px solid #000;
        }
    }

    .wayfinder-options-modeOfTravel {
        align-items: stretch;
        display: flex;
        justify-content: space-between;

        & > * {
            flex: 1 0 auto;
            padding: 25px 0;
            text-align: center;
        }
    }
    
    .wayfinder-options-modeOfTravel_isSelected {
        background: #000;

        & * {
            fill: #fff;
            stroke: #000;
        }
    }

    .wayfinder-options-modeOfTravel-walk {
        width: 33.333%;
    }

    .wayfinder-options-modeOfTravel-wheels {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 66.666%;

        & > * {
            flex: 1 0 auto;
            margin-left: 10px;
            
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .wayfinder-options-textDirections {
        align-items: center;
        display: flex;
        font-family: 'Gotham-Bold';
        font-size: 12px;
        justify-content: center;
        padding: 25px 0;
        text-transform: uppercase;

        &  > span {
            display: block;
            max-width: 65%;
        }
    }

    .wayfinder-options-modeOfTravel-walk-icon {
        max-width: 20px;
    }

    .wayfinder-options-modeOfTravel-wheels-chair-icon {
        max-width: 22px;
    }
    
    .wayfinder-options-modeOfTravel-wheels-plus-icon {
        max-width: 8px;
    }

    .wayfinder-options-modeOfTravel-wheels-stroller-icon {
        max-width: 26px;
    }

    .wayfinder-options-textDirections-icon {
        margin-right: 20px;
        max-width: 9px;
        position: relative;
        top: -7px;
    }

    .wayfinder-options_ada {
        align-items: stretch;
        background: white;
        border: 0;
        bottom: 140px;
        display: flex;
        justify-content: space-between;
        left: 50%;
        position: fixed;
        top: inherit;
        transform: translateX(-50%);
        width: 836px;

        & > * {
            border: 2px solid #000;
            flex: 1 0 calc(50% - 8px);
            max-width: calc(50% - 8px);
        }
    }

    body[style*="direction: rtl"] .wayfinder-options_ada {
        left: initial;
        right: 50%;
        transform: translateX(50%);
    }
    
    body[style*="direction: rtl"] .wayfinder-options-textDirections > span {
        padding-right: 20px;
    }

    body[style*="direction: rtl"] .wayfinder-options-modeOfTravel-wheels {
        direction: ltr;
    }

</style>

<script>
import PhoneIcon from '@/components/Icons/Phone.vue';
import PlusIcon from '@/components/Icons/Plus.vue';
import StrollerIcon from '@/components/Icons/Stroller.vue';
import WalkingManIcon from '@/components/Icons/WalkingMan.vue';
import WheelchairIcon from '@/components/Icons/Wheelchair.vue';

export default {
  name: 'wayfinder-options',
  components: {
    PhoneIcon,
    PlusIcon,
    StrollerIcon,
    WalkingManIcon,
    WheelchairIcon,
  },
  data() {
    return {
        textMeDirectionsText: '',
        voiceCommands: [],
    };
  },
  props: {
    currentRouteType: {
      type: String,
      validator: (val) => ['walking', 'wheelchair'].includes(val),
      required: true,
    },
    isAda: {
        type: Boolean,
        default: false,
    },
  },
  async created() {
    this.textMeDirectionsText = await this.getDynamicTranslation('Text Me Directions');
  },
  mounted() {
    this.voiceCommands = [
        {
            indexes: [ 'wheelchair route', 'accessible route', 'stroller route', 'elevator route' ],
            action: () => {
                this.changeRouteType('wheelchair');
            },
        },
        {
            indexes: [ 'walking route', 'regular route' ],
            action: () => {
                this.changeRouteType('walking');
            },
        },
        {
            indexes: [ 'text me directions', 'text to phone', 'send me directions', 'send directions to me' ],
            action: () => {
                this.openTTP();
            },
        },
    ];

    this.$emit('componentVoiceCommands', this.voiceCommands);
  },
  methods: {
    changeRouteType(newType) {
      this.$emit('changeRouteType', newType);
    },
    openTTP() {
      this.$emit('openTTP');
    },
  },
};
</script>